<template>
  <div>
    <el-form-item label="区域筛选">
      <el-col :span="6">
        <el-form-item>
          <el-select v-model="province" disabled filterable placeholder="请选择省">
            <el-option
              v-for="item in provinces"
              :key="item.index"
              :label="item.areaname"
              :value="item.areaid">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="6">
        <el-form-item>
          <el-select v-model="city" disabled filterable placeholder="请选择市">
            <el-option
              v-for="item in citys"
              :key="item.index"
              :label="item.areaname"
              :value="item.areaid">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="6">
        <el-form-item>
          <el-select v-model="area" filterable placeholder="请选择区" @change="selectArea" :disabled="isdisable">
            <el-option
              v-for="item in areas"
              :key="item.index"
              :label="item.areaname"
              :value="item.areaid">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-form-item>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  props: {
    province: {
      default: ''
    },
    city: {
      default: ''
    },
    area: {
      default: ''
    },
    isdisable: {
      default: true
    }
  },
  data () {
    return {
      provinces: [],
      citys: [],
      areas: []
    }
  },
  watch: {
    
  },
  computed: {
    
  },
  created () {
    this.provinceList();
    this.cityList();
    this.areasList();
  },
  mounted () {
    
  },
  beforeDestroy () {
    
  },
  methods: {
    selectArea (value) {
       this.$emit('handleAddress', {
        city: this.citys,
        province: this.provinces,
        area: value
      })
    },
    provinceList() {
      //省列表
      http.post("/areas/getlist.do", {})
        .then((result) => {
          if (result.status === 1) {
            this.provinces = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch((error) => {
          this.$message.error(error);
        });
    },
    cityList() {
      //市列表
      http.post("/areas/selectbyparentid.do", {
        parentid: this.province
      }).then((result) => {
        if (result.status === 1) {
          this.citys = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch((error) => {
        this.$message.error(error);
      });
    },
    areasList() {
      //区列表
      http.post("/areas/selectbyparentid.do", {
        parentid: this.city
      }).then((result) => {
          if (result.status === 1) {
            this.areas = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch((error) => {
          this.$message.error(error);
        });
    }
  }
    
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
</style>
