<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-30 23:05:41
 * @LastEditTime: 2019-08-19 15:02:09
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="admin-page">
    <div class="wrapper">
      <v-head></v-head>
      <div class="content-wrapper">
        <v-sidebar></v-sidebar>
        <div class="content-box content-collapse">
           <v-tags></v-tags>
          <div class="content">
            <transition name="move" mode="out-in">
              <!-- 只有在标签页列表里的页面才使用keep-alive，即关闭标签之后就不保存到内存中了 -->
              <keep-alive :include="tagsList">
                <router-view></router-view>
              </keep-alive>
            </transition>
          </div>
          <div class="content-footer"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import vHead from "./header.vue";
import vSidebar from "./sidebar.vue";
import vTags from './tags.vue';
import { mapState } from "vuex";
export default {
  data() {
    return {
      hvalue: 1000
    };
  },
  components: {
    vHead,
    vSidebar,
    vTags
  },
  computed: {
    ...mapState([
      'adminId',
      'tagsList'
    ])
  },
  created() {

  },
  mounted () {

  },
  methods: {
    computedHeight () {
       let value =  document.documentElement.clientHeight || document.body.clientHeight;
      this.hvalue = value - 80;
    }
  }
};
</script>
<style lang="scss" scoped>
.admin-page {
  width: 100%;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  .content-wrapper {
    display: flex;
  }
  .content-box {
    flex: 1;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    .content {
      width: auto;
      height: 100%;
      padding: 15px;
      box-sizing: border-box;
      flex: 1;
    }
    .content-footer {
      margin-top: 10px;
      height: 48px;
    }
  }
}
</style>
