<template>
  <div class="sidebar">
    <el-menu
      class="sidebar-el-menu"
      :default-active="$route.fullPath"
      background-color="#324157"
      text-color="#bfcbd9"
      active-text-color="#20a0ff"
      router
      @select = "selectActive"
      :unique-opened = "true"
    >
      <template v-for="item in sidebarMenus">
        <template v-if="item.children.length">
          <el-submenu :index="item.id" :key="item.id">
            <template slot="title">
              <i class="iconfont" :class="item.icon" style="margin-right: 8px;"></i>
              <span slot="title">{{ item.name }}{{item.index}}</span>
            </template>
            <template v-for="subItem in item.children">
              <el-submenu v-if="subItem.children.length" :index="subItem.url" :key="subItem.index">
                <template slot="title">{{ subItem.name }}</template>
                <el-menu-item
                  v-for=" threeItem in subItem.children"
                  :index="threeItem.url"
                  :key="threeItem.index"
                >{{ threeItem.name }}</el-menu-item>
              </el-submenu>
              <el-menu-item v-else :index="subItem.url" :key="subItem.url">
                <i class="iconfont" :class="subItem.icon" style="margin-right: 8px;"></i>
                <span slot="title">{{ subItem.name }}</span>
              </el-menu-item>
            </template>
          </el-submenu>
        </template>
        <template v-else>
          <el-menu-item :index="item.url" :key="item.url">
            <i class="iconfont" :class="item.icon" style="margin-right: 8px;"></i>
            <span slot="title">{{ item.name }}</span>
          </el-menu-item>
        </template>
      </template>
    </el-menu>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      items: [
        {
          icon: "el-icon-menu",
          url: "",
          name: "酒店中心",
          id: "1",
          children: [{
            id: "2",
            icon: "",
            url: "/hotel/base",
            name: "基本信息",
            children: []
          }]
        },
        {
          icon: "el-icon-menu",
          url: "",
          name: "宴会厅管理",
          id: "3",
          children: [{
            id: "4",
            icon: "",
            url: "/hotel/yht",
            name: "宴会厅列表",
            children: []
          }]     
        },
        {
          icon: "el-icon-menu",
          url: "",
          name: "活动管理",
          id: "5",
          children: [{
            id: "6",
            icon: "",
            url: "/hotel/activity",
            name: "活动列表",
            children: []
          }]     
        },
        {
          icon: "el-icon-menu",
          url: "",
          name: "菜单管理",
          id: "7",
          children: [{
            id: "8",
            icon: "",
            url: "/hotel/menu",
            name: "菜单列表",
            children: []
          },{
            id: "8",
            icon: "",
            url: "/hotel/caipin",
            name: "菜品列表",
            children: []
          }]     
        }    
      ]
    };
  },
  computed: {
     ...mapState([
      'sidebarMenus'
    ])
  },
  created() {
    //console.log(this.sidebarMenus)
  },
  methods: {
    selectActive (index, indexPath) {
      //console.log(index)
      //console.log(indexPath)
    }
  }
};
</script>

<style scoped>
.sidebar1 {
  display: block;
  position: absolute;
  left: 0;
  top: 70px;
  bottom: 0;
  overflow-y: scroll;
}
.sidebar {
  display: block;
}
.sidebar::-webkit-scrollbar {
  width: 0;
}
.sidebar-el-menu:not(.el-menu--collapse) {
  width: 200px;
}
.sidebar > ul {
  height: 100%;
}
</style>
