<template>
  <div class="login-page">
    <a target="_blank" href="javascript:;" class="logo">
      <img src="~@/assets/images/uu_logo_home.png" style="width:185px;height:54px;" alt="">
    </a>
    <div class="content">
      <div class="content-middle">
        <h2 class="content-title">账户登陆</h2>
        <div class="content-form">
          <ul class="form-ul">
            <li class="form-li">
              <input type="text" v-model="formdata.account" maxlength="11" name="account"  class="input-item" placeholder="请输入您的手机号" @blur="handleSave"/>
              <img class="input-icon" src="~@/assets/images/user_icon.png" alt="">
            </li>
            <li class="form-li">
              <input type="password" v-model="formdata.pwd" name="pwd" class="input-item" placeholder="请输入您的密码" v-on:keyup.enter="submitForm"/>
              <img class="input-icon" src="~@/assets/images/password_icon.png" alt="">
            </li>
          </ul>
          <input type="checkbox" class="xz" id="xz" ref="checkren" @click="handleSave"/><span class="tips"><label for="xz">记住账号</label></span>
          <router-link to="/forget" class="forget-a">忘记密码？</router-link>
          <button class="loginbtn" @click="submitForm">登  录</button>
        </div> 
      </div>
      <div class="regist-link">
        <router-link to="/regist">注册账号</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex';
import http from '@/axios/http';
export default {
  data () {
    return {
      current: 0,
      formdata: {
        account: '',
        pwd: ''
      },
    }
  },
  watch: {
    
  },
  computed: {
    
  },
  created () {
    
  },
  mounted () {
     this.$nextTick(() => {
       if (localStorage.getItem('uuadmin')) {
          this.$refs.checkren.checked = true;
          this.formdata.account = localStorage.getItem('uuadmin');
        } else {
          this.$refs.checkren.checked = false;
        }
     })
  },
  beforeDestroy () {
    
  },
  methods: {
    handleSave () {
      if (this.$refs.checkren.checked && /^1\d{10}$/.test(this.formdata.account)) {
        localStorage.setItem('uuadmin', this.formdata.account)
      } else {
        localStorage.removeItem('uuadmin')
      }
    },
    changRegist (index) {
      this.current = index;
    },
    submitForm (index) {
      const account = this.formdata.account;
      const pwd = this.formdata.pwd;
      if (!/^1\d{10}$/.test(account)) {
        this.$message.warning('手机号为11位');
      } else if (pwd.length > 16 || pwd.length < 6) {
        this.$message.warning('密码长度为6-16个字符');
      } else {
        const params = {
          account: account,
          pwd: pwd
        }
        this.disableSubmit = true;
        this.loginAdmin(params);
      }
    },
    loginAdmin (params) {
      http.post('/hotel/login.do', params)
      .then((result) => {
        if (result.status === 1) {
          // console.log(result)
          this.$message.success(result.msg);
          let data = {}
          data.type = result.type;
          data.id = result.data.id;
          data.name = result.data.name;
          data.account = result.data.account;
          data.province = result.data.province;
          data.city = result.data.city;
          data.area = result.data.area;
          sessionStorage.setItem('uulogin', JSON.stringify(data))
          if (result.type === 1) {
            // 酒店登录
            this.$router.push('/hotel');
          } else if (result.type === 3) {
            // 婚车登录
            this.$router.push('/car');
          } else if (result.type === 2) {
            // 商家登录
            this.$router.push('/merchant');
          } else {
            // 设计师
            this.$router.push('/design');
          }
          
        } else {
          this.$message.warning(result.msg);
        }
      }).catch((error) => {
        this.$message.error(error);
      })
      this.disableSubmit = false;
    }
  },
  components: {
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.login-page {
  background-image: url(~@/assets/images/cover-02.d65dbf3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    width:185px;
    height:54px;
    display: block;
    position: absolute;
    left: 50px;
    top: 50px;
    img {
      width:185px;
      height:54px;
      display: block;
    }
  }
  .content {
    width: 500px;
    background: #ebeef5;
    padding: 20px 0;
    .content-middle {
      width: 500px;
      text-align: center;
      .content-title {
        font-weight: 700;
        font-size: 20px;
        height: 40px;
        line-height: 40px;
        color: #000;
        letter-spacing: 2px;
      }
      .content-form {
        width: 430px;
        padding-top: 20px;
        margin: 0 auto;
        ul.form-ul {
          li.form-li {
            width: 430px;
            display: block;
            position: relative;
            height: 50px;
            margin-bottom: 20px;
            .input-item {
              width: 430px;
              height: 50px;
              line-height: 50px;
              padding-left: 60px;
              font-size: 14px;
              border: 1px solid #d7d7d7;
              color: #333;
              background: #fff;
              box-sizing: border-box;
            }
            .input-icon {
              position: absolute;
              top: 50%;
              left: 15px;
              width: 27px;
              margin-top: -14px;
              height: 27px;
            }
          }
        }
        .xz {
          float: left;
          color: #333;
        }
        span.tips {
          float: left;
          font-size: 12px;
          position: relative;
          bottom: 2px;
          padding-left: 5px;
        }
        a.forget-a {
          float: right;
          font-size: 12px;
          color: #333;
          &:hover {
            color: #fd4825;
          }
        }
        button.loginbtn {
          font-size: 20px;
          width: 430px;
          height: 50px;
          line-height: 50px;
          background: linear-gradient(260deg,#fd4825,#dc0000);
          border: 0;
          color: #fff;
          cursor: pointer;
          margin-top: 20px;
          border-radius: 5px;
          &:hover {
            background: linear-gradient(92deg,#fd4825,#dc0000);
          }
        }
      }
    }
    .regist-link {
      width: 500px;
      height: auto;
      margin: 0 auto;
      padding-top: 20px;
      text-align: center;
      a {
        color: #333;
        font-size: 14px;
        &:hover {
          color: #fd4825;
        }
      }
    }
  }
}
placeholder {
  color: #d2d2d2;
}
</style>
