<template>
  <div>
    <div class="avatar" v-show="path">
      <div class="avatar avatar-txt">已上传</div>
      <span class="avatar-actions">
        <span class="actions-icon" @click="handlePreview">
          <i class="el-icon-zoom-in"></i>
        </span>
        <span class="actions-icon" @click="handleDelete">
          <i class="el-icon-delete"></i>
        </span>
      </span>
    </div>
    <el-upload
      v-show="!path"
      class="avatar-uploader"
      action="/conmon/uploadmv.do"
      :show-file-list="false"
      :on-success="handleAvatarSuccess"
      :before-upload="beforeAvatarUpload"
    >
      <div class="avatar" 
        v-loading="loading"
        v-show= "loading"
        element-loading-text="上传中"
        element-loading-spinner="el-icon-loading"
        element-loading-background="rgba(0, 0, 0, 0.8)"
      >
      </div>
      <i v-show = "!loading" class="el-icon-plus avatar-uploader-icon"></i>
    </el-upload>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  props: {
    path: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      dialogVisible: false,
      loading: false,
      previewVideo: false,
      check: true
    }
  },
  watch: {
    
  },
  computed: {
    
  },
  components: {
    
  },
  mounted () {
    
  },
  beforeDestroy () {
    
  },
  methods: {
    beforeAvatarUpload(file) {
      console.log(file)
      const isJPG = file.type === "video/mp4" || "video/mp3";
      if (!isJPG) {
        this.$message.error("上传请上传正确的视频格式!");
      }
      const ismp4 = file.type === "video/mp4";
      const ismp3 = file.type === "video/mp3";
      const isLt2M = file.size / 1024 / 1024 < 100;
      if (!ismp4 && !ismp3) {
        this.$message.error("上传视频只能是 mp4 或者 mp3格式!");
      }
      if (!isLt2M) {
        this.$message.error('上传图片大小不能超过 100MB!');
      }
      if ((ismp4 || ismp3) && isLt2M) {
        this.loading = true;
      }
      return (ismp4 || ismp3) && isLt2M;  
    },
    handleAvatarSuccess(response, file, fileList) {
      if (parseInt(response.status) === 1) {
        this.loading = false;
        let path = response.path;
        this.$emit('upVideo', path)
      }
    },
    handlePreview () {
      this.$emit('previewVideo', this.path)
    },
    handleDelete () {
      this.$emit('upVideo', '');
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.avatar-uploader {
  .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &:hover {
      border-color: #409EFF;
    }
  }
  .avatar-uploader-icon {
    font-size: 20px;
    color: #8c939d;
    width: 94px!important;
    height: 94px!important;
    line-height: 94px!important;
    text-align: center;
  }
}
.avatar {
  width: 94px!important;
  height: 94px!important;
  display: block;
  position: relative;
  border-radius: 6px;
  cursor: pointer;
  background: #d9d9d9;
  .avatar-txt {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 94px;
    border-radius: 6px;
    text-align: center;
    color: #409EFF;
  }
  .avatar-actions {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    left: 0;
    top: 0;
    cursor: default;
    text-align: center;
    color: #fff;
    opacity: 0;
    font-size: 20px;
    background-color: rgba(0,0,0,.5);
    transition: opacity .3s;
    &::after {
      display: inline-block;
      content: '';
      height: 100%;
      vertical-align: middle;
    }
    .actions-icon {
      display: inline-block;
      cursor: pointer;
      margin: 0 5px;
    }
  }
  &:hover {
    .avatar-actions {
      opacity: 1;
    }
  }
}
</style>
