<template>
  <div></div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
import axios from 'axios'
import jsonp from 'jsonp'
export default {
  data () {
    return {
      
    }
  },
  watch: {
    
  },
  computed: {},
  mounted () {
    const url = 'http://api.map.baidu.com/place/v2/suggestion?query=天安门&region=北京&city_limit=true&output=json&ak=RT0fOnwWykVORC6WIktHEgRnsqv3TtVP'
    // axios.get(url)
    //   .then((res) => {
    //     console.log(res)
    // })
    jsonp('http://www.phonegap100.com/appapi.php?a=getPortalList&catid=20', null, (err,data) => {
      if (err) {
        console.log(err)
      } else {
        console.log(data)
      }
    })
  },
  beforeDestroy () {
    
  },
  methods: {
  
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
</style>
