<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-30 23:05:41
 * @LastEditTime: 2019-08-19 23:52:01
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-s-data crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-table">
        <ul class="table-ul">
          <li class="table-li"
            v-for="(item, index) in tableData" :key="index"
            :class="{'table-li-active': current === index}"
            @click="handleEdit(index, item)"
          >
            <span class="li-span">{{item.name}}</span>
            <!-- <span class="nopass-icon" v-show="item.backupstatus !== 2">
              <i class="el-icon-warning"></i>
            </span> -->
          </li>
          <li class="table-li" :class="{'table-li-last': current === -100}" @click="handleAdd">
            <i class="el-icon-plus add-icon"></i>
          </li>
        </ul>
      </div>
    </el-card>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span v-if="current === -100 "><i class="el-icon-s-unfold crumbs-i-right"></i>新增酒店活动</span>
          <span v-else><i class="el-icon-s-unfold crumbs-i-right"></i>酒店活动信息</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-form">
        <el-form ref="editform" :model="editform" label-width="100px" :rules="rules">
          <el-row>
            <el-col :span="24">
              <el-form-item label="活动名称" prop="name">
                  <el-input type="textarea" :rows="2" resize="none" v-model="editform.name" placeholder="请输入" maxlength="3"
                  show-word-limit></el-input>
                </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="活动状态" prop="status">
                <el-radio v-model="editform.status" :label="1">启用</el-radio>
                <el-radio v-model="editform.status" :label="0">未启用</el-radio>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="活动内容" required>
                <quill-editor
                  v-model="editform.content"
                  :options="editorOption"
                  @change="onEditorChange($event)"
                ></quill-editor>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row v-if="current === -100">
            <el-col :span="24" style="text-align: center">
              <el-button type="primary" @click="saveAdd('editform')">确认新增</el-button>
              <el-button type="danger" @click="resetForm">重置</el-button>
            </el-col>
          </el-row>
          <el-row v-else>
            <el-col :span="24" style="text-align: center">
              <el-button type="primary" @click="confirmEidt" v-show="editform.updateicon">确认修改</el-button>
              <el-button type="info" v-show="!editform.updateicon" disabled>正在审核中...</el-button>
              <el-button type="danger" @click="handleDel">删除数据</el-button>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <!-- 编辑提示框 -->
    <el-dialog title="提示" :visible.sync="editVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">是否确定要进行编辑修改？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('editform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">删除不可恢复，是否确定删除？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import { quillEditor } from 'vue-quill-editor'
import quillConfig from '../../../assets/js/quill-config.js'
import http from '@/axios/http'
export default {
  data () {
    return {
      tableData: [],
      current: -100,
      total: 0,
      page: 1,
      limit: 10,
      rowData: {},
      delVisible: false,
      editVisible: false,
      editform: {
        name: '',
        status: 1,
        content: '',
        updateicon: true
      },
      rules: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        status: [{ required: true, message: "不能为空", trigger: "change" }]
      },
      editorOption: quillConfig
    }
  },
  watch: {

  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  created () {
    this.submitData();
  },
  mounted () {

  },
  beforeDestroy () {

  },
  components: {
    quillEditor
  },
  methods: {
    submitData() {
      http.post("/hotel/listactivity.do", {
        hotelid: this.uulogin.id
      }).then((result) => {
        if (result.status === 1) {
          this.tableData = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    resetForm () {
      this.current = -100;
      this.$refs.editform.resetFields();
      this.editform = {
        name: '',
        status: 1,
        content: ''
      };
    },
    handleAdd () {
      this.resetForm()
    },
    saveAdd(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
         if (!this.editform.content) {
           this.$message.warning('活动内容不能为空');
           return
         }
         http.post("/hotel/addactivity.do", {
            hotelid: this.uulogin.id,
            name: this.editform.name,
            status: this.editform.status,
            content: this.editform.content,
          }).then((result) => {
              if (result.status === 1) {
                this.$message.success(result.msg);
                this.resetForm();
                setTimeout(() => {
                  this.submitData();
                }, 20)
              } else {
                this.$message.warning(result.msg);
              }
            })
            .catch(error => {
              this.$message.error(error);
            });
        }
      });
    },
    handleEdit(index, row) {
      this.current = index;
      this.$refs.editform.resetFields();
      http.post("/hotel/activityinfo.do", {
        id: row.id
      }).then((result) => {
        if (result.status === 1) {
          let data = result.data;
          this.editform = data;
          this.rowData = data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    confirmEidt () {
      this.editVisible = true;
    },
    saveEdit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
         if (!this.editform.content) {
           this.$message.warning('活动内容不能为空');
           return
         }
         http.post("/hotel/updateactivity.do", {
            id: this.rowData.id,
            name: this.editform.name,
            status: this.editform.status,
            content: this.editform.content
          }).then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg);
              setTimeout(() => {
                this.submitData();
                this.resetForm();
              }, 20);
              this.editVisible = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    handleDel() {
      this.delVisible = true;
    },
    deleteRow() {
      http.post("/hotel/delactivity.do", {
        id: this.rowData.id
      }).then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          setTimeout(() => {
            this.submitData();
            this.resetForm();
          }, 20);
          this.delVisible = false;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    onEditorChange({ editor, html, text }) {
      this.editform.content = html;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../Home/index.scss';
</style>
