<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-30 23:05:41
 * @LastEditTime: 2019-08-19 23:49:13
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <el-card shadow="always" class="page-title">
      <div class="title-tag">
        <!-- <el-tooltip class="item" effect="dark" content="审核中..." placement="top-start" v-show="form.backupstatus !==2">
          <div class="tag-span span-icon"><i class="el-icon-warning"></i></div>
        </el-tooltip> -->
        <div class="tag-span">酒店商户基本信息</div>
      </div>
    </el-card>
    <el-card shadow="always">
      <div class="container-form">
        <el-form ref="form" :model="form" :rules="rules" label-width="120px">
          <el-row>
            <el-col :span="8">
              <el-form-item label="酒店名称" prop="hotelname">
                <el-input v-model="form.hotelname" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="酒店类型" prop="type">
                <el-select v-model="form.type"  placeholder="请选择" style="width: 100%">
                  <el-option
                    v-for="(item, index) in typeList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="容纳桌数" prop="maxtable">
                <el-select v-model="form.maxtable" filterable placeholder="请选择" style="width: 100%">
                  <el-option
                    v-for="(item, index) in tableList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>

          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="负责人员" prop="contacts">
                <el-input v-model="form.contacts" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="联系方式" prop="account">
                <el-input v-model="form.account" placeholder="请输入" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="价格区间" prop="moneytype">
                <el-select v-model="form.moneytype" placeholder="请选择" style="width: 100%">
                  <el-option
                    v-for="(item, index) in moneyList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="酒店特色" prop="characteristic">
                <el-select v-model="form.characteristic" multiple placeholder="请选择" style="width: 100%">
                  <el-option
                    v-for="(item, index) in styleList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="所属省份" required>
                <el-select v-model="form.province" filterable placeholder="请选择省" @change="selectProvince" style="width: 100%">
                  <el-option
                    v-for="item in provinces"
                    :key="item.index"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="所属城市" required>
                <el-select v-model="form.city" filterable placeholder="请选择市" @change="selectCity" style="width: 100%">
                  <el-option
                    v-for="item in citys"
                    :key="item.index"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="所属区域" required>
                <el-select v-model="form.area" filterable placeholder="请选择区" style="width: 100%">
                  <el-option
                    v-for="item in areas"
                    :key="item.index"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="酒店地址" prop="address">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.address"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="商户坐标经度" prop="longitude">
                <el-input v-model="form.longitude" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="商户坐标维度" prop="latitude">
                <el-input v-model="form.latitude" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-button type="success" @click="openMap" style="margin-left: 30px;">拾取工具</el-button>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="酒店交通" prop="traffic">
                <el-input
                  type="textarea"
                  :rows="5"
                  resize="none"
                  placeholder="请输入..."
                  v-model="form.traffic"
                  maxlength="300"
                  show-word-limit
                  style="width: 806px"
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="酒店简介" prop="introduction">
                <el-input
                  type="textarea"
                  :rows="5"
                  resize="none"
                  placeholder="请输入..."
                  v-model="form.introduction"
                  maxlength="300"
                  show-word-limit
                  style="width: 806px"
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="酒店图片" required>
                <UpImages :fileList="form.pcpath" @upImages="gotPcpath"></UpImages>
                <div class="images-warn">
                  <p>图片建议尺寸：604px*392px</p>
                  <p>图片建议张数：至少5张</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24" style="text-align: center">
              <el-button type="primary" @click="confirmEidt('form')" v-show="form.updateicon">确认修改</el-button>
              <el-button type="info" v-show="!form.updateicon" disabled>正在审核中...</el-button>
              <el-button type="danger" @click="resetForm">重置</el-button>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <!-- 编辑提示框 -->
    <el-dialog title="提示" :visible.sync="editVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">是否确定要进行编辑修改？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('form')">确 定</el-button>
      </span>
    </el-dialog>
    <vMap @mapInfo="mapInfo" @closeMap="closeMap"  :style="{'z-index': isshow}" :longitude="form.longitude" :latitude="form.latitude" :isEdit="true"></vMap>
    <!-- <vMap @mapInfo="mapInfo" @closeMap="closeMap" v-show="ismap" :longitude="form.longitude" :latitude="form.latitude" :isEdit="true"></vMap> -->
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
import UpImages from '@/components/common/Upload/upListImage.vue'
import vMap from '@/components/common/Map/index'
export default {
  data () {
    let validateNum = (rule, value, callback) => {
      if (value) {
        if (!/\d/.test(value)) {
          callback(new Error('输入不合法'));
        } else {
          callback();
        }
      } else {
        callback(new Error('不能为空'));
      }
    };
    return {
      isshow: -99999,
      form: {
        hotelname: '',
        type: '',
        characteristic: [],
        contacts: '',
        account: '',
        introduction: '',
        address: '',
        traffic: '',
        longitude: '',
        latitude: '',
        pcpath: [],
        maxtable: '',
        moneytype: '',
        province: '',
        city: '',
        area: '',
        backupstatus: 0,
        updateicon: true
      },
      rules: {
        hotelname: [{ required: true, message: "不能为空", trigger: "blur" }],
        type: [{ required: true, message: "不能为空", trigger: "change" }],
        characteristic: [{ required: true, message: "不能为空", trigger: "change" }],
        contacts: [{ required: true, message: "不能为空", trigger: "blur" }],
        account: [{ required: true, message: "不能为空", trigger: "blur" }],
        introduction: [{ required: true, message: "不能为空", trigger: "blur" }],
        address: [{ required: true, message: "不能为空", trigger: "blur" }],
        traffic: [{ required: true, message: "不能为空", trigger: "blur" }],
        longitude: [{ validator: validateNum, required: true,  trigger: "blur" }],
        latitude: [{ validator: validateNum, required: true,  trigger: "blur" }],
        maxtable: [{ required: true, message: "不能为空", trigger: "change" }],
        moneytype: [{ required: true, message: "不能为空", trigger: "change" }],
      },
      provinces: [],
      citys: [],
      areas: [],
      editVisible: false,
      moneyList: [],
      styleList: [],
      tableList: [],
      typeList: [],
      ismap: false
    }
  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  created () {
    this.styleData()
    this.moneyData();
    this.typeData();
    this.tableData();
    this.provinceList();
    this.submitData();
  },
  mounted () {

  },
  beforeDestroy () {

  },
  components: {
    UpImages,
    vMap
  },
  methods: {
    submitData () {
      http.post("/hotel/hotelinfo.do", {
        id: this.uulogin.id
      }).then((result) => {
        if (result.status === 1) {
          const data = result.data;
          // console.log(data)
          if (data.province === 0) {
            data.province = '';
            data.city = '';
            data.area = '';
            data.longitude = '';
            data.latitude = '';
            data.maxtable = '';
            data.moneytype = '';
            data.characteristic = [];
            data.type = '';
            data.pcpath = [];
          }
          this.form = data;
          if (data.backupstatus !== 0) {
            this.cityList();
            this.areasList();
          }
          let value = {
            type: this.uulogin.type,
            id: data.id,
            name: this.uulogin.name,
            account: data.account,
            province: data.province,
            city: data.city,
            area: data.area,
            backupstatus: data.backupstatus
          }
          sessionStorage.setItem('uulogin', JSON.stringify(value))
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    confirmEidt (formName) {
      if (this.form.backupstatus === 2) {
        this.editVisible = true;
      } else {
        this.saveEdit(formName);
      }
    },
    saveEdit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
         if (!this.form.pcpath.length) {
           this.$message.warning('图片不能为空');
           return
         }
         let param = {
          id: this.form.id,
          hotelname: this.form.hotelname,
          type: this.form.type,
          contacts: this.form.contacts,
          account: this.form.account,
          introduction: this.form.introduction,
          address: this.form.address,
          traffic: this.form.traffic,
          longitude: this.form.longitude,
          latitude: this.form.latitude,
          maxtable: this.form.maxtable,
          moneytype: this.form.moneytype,
          province: this.form.province,
          city: this.form.city,
          area: this.form.area,
          pcpathjson: JSON.stringify(this.form.pcpath),
          characteristicjson: JSON.stringify(this.form.characteristic)
        }
         http.post("/hotel/updatehotel.do", param)
          .then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg)
              setTimeout(() => {
                this.submitData();
              },20)
              this.editVisible = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    resetForm () {
      this.$refs.form.resetFields();
      this.form = {
        hotelname: '',
        type: '',
        characteristic: [],
        contacts: '',
        account: '',
        introduction: '',
        address: '',
        traffic: '',
        longitude: '',
        latitude: '',
        pcpath: [],
        maxtable: '',
        moneytype: '',
        province: '',
        city: '',
        area: '',
        backupstatus: 0,
        updateicon: true
      },
      this.submitData();
    },
    gotPcpath (value) {
      this.form.pcpath = value;
    },
    openMap () {
      //this.ismap = true;
      this.isshow = 99999;
    },
    closeMap () {
      //this.ismap = false;
      this.isshow = -99999;
    },
    mapInfo (value) {
      this.form.longitude = value.lng;
      this.form.latitude = value.lat;
      this.isshow = -99999;
    },
    selectProvince () {
      this.cityList();
      this.form.city = "";
      this.form.area = "";
      this.areas = [];
    },
    selectCity () {
      this.areasList();
      this.form.area = "";
    },
    provinceList() {
      //省列表
      http.post("/areas/getlist.do", {})
        .then((result) => {
          if (result.status === 1) {
            this.provinces = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch((error) => {
          this.$message.error(error);
        });
    },
    cityList() {
      //市列表
      http.post("/areas/selectbyparentid.do", {
        parentid: this.form.province
      }).then((result) => {
        if (result.status === 1) {
          this.citys = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch((error) => {
        this.$message.error(error);
      });
    },
    areasList() {
      //区列表
      http.post("/areas/selectbyparentid.do", {
          parentid: this.form.city
      }).then((result) => {
          if (result.status === 1) {
            this.areas = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch((error) => {
          this.$message.error(error);
        });
    },
    moneyData () {
      //金额下拉
      http.post("/money/droplist.do", {
        type: 1
      }).then((result) => {
        if (result.status === 1) {
          this.moneyList = result.data
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    tableData () {
      //桌数
      http.post("/type/tabletype.do", {
        type: 1
      }).then((result) => {
        if (result.status === 1) {
          this.tableList = result.data
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    styleData () {
      //酒店特色
      http.post("/style/droplist.do", {
        type: 3
      }).then((result) => {
        if (result.status === 1) {
          this.styleList = result.data
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    typeData () {
      //酒店类型
      http.post("/type/hotletype.do")
      .then((result) => {
        if (result.status === 1) {
          this.typeList = result.data
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../Home/index.scss';
.classZoom {
  z-index: 9999999;
}
</style>
