<template>
  <div class="page">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-s-data crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-table">
        <ul class="table-ul">
          <li class="table-li" 
            v-for="(item, index) in tableData" :key="index"
            :class="{'table-li-active': current === index}"
            @click="handleEdit(index, item)"
          >
            <span class="li-span">{{item.name}}</span>
            <!-- <span class="nopass-icon" v-show="item.backupstatus !== 2">
              <i class="el-icon-warning"></i>
            </span> -->
          </li>
          <li class="table-li" @click="handleAdd" :class="{'table-li-last': current === -100}">
            <i class="el-icon-plus add-icon"></i>
          </li>
        </ul>
      </div>
    </el-card>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span v-if="current === -100 "><i class="el-icon-s-unfold crumbs-i-right"></i>新增酒店菜品</span>
          <span v-else><i class="el-icon-s-unfold crumbs-i-right"></i>酒店菜品信息</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-form" style="min-height: 440px;">
        <div class="form-wrapper">
          <el-form ref="editform" :model="editform" label-width="100px" :rules="rules">
            <el-row>
              <el-col :span="24">
                <el-form-item label="菜品名称" prop="name">
                    <el-input v-model="editform.name" placeholder="请输入"></el-input>
                  </el-form-item>
              </el-col>
              
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="菜品金额" prop="money">
                    <el-input v-model="editform.money" placeholder="请输入"></el-input>
                  </el-form-item>
              </el-col>
            </el-row>
            <el-row v-if="current === -100">
              <el-col :span="24" style="text-align: center;margin-top: 60px;">
                <el-button type="primary" @click="saveAdd('editform')">确认新增</el-button>
                <el-button type="danger" @click="resetForm">重置</el-button>
              </el-col>
            </el-row>
            <el-row v-else>
              <el-col :span="24" style="text-align: center;margin-top: 100px;">
                <el-button type="primary" @click="confirmEidt" v-show="editform.updateicon">确认修改</el-button>
              <el-button type="info" v-show="!editform.updateicon" disabled>正在审核中...</el-button>
              <el-button type="danger" @click="handleDel">删除数据</el-button>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </div>
    </el-card>
    <!-- 编辑提示框 -->
    <el-dialog title="提示" :visible.sync="editVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">是否确定要进行编辑修改？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('editform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">删除不可恢复，是否确定删除？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  data () {
    let validateNumber = (rule, value, callback) => {
      if (!value) {
        callback(new Error('不能为空'));
      } else {
        if (!/^[1-9][0-9]*$/.test(value)) {
          callback(new Error('输入不合法'));
        } else {
          callback();
        }
      }
    };
    return {
      tableData: [],
      current: -100,
      rowData: {},
      delVisible: false,
      editVisible: false,
      paramform: {
        name: '',
        money: ''
      },
      editform: {
        name: '',
        money: '',
        updateicon: true
      },
      rules: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        money: [{ validator: validateNumber, required: true,  trigger: "blur" }]
      }
    }
  },
  watch: {
    
  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  created () {
    this.submitData();
  },
  mounted () {
    
  },
  beforeDestroy () {
    
  },
  components: {
    
  },
  methods: {
    submitData() {
      http.post("/hotel/menutreelist.do", {
        hotelid: this.uulogin.id
      }).then((result) => {
        if (result.status === 1) {
          this.tableData = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    resetForm () {
      this.current = -100;
       this.$refs.editform.resetFields();
      this.editform = {
        name: '',
        money: ''
      };
    },
    handleAdd () {
      this.resetForm();
    },
    saveAdd(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {   
         http.post("/hotel/addmenutree.do", {
            hotelid: this.uulogin.id,
            name: this.editform.name,
            money: this.editform.money
          }).then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg);
               setTimeout(() => {
                this.submitData();
                this.resetForm();
               }, 20);
              this.addVisible = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    handleEdit(index, row) {
      this.current = index;
      this.$refs.editform.resetFields();
      http.post("/hotel/menutreeinfo.do", {
        id: row.id
      }).then((result) => {
        if (result.status === 1) {
           let data = result.data;
          this.rowData = data;
          this.editform.name = data.name;
          this.editform.money = data.money;
          this.editform.updateicon = data.updateicon;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    confirmEidt () {
      this.editVisible = true;
    },
    saveEdit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {  
         http.post("/hotel/updatemenutree.do", {
            id: this.rowData.id,
            name: this.editform.name,
            money: this.editform.money
          }).then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg)
              setTimeout(() => {
                this.submitData();
                this.resetForm();
              }, 20);
              this.editVisible = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    handleDel() {
      this.delVisible = true;
    },
    deleteRow() {
      http.post("/hotel/delmenutree.do", {
        id: this.rowData.id
      }).then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          setTimeout(() => {
            this.submitData();
            this.resetForm();
          }, 20);
          this.delVisible = false;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../Home/index.scss';
.form-wrapper {
  width: 400px;
  margin: 0 auto;
}
</style>
