<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-30 23:05:41
 * @LastEditTime: 2019-08-21 13:37:50
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>数据查询
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-form">
        <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
          <el-row>
            <el-col :span="24">
              <el-form-item label="功能模块" prop="backupname">
                <el-select v-model="searchform.backupname" class="search-input" placeholder="请选择" clearable>
                  <el-option
                    v-for="(item, index) in menuList" :key="index"
                    :label="item.name"
                    :value="item.name"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label-width="0px">
                <el-button type="primary" @click="handleSearch">查询</el-button>
                <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span><i class="el-icon-s-data crumbs-i-right"></i>数据列表</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-table" style="min-height: 440px">
        <el-table :data="tableData" border class="table">
          <el-table-column prop="createtime" label="操作时间" ></el-table-column>
          <el-table-column prop="backupname" label="功能板块" width="200"></el-table-column>
          <el-table-column prop="backupstatusname" label="审核状态" width="200">
            <template slot-scope="scope">
              <span class="color-err" v-show="scope.row.backupstatus === 3">{{scope.row.backupstatusname}}</span>
              <span class="color-suc"  v-show="scope.row.backupstatus === 2">{{scope.row.backupstatusname}}</span>
              <span class="color-default"  v-show="scope.row.backupstatus === 1">{{scope.row.backupstatusname}}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="200" align="center">
            <template slot-scope="scope">
              <el-button
                type="text"
                icon="el-icon-edit"
                v-show="false"
                @click="handleCat(scope.$index, scope.row, true)"
              >编辑</el-button>
              <el-button
                type="text"
                icon="el-icon-delete"
                class="red"
                :disabled="2 === scope.row.backupstatus"
                @click="handleDel(scope.$index, scope.row)"
              >撤销</el-button>
              <el-button
                type="text"
                icon="el-icon-search"
                @click="handleCat(scope.$index, scope.row, false)"
              >查看</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination
            background
            @size-change="changeLimit"
            @current-change="handleCurrentChange"
            :current-page.sync="page"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="limit"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
          </el-pagination>
        </div>
      </div>
    </el-card>
    <!-- 查看酒店基本信息 -->
    <el-dialog title="酒店基本信息" :visible.sync="catVisible" width="967px" @close="closeDialog('form')" center>
      <el-form ref="form" :model="form" label-width="100px" :rules="rules">
        <el-row>
          <el-col :span="8">
            <el-form-item label="酒店名称" prop="hotelname">
              <el-input v-model="form.hotelname" class="input-width" :disabled="!isEdit"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="酒店类型" prop="type">
              <el-select v-model="form.type" :disabled="!isEdit" class="input-width">
                <el-option
                  v-for="(item, index) in typeList" :key="index"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="容纳桌数" prop="maxtable">
              <el-select v-model="form.maxtable" :disabled="!isEdit" class="input-width">
                <el-option
                  v-for="(item, index) in tableList" :key="index"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8">
            <el-form-item label="联系人员" prop="contacts" >
              <el-input v-model="form.contacts" class="input-width" :disabled="!isEdit"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="联系方式" prop="account" >
              <el-input v-model="form.account" class="input-width" disabled></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="价格区间" prop="moneytype" >
              <el-select v-model="form.moneytype" :disabled="!isEdit" class="input-width">
                <el-option
                  v-for="(item, index) in moneyList" :key="index"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24" >
            <el-form-item label="酒店特色" prop="characteristic">
              <el-select v-model="form.characteristic" multiple :disabled="!isEdit" style="width: 800px">
                <el-option
                  v-for="(item, index) in styleList" :key="index"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-form-item label="所属区域" required>
            <el-col :span="6">
              <el-form-item>
                <el-select v-model="form.province" :disabled="!isEdit" @change="selectProvince">
                  <el-option
                    v-for="item in provinces"
                    :key="item.index"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item>
                <el-select v-model="form.city" :disabled="!isEdit" @change="selectCity">
                  <el-option
                    v-for="item in citys"
                    :key="item.index"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item>
                <el-select v-model="form.area" :disabled="!isEdit">
                  <el-option
                    v-for="item in areas"
                    :key="item.index"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-form-item>
        </el-row>
        <el-row>
          <el-form-item label="酒店坐标" required>
            <el-col :span="8">
              <el-form-item label="经度" label-width="65px" prop="longitude">
                <el-input v-model="form.longitude" class="input-width" :disabled="!isEdit"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="维度" label-width="65px" prop="latitude">
                <el-input v-model="form.latitude" class="input-width" :disabled="!isEdit"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-button type="success" @click="openMap(false)" v-show="isEdit">拾取坐标</el-button>
              <el-button type="success" @click="openMap(true)" v-show="!isEdit">查看</el-button>
            </el-col>
          </el-form-item>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="酒店地址" prop="address" >
              <el-input
                type="textarea"
                :rows="4"
                resize="none"
                placeholder="请输入.."
                v-model="form.address"
                maxlength="200"
                show-word-limit
                :disabled="!isEdit"
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="酒店交通" prop="traffic" >
              <el-input
                type="textarea"
                :rows="5"
                resize="none"
                placeholder="请输入..."
                v-model="form.traffic"
                maxlength="300"
                show-word-limit
                :disabled="!isEdit"
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="酒店简介" prop="introduction" >
              <el-input
                type="textarea"
                :rows="5"
                resize="none"
                placeholder="请输入..."
                v-model="form.introduction"
                maxlength="300"
                show-word-limit
                :disabled="!isEdit"
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-show="isEdit">
          <el-col :span="24">
            <el-form-item label="酒店图片" required>
              <UpImages :fileList="form.pcpath" @upImages="gotPcpath"></UpImages>
              <div class="images-warn">
                <p>图片建议尺寸：604px*392px</p>
                <p>图片建议张数：至少5张</p>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-show="!isEdit">
          <el-col :span="24">
            <el-form-item label="酒店图片" required>
              <ul class="image-ul hotelimage" v-viewer="{movable: false}">
                <li class="image-li"
                  v-for="(item, index) in form.pcpath" :key="index"
                  @click="handleImage('.hotelimage')"
                >
                  <img :src="item" alt="">
                </li>
              </ul>
              <div class="images-warn">
                <p>图片建议尺寸：604px*392px</p>
                <p>图片建议张数：至少5张</p>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <div v-show="!isEdit">
          <el-divider>平台反馈</el-divider>
        </div>
        <div class="check-result" v-show="rowData.backupstatus === 1 && !isEdit">
          <h1><i class="el-icon-warning"></i></h1>
          <p>审核中</p>
        </div>
        <div class="check-result result-suc" v-show="rowData.backupstatus === 2 && !isEdit">
          <h1><i class="el-icon-circle-check"></i></h1>
          <p>审核成功</p>
        </div>
        <div class="check-result result-err" v-show="rowData.backupstatus === 3 && !isEdit">
          <h1><i class="el-icon-circle-close"></i></h1>
          <p>审核驳回</p>
        </div>
        <el-row v-show="rowData.backupstatus === 3 && !isEdit">
          <el-col :span="24">
            <el-form-item label="驳回理由" prop="backupremark">
              <el-input
                type="textarea"
                :rows="3"
                resize="none"
                placeholder="请输入.."
                v-model="form.backupremark"
                disabled
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="saveEdit('form', 'catVisible')" v-show="isEdit">确 定 编 辑</el-button>
        <el-button @click="catVisible = false">返 回 列 表</el-button>
      </span>
    </el-dialog>
    <!-- 查看宴厅信息 -->
    <el-dialog title="宴厅信息" :visible.sync="catVisible2" width="960px" @close="closeDialog('form2')" center>
      <el-form ref="form2" :model="form2" label-width="100px" :rules="rules2">
        <el-row>
          <el-col :span="8">
            <el-form-item label="宴会厅名称" prop="name" >
                <el-input v-model="form2.name" class="input-width" :disabled="!isEdit"></el-input>
              </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="桌数" prop="tablenum" >
                <el-input v-model="form2.tablenum" class="input-width" :disabled="!isEdit"></el-input>
              </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="最低消费" prop="money" >
                <el-input v-model="form2.money" class="input-width" :disabled="!isEdit"></el-input>
              </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8">
            <el-form-item label="宴会厅特色" prop="characteristic" >
                <el-input v-model="form2.characteristic" class="input-width" :disabled="!isEdit"></el-input>
              </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="层高" prop="storeyheight" >
                <el-input v-model="form2.storeyheight" class="input-width" :disabled="!isEdit"></el-input>
              </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="面积" prop="area" >
                <el-input v-model="form2.area" class="input-width" :disabled="!isEdit"></el-input>
              </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8">
            <el-form-item label="柱子数量" prop="zhuzinum" >
                <el-input v-model="form2.zhuzinum" class="input-width" :disabled="!isEdit"></el-input>
              </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="形状" prop="shape" >
                <el-input v-model="form2.shape" class="input-width" :disabled="!isEdit"></el-input>
              </el-form-item>
          </el-col>
        </el-row>
        <el-row v-show="!isEdit">
          <el-col :span="24">
            <el-form-item label="宴厅图片" required>
              <ul class="image-ul yhtimage" v-viewer="{movable: false}">
                <li class="image-li"
                  v-for="(item, index) in form2.pcpath" :key="index"
                  @click="handleImage('.yhtimage')"
                >
                  <img :src="item" alt="">
                </li>
              </ul>
              <div class="images-warn">
                <p>图片建议尺寸：322px*228px</p>
                <p>图片建议张数：至少5张</p>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-show="isEdit">
          <el-col :span="24">
            <el-form-item label="宴厅图片" required>
              <UpImages :fileList="form2.pcpath" @upImages="gotPcpath2"></UpImages>
              <div class="images-warn">
                <p>图片建议尺寸：322px*228px</p>
                <p>图片建议张数：至少5张</p>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <div v-show="!isEdit">
          <el-divider>平台反馈</el-divider>
        </div>
        <div class="check-result" v-show="rowData.backupstatus === 1 && !isEdit">
          <h1><i class="el-icon-warning"></i></h1>
          <p>审核中</p>
        </div>
        <div class="check-result result-suc" v-show="rowData.backupstatus === 2 && !isEdit">
          <h1><i class="el-icon-circle-check"></i></h1>
          <p>审核成功</p>
        </div>
        <div class="check-result result-err" v-show="rowData.backupstatus === 3 && !isEdit">
          <h1><i class="el-icon-circle-close"></i></h1>
          <p>审核驳回</p>
        </div>
        <el-row v-show="rowData.backupstatus === 3 && !isEdit">
          <el-col :span="24">
            <el-form-item label="驳回理由" prop="backupremark">
              <el-input
                type="textarea"
                :rows="3"
                resize="none"
                placeholder="请输入.."
                v-model="form2.backupremark"
                disabled
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="saveEdit2('form2', 'catVisible2')" v-show="isEdit">确 定 编 辑</el-button>
        <el-button @click="catVisible2 = false">返 回 列 表</el-button>
      </span>
    </el-dialog>
    <!-- 查看酒店活动 -->
    <el-dialog title="酒店活动" :visible.sync="catVisible3" width="960px" @close="closeDialog('form3')" center>
      <el-form ref="form3" :model="form3" label-width="100px" :rules="rules3">
        <el-row>
            <el-col :span="20">
              <el-form-item label="活动名称" prop="name" >
                  <el-input type="textarea" :rows="2" resize="none" v-model="form3.name" maxlength="20"
                  show-word-limit :disabled="!isEdit"></el-input>
                </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="活动状态" prop="status" >
                <el-radio v-model="form3.status" :label="1" :disabled="!isEdit">启用</el-radio>
                <el-radio v-model="form3.status" :label="0" :disabled="!isEdit">未启用</el-radio>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="20">
              <el-form-item label="活动内容" required>
                <quill-editor
                  v-model="form3.content"
                  :options="editorOption"
                  @change="onEditorChange($event)"
                  ref="quilleditors"
                ></quill-editor>
              </el-form-item>
            </el-col>
          </el-row>
        <div v-show="!isEdit">
          <el-divider>平台反馈</el-divider>
        </div>
        <div class="check-result" v-show="rowData.backupstatus === 1 && !isEdit">
          <h1><i class="el-icon-warning"></i></h1>
          <p>审核中</p>
        </div>
        <div class="check-result result-suc" v-show="rowData.backupstatus === 2 && !isEdit">
          <h1><i class="el-icon-circle-check"></i></h1>
          <p>审核成功</p>
        </div>
        <div class="check-result result-err" v-show="rowData.backupstatus === 3 && !isEdit">
          <h1><i class="el-icon-circle-close"></i></h1>
          <p>审核驳回</p>
        </div>
        <el-row v-show="rowData.backupstatus === 3 && !isEdit">
          <el-col :span="24">
            <el-form-item label="驳回理由" prop="backupremark">
              <el-input
                type="textarea"
                :rows="3"
                resize="none"
                placeholder="请输入.."
                v-model="form3.backupremark"
                disabled
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="saveEdit3('form3', 'catVisible3')" v-show="isEdit">确 定 编 辑</el-button>
        <el-button @click="catVisible3 = false">返 回 列 表</el-button>
      </span>
    </el-dialog>
    <!-- 查看菜单 -->
    <el-dialog title="菜单信息" :visible.sync="catVisible4" width="560px" @close="closeDialog('form4')" center>
      <el-form ref="form4" :model="form4" label-width="100px" :rules="rules4">
        <el-row>
          <el-col :span="24">
            <el-form-item label="菜单名称" prop="name" >
              <el-input v-model="form4.name"  :disabled="!isEdit"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="菜单金额" prop="money" >
              <el-input v-model="form4.money"  :disabled="!isEdit"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="优惠金额" prop="discountmoney" >
              <el-input v-model="form4.discountmoney"  :disabled="!isEdit"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="菜单内容" required>
              <div class="menus-ul">
                <el-tag style="margin-right: 15px;margin-bottom: 15px;" v-for="(item, index) in form4.itemlist" :key="index">{{item.name}}</el-tag>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <div v-show="!isEdit">
          <el-divider>平台反馈</el-divider>
        </div>
        <div class="check-result" v-show="rowData.backupstatus === 1 && !isEdit">
          <h1><i class="el-icon-warning"></i></h1>
          <p>审核中</p>
        </div>
        <div class="check-result result-suc" v-show="rowData.backupstatus === 2 && !isEdit">
          <h1><i class="el-icon-circle-check"></i></h1>
          <p>审核成功</p>
        </div>
        <div class="check-result result-err" v-show="rowData.backupstatus === 3 && !isEdit">
          <h1><i class="el-icon-circle-close"></i></h1>
          <p>审核驳回</p>
        </div>
        <el-row v-show="rowData.backupstatus === 3 && !isEdit">
          <el-col :span="24">
            <el-form-item label="驳回理由" prop="backupremark">
              <el-input
                type="textarea"
                :rows="3"
                resize="none"
                placeholder="请输入.."
                v-model="form4.backupremark"
                disabled
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="saveEdit4('form4', 'catVisible4')" v-show="isEdit">确 定 编 辑</el-button>
        <el-button @click="catVisible4 = false">返 回 列 表</el-button>
      </span>
    </el-dialog>
     <!-- 查看菜品 -->
    <el-dialog title="菜品信息" :visible.sync="catVisible5" width="460px" @close="closeDialog('form5')" center>
      <el-form ref="form5" :model="form5" label-width="100px" :rules="rules5">
        <el-row>
          <el-col>
            <el-form-item label="菜品名称" prop="name">
              <el-input v-model="form5.name" :disabled="!isEdit"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col>
            <el-form-item label="菜品金额" prop="money" >
              <el-input v-model="form5.money" :disabled="!isEdit"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <div v-show="!isEdit">
          <el-divider>平台反馈</el-divider>
        </div>
        <div class="check-result" v-show="rowData.backupstatus === 1 && !isEdit">
          <h1><i class="el-icon-warning"></i></h1>
          <p>审核中</p>
        </div>
        <div class="check-result result-suc" v-show="rowData.backupstatus === 2 && !isEdit">
          <h1><i class="el-icon-circle-check"></i></h1>
          <p>审核成功</p>
        </div>
        <div class="check-result result-err" v-show="rowData.backupstatus === 3 && !isEdit">
          <h1><i class="el-icon-circle-close"></i></h1>
          <p>审核驳回</p>
        </div>
        <el-row v-show="rowData.backupstatus === 3 && !isEdit">
          <el-col :span="24">
            <el-form-item label="驳回理由" prop="backupremark">
              <el-input
                type="textarea"
                :rows="3"
                resize="none"
                placeholder="请输入.."
                v-model="form5.backupremark"
                disabled
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="saveEdit5('form5', 'catVisible5')" v-show="isEdit">确 定 编 辑</el-button>
        <el-button @click="catVisible5= false">返 回 列 表</el-button>
      </span>
    </el-dialog>

    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div style="text-align:center">撤销不可恢复，是否确定撤销？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 地图 -->
    <vMap @mapInfo="mapInfo" @closeMap="closeMap"  :style="{'z-index': isshow}" :longitude="form.longitude" :latitude="form.latitude" :isEdit="isEdit"></vMap>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
import 'viewerjs/dist/viewer.css'
import Viewer from 'v-viewer'
import Vue from 'vue'
Vue.use(Viewer)
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import { quillEditor } from 'vue-quill-editor'
import quillConfig from '@/assets/js/quill-config.js'
import UpImages from '@/components/common/Upload/upListImage.vue'
import vMap from '@/components/common/Map/index'
export default {
  data () {
    //数字
    let validateNum = (rule, value, callback) => {
      if (value) {
        if (!/\d/.test(value)) {
          callback(new Error('输入不合法'));
        } else {
          callback();
        }
      } else {
        callback(new Error('不能为空'));
      }
    };
    //正整数
    let validateNumber = (rule, value, callback) => {
      if (!value) {
        callback(new Error('不能为空'));
      } else {
        if (!/^[1-9][0-9]*$/.test(value)) {
          callback(new Error('输入不合法'));
        } else {
          callback();
        }
      }
    };
    //正数
    let validateNumber2 = (rule, value, callback) => {
      if (!value) {
        callback(new Error('不能为空'));
      } else {
        if (!/^([1-9][0-9]*(\.\d{1,2})?)|(0\.\d{1,2})$/.test(value)) {
          callback(new Error('输入不合法'));
        } else {
          callback();
        }
      }
    };
    return {
      searchform: {
        backupname: ''
      },
      searchresult: {
        backupname: ''
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      rowData: {},
      isEdit: false,
      delVisible: false,
      isshow: -99999,
      catVisible: false,
      form: {
        pcpath: []
      },
      rules: {
        hotelname: [{ required: true, message: "不能为空", trigger: "blur" }],
        type: [{ required: true, message: "不能为空", trigger: "change" }],
        characteristic: [{ required: true, message: "不能为空", trigger: "change" }],
        contacts: [{ required: true, message: "不能为空", trigger: "blur" }],
        account: [{ required: true, message: "不能为空", trigger: "blur" }],
        introduction: [{ required: true, message: "不能为空", trigger: "blur" }],
        address: [{ required: true, message: "不能为空", trigger: "blur" }],
        traffic: [{ required: true, message: "不能为空", trigger: "blur" }],
        longitude: [{ validator: validateNum, required: true,  trigger: "blur" }],
        latitude: [{ validator: validateNum, required: true,  trigger: "blur" }],
        maxtable: [{ required: true, message: "不能为空", trigger: "change" }],
        moneytype: [{ required: true, message: "不能为空", trigger: "change" }],
      },
      catVisible2: false,
      form2: {},
      rules2: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        tablenum: [{ validator: validateNumber, required: true,  trigger: "blur" }],
        area: [{ validator: validateNumber2, required: true,  trigger: "blur" }],
        storeyheight: [{ validator: validateNumber2, required: true,  trigger: "blur" }],
        zhuzinum: [{ validator: validateNumber, required: true,  trigger: "blur" }],
        shape: [{ required: true, message: "不能为空", trigger: "blur" }],
        characteristic: [{ required: true, message: "不能为空", trigger: "blur" }],
        money: [{ validator: validateNumber, required: true,  trigger: "blur" }],
      },
      catVisible3: false,
      form3: {},
      rules3: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        status: [{ required: true, message: "不能为空", trigger: "change" }]
      },
      catVisible4: false,
      form4: {},
      rules4: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        money: [{ validator: validateNumber, required: true,  trigger: "blur" }],
        discountmoney: [{ validator: validateNumber, required: true,  trigger: "blur" }]
      },
      catVisible5: false,
      form5: {},
      rules5: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        money: [{ validator: validateNumber, required: true,  trigger: "blur" }]
      },
      moneyList: [],
      styleList: [],
      tableList: [],
      typeList: [],
      provinces: [],
      citys: [],
      areas: [],
      menuList: [{
        id: 1,
        name: '酒店基本信息'
      },{
        id: 2,
        name: '宴会厅列表'
      },{
        id: 3,
        name: '活动列表'
      },{
        id: 4,
        name: '菜单列表'
      },{
        id: 5,
        name: '菜品列表'
      }],
      editorOption: quillConfig
    }
  },
  watch: {

  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  components: {
    quillEditor,
    UpImages,
    vMap
  },
  created () {
    this.submitData();
  },
  mounted () {

  },
  beforeDestroy () {

  },
  methods: {
    handleSearch() {
      //查询
      this.page = 1;
      this.searchresult = this.searchform;
      this.submitData();
    },
    resetSearch (formName) {
      //重置查询
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.submitData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    //改变页数
    changeLimit (val) {
      this.page = 1;
      this.limit = val;
      this.submitData();
    },
    submitData() {
      http.post("/backup/backuplist.do", {
        id: this.uulogin.id,
        type: 1,
        page: this.page,
        limit: this.limit,
        backupname: this.searchresult.backupname
      }).then((result) => {
        if (result.status === 1) {
          this.tableData = result.data.result;
          this.total = result.data.total;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    handleCat(index, row, value) {
      this.isEdit = value;
      this.rowData = row;
      http.post("/backup/info.do", {
        id: row.id,
        type: row.type
      }).then((result) => {
        if (result.status === 1) {
          switch (row.type) {
            case 1:
              this.styleData()
              this.moneyData();
              this.typeData();
              this.tableNum();
              this.provinceList();
              this.catVisible = true;
              this.form = result.data;
              this.cityList();
              this.areasList();
              break;
            case 2:
              this.catVisible2 = true;
              this.form2 = result.data;
              break;
            case 3:
                if (!value) {
                  console.log(111)
                  this.$nextTick(()=> {
                    setTimeout(() => {
                      this.$refs.quilleditors.quill.enable(false);
                    }, 20)
                  })
                }
                this.catVisible3 = true;
                this.form3 = result.data;
              break;
            case 4:
              this.catVisible4 = true;
              this.form4 = result.data;
              break;
            case 5:
              this.catVisible5 = true;
              this.form5 = result.data;
              break;
          }
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.warning(error);
      });
    },
    handleDel(index, row) {
      this.rowData = row;
      this.delVisible = true;
    },
    deleteRow() {
      http.post("/backup/revoke.do", {
        id: this.rowData.id,
        type: this.rowData.type
      }).then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          setTimeout(() => {
            this.submitData();
          }, 50);
          this.delVisible = false;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.warning(error);
      });
    },
    saveEdit(formName, visible) {
      this.$refs[formName].validate(valid => {
        if (valid) {
         if (!this.form.pcpath.length) {
           this.$message.warning('图片不能为空');
           return
         }
         if (this.form.province < 1 || this.form.city < 1 || this.form.area < 1) {
            this.$message.warning('请选择省市区');
            return
        }
         let param = {
          id: this.form.id,
          hotelname: this.form.hotelname,
          type: this.form.type,
          contacts: this.form.contacts,
          account: this.form.account,
          introduction: this.form.introduction,
          address: this.form.address,
          traffic: this.form.traffic,
          longitude: this.form.longitude,
          latitude: this.form.latitude,
          maxtable: this.form.maxtable,
          moneytype: this.form.moneytype,
          province: this.form.province,
          city: this.form.city,
          area: this.form.area,
          pcpathjson: JSON.stringify(this.form.pcpath),
          characteristicjson: JSON.stringify(this.form.characteristic)
        }
         http.post("/hotel/updatehotel.do", param)
          .then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg)
              setTimeout(() => {
                this.submitData();
              },20)
              this[visible] = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    saveEdit2(formName, visible) {
      this.$refs[formName].validate(valid => {
        if (valid) {
         if (!this.form2.pcpath.length) {
          this.$message.warning('宴会厅图片不能为空');
          return
         }
         let param = {
           id: this.form2.id,
           name: this.form2.name,
           tablenum: this.form2.tablenum,
           area: this.form2.area,
           storeyheight: this.form2.storeyheight,
           zhuzinum: this.form2.zhuzinum,
           shape: this.form2.shape,
           characteristic: this.form2.characteristic,
           money: this.form2.money,
           pcpathjson: JSON.stringify(this.form2.pcpath)
          }
         http.post("/hotel/updatebanquethall.do", param)
          .then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg)
              setTimeout(() => {
                this.submitData();
              },20)
              this[visible] = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    saveEdit3(formName, visible) {
      this.$refs[formName].validate(valid => {
        if (valid) {
         if (!this.form3.content) {
           this.$message.warning('活动内容不能为空');
           return
         }
         http.post("/hotel/updateactivity.do", {
            id: this.form3.id,
            name: this.form3.name,
            status: this.form3.status,
            content: this.form3.content
          }).then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg);
              setTimeout(() => {
                this.submitData();
              }, 20);
              this[visible] = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    saveEdit4(formName, visible) {
      this.$refs[formName].validate(valid => {
        if (valid) {
         if (!this.form4.itemlist.length) {
           this.$message.warning('菜单内容不能为空');
           return
         }
         if (parseInt(this.form4.money) < parseInt(this.form4.discountmoney)) {
          this.$message.warning('市场价格不能小于优惠价格');
          return
         }
         let itemlist = this.form4.itemlist.map((item, index) => {
            return item.id
          })
         http.post("/hotel/updatemenu.do", {
            id: this.form4.id,
            name: this.form4.name,
            money: this.form4.money,
            discountmoney: this.form4.discountmoney,
            idlistjson: JSON.stringify(itemlist)
          }).then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg)
             setTimeout(() => {
                this.submitData();
              }, 20);
              this[visible] = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    saveEdit5(formName, visible) {
      this.$refs[formName].validate(valid => {
        if (valid) {
         http.post("/hotel/updatemenutree.do", {
            id: this.form5.id,
            name: this.form5.name,
            money: this.form5.money,
          }).then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg)
              setTimeout(() => {
                this.submitData();
              }, 20);
              this[visible] = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    closeDialog(formName) {
      this.$refs[formName].resetFields();
      this[formName] = {};
      this.form.pcpath = [];
      this.form2.pcpath = [];
      this.rowData = {};
    },
    gotPcpath (value) {
      this.form.pcpath = value;
    },
    gotPcpath2 (value) {
      this.form2.pcpath = value;
    },
    openMap (value) {
      this.isshow = 99999;
    },
    closeMap () {
      this.isshow = -99999;
    },
    mapInfo (value) {
      this.form.longitude = value.lng;
      this.form.latitude = value.lat;
      this.isshow = -99999;
    },
    onEditorChange({ editor, html, text }) {
      this.form3.content = html;
    },
    handleImage (value) {
      this.$nextTick(() => {
        const viewer = this.$el.querySelector(value).$viewer
        viewer.show();
      })
    },
    menuListData () {
      //金额下拉
      http.post("/backup/menucolumn.do", {
        type: 1
      }).then((result) => {
        if (result.status === 1) {
          this.menuList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    moneyData () {
      //金额下拉
      http.post("/money/droplist.do", {
        type: 1
      }).then((result) => {
        if (result.status === 1) {
          this.moneyList = result.data
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    tableNum () {
      //桌数
      http.post("/type/tabletype.do", {
        type: 1
      }).then((result) => {
        if (result.status === 1) {
          this.tableList = result.data
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    styleData () {
      //酒店特色
      http.post("/style/droplist.do", {
        type: 3
      }).then((result) => {
        if (result.status === 1) {
          this.styleList = result.data
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    typeData () {
      //酒店类型
      http.post("/type/hotletype.do", {})
      .then((result) => {
        if (result.status === 1) {
          this.typeList = result.data
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    selectProvince () {
      this.cityList();
      this.form.city = '';
      this.form.area = '';
      this.areas= [];
    },
    selectCity () {
      this.form.area = '';
      this.areasList()
    },
    provinceList() {
      //省列表
      http.post("/areas/getlist.do", {})
        .then((result) => {
          if (result.status === 1) {
            this.provinces = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch((error) => {
          this.$message.error(error);
        });
    },
    cityList() {
      //市列表
      http.post("/areas/selectbyparentid.do", {
        parentid: this.form.province
      }).then((result) => {
        if (result.status === 1) {
          this.citys = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch((error) => {
        this.$message.error(error);
      });
    },
    areasList() {
      //区列表
      http.post("/areas/selectbyparentid.do", {
        parentid: this.form.city
      }).then((result) => {
          if (result.status === 1) {
            this.areas = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch((error) => {
          this.$message.error(error);
        });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../Home/index.scss';
</style>
