<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-30 23:05:41
 * @LastEditTime: 2019-08-19 23:52:38
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-s-data crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-table">
        <ul class="table-ul">
          <li class="table-li"
            v-for="(item, index) in tableData" :key="index"
            :class="{'table-li-active': current === index}"
            @click="handleEdit(index, item)"
          >
            <span class="li-span">{{item.name}}</span>
            <!-- <span class="nopass-icon" v-show="item.backupstatus !== 2">
              <i class="el-icon-warning"></i>
            </span> -->
          </li>
          <li class="table-li" @click="handleAdd" :class="{'table-li-last': current === -100}">
            <i class="el-icon-plus add-icon"></i>
          </li>
        </ul>
      </div>
    </el-card>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span v-if="current === -100 "><i class="el-icon-s-unfold crumbs-i-right"></i>新增酒店菜单</span>
          <span v-else><i class="el-icon-s-unfold crumbs-i-right"></i>酒店菜单信息</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-form" style="min-height: 440px;">
        <el-form ref="editform" :model="editform" label-width="120px" :rules="rules">
          <el-row>
            <el-col :span="8">
              <el-form-item label="菜单名称" prop="name">
                  <el-input v-model="editform.name" placeholder="请输入"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="菜单金额" prop="money">
                  <el-input v-model="editform.money" placeholder="请输入"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="优惠金额" prop="discountmoney">
                  <el-input v-model="editform.discountmoney" placeholder="请输入"></el-input>
                </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="菜单内容" required>
                <div v-show="menus.length">
                  <el-checkbox :indeterminate="editform.isIndeterminate" v-model="editform.checkAll" @change="handleCheckAllChange">全选</el-checkbox>
                  <div style="margin: 15px 0;"></div>
                  <el-checkbox-group v-model="editform.checkedMenu" @change="handleCheckedMenuChange">
                    <el-checkbox v-for="item in menus" :label="item.id" :key="item.id">{{item.name}}({{item.money}}元/盘)</el-checkbox>
                  </el-checkbox-group>
                </div>
                <div v-show="!menus.length">快去添加菜品吧</div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row v-if="current === -100">
            <el-col :span="24" style="text-align: center;margin-top: 50px;">
              <el-button type="primary" @click="saveAdd('editform')">确认新增</el-button>
              <el-button type="danger" @click="resetForm">重置</el-button>
            </el-col>
          </el-row>
          <el-row v-else>
            <el-col :span="24" style="text-align: center;margin-top: 50px;">
              <el-button type="primary" @click="confirmEidt" v-show="editform.updateicon">确认修改</el-button>
              <el-button type="info" v-show="!editform.updateicon" disabled>正在审核中...</el-button>
              <el-button type="danger" @click="handleDel">删除数据</el-button>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <!-- 编辑提示框 -->
    <el-dialog title="提示" :visible.sync="editVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">是否确定要进行编辑修改？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('editform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">删除不可恢复，是否确定删除？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  data () {
    let validateNumber = (rule, value, callback) => {
      if (!value) {
        callback(new Error('不能为空'));
      } else {
        if (!/^[1-9][0-9]*$/.test(value)) {
          callback(new Error('输入不合法'));
        } else {
          callback();
        }
      }
    };
    return {
      tableData: [],
      current: -100,
      rowData: {},
      delVisible: false,
      editVisible: false,
      editform: {
        name: '',
        money: '',
        checkedMenu: [],
        checkAll: false,
        isIndeterminate: false,
        discountmoney: '',
        updateicon: true
      },
      rules: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        money: [{ validator: validateNumber, required: true,  trigger: "blur" }],
        discountmoney: [{ validator: validateNumber, required: true,  trigger: "blur" }]
      },
      menus: [],
    }
  },
  watch: {

  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  created () {
    this.submitData();
    this.gotMenu()
  },
  mounted () {

  },
  beforeDestroy () {

  },
  components: {

  },
  methods: {
    submitData() {
      http.post("/hotel/listmenu.do", {
        hotelid: this.uulogin.id
      }).then((result) => {
        if (result.status === 1) {
          this.tableData = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    resetForm () {
      this.current = -100;
      this.$refs.editform.resetFields();
      this.editform = {
        name: '',
        money: '',
        checkedMenu: [],
        checkAll: false,
        isIndeterminate: false,
        discountmoney: '',
        updateicon: true
      }
    },
    handleAdd () {
      this.resetForm();
    },
    saveAdd(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
         if (!this.editform.checkedMenu.length) {
           this.$message.warning('菜单内容不能为空');
           return
         }
        if (parseInt(this.editform.money) < parseInt(this.editform.discountmoney)) {
          this.$message.warning('市场价格不能小于优惠价格');
          return
        }
         http.post("/hotel/addmenu.do", {
            hotelid: this.uulogin.id,
            name: this.editform.name,
            money: this.editform.money,
            discountmoney: this.editform.discountmoney,
            idlistjson: JSON.stringify(this.editform.checkedMenu)
          }).then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg);
              setTimeout(() => {
                this.submitData();
                this.resetForm();
              }, 20);
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    handleEdit(index, row) {
      this.current = index;
      this.$refs.editform.resetFields();
      http.post("/hotel/menuinfo.do", {
        id: row.id
      }).then((result) => {
        if (result.status === 1) {
           let data = result.data;
          this.rowData = data;
          this.editform.name = data.name;
          this.editform.money = data.money;
          this.editform.discountmoney = data.discountmoney;
          this.editform.updateicon = data.updateicon;
          let checkedMenu = data.itemlist.map((item, index) => {
            return item.id
          })
          this.editform.checkedMenu = checkedMenu;
          this.handleCheckedMenuChange(checkedMenu);
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    confirmEidt () {
      this.editVisible = true;
    },
    saveEdit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
         if (!this.editform.checkedMenu.length) {
           this.$message.warning('菜单内容不能为空');
           return
         }
         if (parseInt(this.editform.money) < parseInt(this.editform.discountmoney)) {
          this.$message.warning('市场价格不能小于优惠价格');
          return
        }
         http.post("/hotel/updatemenu.do", {
            id: this.rowData.id,
            name: this.editform.name,
            money: this.editform.money,
            discountmoney: this.editform.discountmoney,
            idlistjson: JSON.stringify(this.editform.checkedMenu)
          }).then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg)
             setTimeout(() => {
                this.submitData();
                this.resetForm();
              }, 20);
              this.editVisible = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    handleDel() {
      this.delVisible = true;
    },
    deleteRow() {
      http.post("/hotel/delmenu.do", {
        id: this.rowData.id
      }).then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          setTimeout(() => {
            this.submitData();
            this.resetForm();
          }, 20);
          this.delVisible = false;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    gotMenu() {
      http.post("/hotel/backuppassmenutreelist.do", {
        hotelid: this.uulogin.id
      }).then((result) => {
        if (result.status === 1) {
          this.menus = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    handleCheckAllChange(val) {
      let checkedMenu = []
      this.menus.map((item, index) => {
        checkedMenu.push(item.id)
      })
      this.editform.checkedMenu = val ? checkedMenu : [];
      this.editform.isIndeterminate = false;
    },
    handleCheckedMenuChange(value) {
      let checkedCount = value.length;
      this.editform.checkAll = checkedCount === this.menus.length;
      this.editform.isIndeterminate = checkedCount > 0 && checkedCount < this.menus.length;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../Home/index.scss';
</style>
