<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-30 23:05:41
 * @LastEditTime: 2019-08-19 23:51:06
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-s-data crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-table">
        <ul class="table-ul">
          <li class="table-li"
            v-for="(item, index) in tableData" :key="index"
            :class="{'table-li-active': current === index}"
            @click="handleEdit(index, item)"
          >
            <span class="li-span">{{item.name}}</span>
            <!-- <span class="nopass-icon" v-show="item.backupstatus !== 2">
              <i class="el-icon-warning"></i>
            </span> -->
          </li>
          <li class="table-li" @click="handleAdd" :class="{'table-li-last': current === -100}">
            <i class="el-icon-plus add-icon"></i>
          </li>
        </ul>
      </div>
    </el-card>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span v-if="current === -100 "><i class="el-icon-s-unfold crumbs-i-right"></i>新增酒店宴会厅</span>
          <span v-else><i class="el-icon-s-unfold crumbs-i-right"></i>酒店宴会厅信息</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-form">
        <el-form ref="editform" :model="editform" label-width="120px" :rules="rules">
          <el-row>
            <el-col :span="8">
              <el-form-item label="宴会厅名称" prop="name">
                  <el-input v-model="editform.name" placeholder="请输入"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="桌数" prop="tablenum">
                  <el-input v-model="editform.tablenum" placeholder="请输入"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="最低消费" prop="money">
                  <el-input v-model="editform.money" placeholder="请输入"></el-input>
                </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="宴会厅特色" prop="characteristic">
                  <el-input v-model="editform.characteristic" placeholder="请输入"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="层高" prop="storeyheight">
                  <el-input v-model="editform.storeyheight" placeholder="请输入"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="面积" prop="area">
                <el-input v-model="editform.area" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="柱子数量" prop="zhuzinum">
                  <el-input v-model="editform.zhuzinum" placeholder="请输入"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="形状" prop="shape">
                  <el-input v-model="editform.shape" placeholder="请输入"></el-input>
                </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="宴厅图片" required>
                <UpImages :fileList="editform.pcpath" @upImages="gotPcpath"></UpImages>
                <div class="images-warn">
                  <p>图片建议尺寸：322px*228px</p>
                  <p>图片建议张数：至少5张</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row v-if="current === -100">
            <el-col :span="24" style="text-align: center">
              <el-button type="primary" @click="saveAdd('editform')">确认新增</el-button>
              <el-button type="danger" @click="resetForm">重置</el-button>
            </el-col>
          </el-row>
          <el-row v-else>
            <el-col :span="24" style="text-align: center">
              <el-button type="primary" @click="confirmEidt" v-show="editform.updateicon">确认修改</el-button>
              <el-button type="info" v-show="!editform.updateicon" disabled>正在审核中...</el-button>
              <el-button type="danger" @click="handleDel">删除数据</el-button>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <!-- 编辑提示框 -->
    <el-dialog title="提示" :visible.sync="editVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">是否确定要进行编辑修改？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('editform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">删除不可恢复，是否确定删除？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import UpImages from '@/components/common/Upload/upListImage.vue'
import http from '@/axios/http'
export default {
  data () {
    //数字
    let validateNum = (rule, value, callback) => {
      if (value) {
        if (!/\d/.test(value)) {
          callback(new Error('输入不合法'));
        } else {
          callback();
        }
      } else {
        callback(new Error('不能为空'));
      }
    };
    //正整数
    let validateNumber = (rule, value, callback) => {
      if (!value) {
        callback(new Error('不能为空'));
      } else {
        if (!/^[1-9][0-9]*$/.test(value)) {
          callback(new Error('输入不合法'));
        } else {
          callback();
        }
      }
    };
    //小数点
    let validateNumber2 = (rule, value, callback) => {
      if (!value) {
        callback(new Error('不能为空'));
      } else {
        if (!/^([1-9][0-9]*(\.\d{1,})?)$/.test(value) && !/^(0(\.\d{1,})?)$/.test(value)) {
          callback(new Error('输入不合法'));
        } else {
          callback();
        }
      }
    };
    //包括0
    let validateNumber1 = (rule, value, callback) => {
      if (!value) {
        callback(new Error('不能为空'));
      } else {
        if (!/^[0-9][0-9]*$/.test(value)) {
          callback(new Error('输入不合法'));
        } else {
          if (value.length >= 2 && parseInt(value.charAt(0)) === 0) {
            callback(new Error('输入不合法'));
          } else {
            callback();
          }
        }
      }
    };
    return {
      tableData: [],
      current: -100,
      rowData: {},
      delVisible: false,
      editVisible: false,
      editform: {
        name: '',
        tablenum: '',
        area: '',
        storeyheight: '',
        zhuzinum: '',
        shape: '',
        characteristic: '',
        money: '',
        pcpath: [],
        updateicon: true
      },
      rules: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        tablenum: [{ validator: validateNumber, required: true,  trigger: "blur" }],
        area: [{ validator: validateNumber2, required: true,  trigger: "blur" }],
        storeyheight: [{ validator: validateNumber2, required: true,  trigger: "blur" }],
        zhuzinum: [{ validator: validateNumber1, required: true,  trigger: "blur" }],
        shape: [{ required: true, message: "不能为空", trigger: "blur" }],
        characteristic: [{ required: true, message: "不能为空", trigger: "blur" }],
        money: [{ validator: validateNumber, required: true,  trigger: "blur" }],
      }
    }
  },
  watch: {

  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  created () {
    this.submitData();
  },
  mounted () {

  },
  beforeDestroy () {

  },
  components: {
    UpImages
  },
  methods: {
    submitData() {
      http.post("/hotel/getlistbanquethall.do", {
        hotelid: this.uulogin.id
      }).then((result) => {
        if (result.status === 1) {
          this.tableData = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    checkForm () {
      if (!this.editform.pcpath.length) {
       this.$message.warning('宴会厅图片不能为空');
       return false
      }
    },
    resetForm () {
      this.current = -100;
      this.$refs.editform.resetFields();
      this.editform = {
        name: '',
        tablenum: '',
        area: '',
        storeyheight: '',
        zhuzinum: '',
        shape: '',
        characteristic: '',
        money: '',
        pcpath: [],
        updateicon: true
      }
    },
    handleAdd () {
      this.resetForm();
    },
    saveAdd(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
         if (!this.editform.pcpath.length) {
          this.$message.warning('宴会厅图片不能为空');
          return
         }
         let param = {
           ...this.editform,
           pcpathjson: JSON.stringify(this.editform.pcpath),
           hotelid: this.uulogin.id
         }
         http.post("/hotel/addbanquethall.do", param)
         .then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg);
              setTimeout(() => {
                this.submitData();
                this.resetForm();
              },20)
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    handleEdit(index, row) {
      this.current = index;
      this.$refs.editform.resetFields();
      http.post("/hotel/banquethallinfo.do", {
        id: row.id
      }).then((result) => {
        if (result.status === 1) {
          let data = result.data;
          this.editform = data;
          this.rowData = data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    confirmEidt () {
      this.editVisible = true;
    },
    saveEdit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
         if (!this.editform.pcpath.length) {
          this.$message.warning('宴会厅图片不能为空');
          return
         }
         let param = {
           id: this.editform.id,
           name: this.editform.name,
           tablenum: this.editform.tablenum,
           area: this.editform.area,
           storeyheight: this.editform.storeyheight,
           zhuzinum: this.editform.zhuzinum,
           shape: this.editform.shape,
           characteristic: this.editform.characteristic,
           money: this.editform.money,
           pcpathjson: JSON.stringify(this.editform.pcpath)
          }
         http.post("/hotel/updatebanquethall.do", param)
          .then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg)
              setTimeout(() => {
                this.submitData();
                this.resetForm();
              },20)
              this.editVisible = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    handleDel() {
      this.delVisible = true;
    },
    deleteRow() {
      http.post("/hotel/delbanquethall.do", {
        id: this.rowData.id
      }).then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          setTimeout(() => {
            this.submitData();
            this.resetForm();
          }, 20);
          this.delVisible = false;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    gotPcpath (value) {
      this.editform.pcpath = value;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../Home/index.scss';
</style>
