<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-30 23:05:41
 * @LastEditTime: 2019-08-19 23:57:17
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <el-card shadow="always" class="page-title">
      <div class="title-tag">
        <!-- <el-tooltip class="item" effect="dark" content="审核中..." placement="top-start" v-show="false">
          <div class="tag-span span-icon"><i class="el-icon-warning"></i></div>
        </el-tooltip> -->
        <div class="tag-span">婚车商户基本信息</div>
      </div>
    </el-card>
    <el-card shadow="always" class="page-title" >
      <div class="container-form" style="min-height: 440px">
        <el-form ref="form" :model="form" :rules="rules" label-width="120px">
          <el-row>
            <el-col :span="12">
              <el-form-item label="商户名称" prop="vehiclename">
                <el-input v-model="form.vehiclename" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="联系方式" prop="account">
                <el-input v-model="form.account" placeholder="请输入" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="所属省份" required>
                <el-select v-model="form.province" filterable placeholder="请选择省" @change="selectProvince" style="width: 100%">
                  <el-option
                    v-for="item in provinces"
                    :key="item.index"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="所属城市" required>
                <el-select v-model="form.city" filterable placeholder="请选择市" @change="selectCity" style="width: 100%">
                  <el-option
                    v-for="item in citys"
                    :key="item.index"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="所属区域" required>
                <el-select v-model="form.area" filterable placeholder="请选择区" style="width: 100%">
                  <el-option
                    v-for="item in areas"
                    :key="item.index"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="信息简介" prop="remark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入..."
                  v-model="form.remark"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24" style="text-align: center;margin-top: 50px;">
              <el-button type="primary" @click="confirmEidt('form')" v-show="form.updateicon">确认修改</el-button>
              <el-button type="info" v-show="!form.updateicon" disabled>正在审核中...</el-button>
              <el-button type="danger" @click="resetForm">重置</el-button>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <!-- 编辑提示框 -->
    <el-dialog title="提示" :visible.sync="editVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">是否确定要进行编辑修改？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('form')">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  data () {
    return {
      form: {
        vehiclename: '',
        account: '',
        province: '',
        city: '',
        area: '',
        remark: '',
        backupstatus: 0,
        updateicon: true
      },
      rules: {
        vehiclename: [{ required: true, message: "不能为空", trigger: "blur" }],
        account: [{ required: true, message: "不能为空", trigger: "blur" }],
        remark: [{ required: true, message: "不能为空", trigger: "blur" }]
      },
      provinces: [],
      citys: [],
      areas: [],
      editVisible: false
    }
  },
  watch: {

  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  created () {
    this.provinceList();
    this.submitData();
  },
  mounted () {

  },
  beforeDestroy () {

  },
  methods: {
    submitData () {
      http.post("/vehicle/info.do", {
        vehicleid: this.uulogin.id
      }).then((result) => {
        if (result.status === 1) {
          const data = result.data;
          if (data.province === 0) {
            data.province = '';
            data.city = '';
            data.area = '';
          }
          this.form = data;
          if (data.backupstatus !== 0) {
            this.cityList();
            this.areasList();
          }
          let value = {
            type: this.uulogin.type,
            id: data.id,
            name: this.uulogin.name,
            account: data.account,
            province: data.province,
            city: data.city,
            area: data.area,
            backupstatus: data.backupstatus
          }
          sessionStorage.setItem('uulogin', JSON.stringify(value))
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    confirmEidt (formName) {
      if (this.form.backupstatus === 2) {
        this.editVisible = true;
      } else {
        this.saveEdit(formName);
      }
    },
    saveEdit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
         http.post("/vehicle/update.do", {
          id: this.form.id,
          province: this.form.province,
          city: this.form.city,
          area: this.form.area,
          account: this.form.account,
          remark: this.form.remark,
          vehiclename: this.form.vehiclename
         })
          .then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg);
              setTimeout(() => {
                this.submitData();
              },20)
              this.editVisible = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    resetForm () {
      this.$refs.form.resetFields();
      this.form = {
        vehiclename: '',
        account: '',
        province: '',
        city: '',
        area: '',
        remark: '',
        backupstatus: 0,
        updateicon: true
      },
      this.submitData();
    },
    selectProvince () {
      this.cityList();
      this.form.city = "";
      this.form.area = "";
      this.areas = [];
    },
    selectCity () {
      this.areasList();
      this.form.area = "";
    },
    provinceList() {
      //省列表
      http.post("/areas/getlist.do", {})
        .then((result) => {
          if (result.status === 1) {
            this.provinces = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch((error) => {
          this.$message.error(error);
        });
    },
    cityList() {
      //市列表
      http.post("/areas/selectbyparentid.do", {
        parentid: this.form.province
      }).then((result) => {
        if (result.status === 1) {
          this.citys = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch((error) => {
        this.$message.error(error);
      });
    },
    areasList() {
      //区列表
      http.post("/areas/selectbyparentid.do", {
          parentid: this.form.city
      }).then((result) => {
          if (result.status === 1) {
            this.areas = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch((error) => {
          this.$message.error(error);
        });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../Home/index.scss';
</style>
