<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-30 23:05:41
 * @LastEditTime: 2019-08-21 15:22:24
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>数据查询
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-form">
        <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
          <el-row>
            <el-col :span="24">
              <el-form-item label="功能模块" prop="backupname">
                <el-select v-model="searchform.backupname" class="search-input" placeholder="请选择" clearable>
                  <el-option
                    v-for="(item, index) in menuList" :key="index"
                    :label="item.name"
                    :value="item.name"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label-width="0px">
                <el-button type="primary" @click="handleSearch">查询</el-button>
                <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span><i class="el-icon-s-data crumbs-i-right"></i>数据列表</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-table" style="min-height: 440px">
        <el-table :data="tableData" border class="table">
          <el-table-column prop="createtime" label="操作时间" ></el-table-column>
          <el-table-column prop="backupname" label="功能板块" width="200"></el-table-column>
          <el-table-column prop="backupstatusname" label="审核状态" width="200">
            <template slot-scope="scope">
              <span class="color-err" v-show="scope.row.backupstatus === 3">{{scope.row.backupstatusname}}</span>
              <span class="color-suc"  v-show="scope.row.backupstatus === 2">{{scope.row.backupstatusname}}</span>
              <span class="color-default"  v-show="scope.row.backupstatus === 1">{{scope.row.backupstatusname}}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="200" align="center">
            <template slot-scope="scope">
              <el-button
                type="text"
                icon="el-icon-edit"
                v-show="false"
                @click="handleCat(scope.$index, scope.row, true)"
              >编辑</el-button>
              <el-button
                type="text"
                icon="el-icon-delete"
                class="red"
                :disabled="2 === scope.row.backupstatus"
                @click="handleDel(scope.$index, scope.row)"
              >撤销</el-button>
              <el-button
                type="text"
                icon="el-icon-search"
                @click="handleCat(scope.$index, scope.row, false)"
              >查看</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination
            background
            @size-change="changeLimit"
            @current-change="handleCurrentChange"
            :current-page.sync="page"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="limit"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
          </el-pagination>
        </div>
      </div>
    </el-card>
    <!-- 查看婚车商户 -->
    <el-dialog title="婚车商户" :visible.sync="catVisible13" width="800px" @close="closeDialog('form13')" center>
      <el-form ref="form13" :model="form13" label-width="100px" :rules="rules13">
          <el-row>
            <el-col :span="24">
              <el-form-item label="商户名称" prop="vehiclename" >
                <el-input v-model="form13.vehiclename" :disabled="!isEdit"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="联系方式" prop="account" >
                <el-input v-model="form13.account" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-form-item label="所属区域" required>
              <el-col :span="8">
                <el-form-item>
                  <el-select v-model="form13.province" :disabled="!isEdit" @change="selectProvince" class="input-width">
                    <el-option
                      v-for="item in provinces"
                      :key="item.index"
                      :label="item.areaname"
                      :value="item.areaid">
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item>
                  <el-select v-model="form13.city" :disabled="!isEdit" @change="selectCity" class="input-width">
                    <el-option
                      v-for="item in citys"
                      :key="item.index"
                      :label="item.areaname"
                      :value="item.areaid">
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item>
                  <el-select v-model="form13.area" :disabled="!isEdit" class="input-width">
                    <el-option
                      v-for="item in areas"
                      :key="item.index"
                      :label="item.areaname"
                      :value="item.areaid">
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
            </el-form-item>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="信息简介" prop="remark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入..."
                  v-model="form13.remark"
                  maxlength="200"
                  show-word-limit
                  :disabled="!isEdit"
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
        <div v-show="!isEdit">
          <el-divider>平台反馈</el-divider>
        </div>
        <div class="check-result" v-show="rowData.backupstatus === 1 && !isEdit">
          <h1><i class="el-icon-warning"></i></h1>
          <p>审核中</p>
        </div>
        <div class="check-result result-suc" v-show="rowData.backupstatus === 2 && !isEdit">
          <h1><i class="el-icon-circle-check"></i></h1>
          <p>审核成功</p>
        </div>
        <div class="check-result result-err" v-show="rowData.backupstatus === 3 && !isEdit">
          <h1><i class="el-icon-circle-close"></i></h1>
          <p>审核驳回</p>
        </div>
        <el-row v-show="rowData.backupstatus === 3 && !isEdit">
          <el-col :span="24">
            <el-form-item label="驳回理由" prop="backupremark">
              <el-input
                type="textarea"
                :rows="3"
                resize="none"
                placeholder="请输入.."
                v-model="form13.backupremark"
                disabled
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="saveEdit13('form13', 'catVisible13')" v-show="isEdit">确 定 编 辑</el-button>
        <el-button @click="catVisible13 = false">返 回 列 表</el-button>
      </span>
    </el-dialog>
    <!-- 查看婚车信息 -->
    <el-dialog title="婚车信息" :visible.sync="catVisible14" width="967px" @close="closeDialog('form14')" center>
      <el-form ref="form14" :model="form14" label-width="100px" :rules="rules14">
        <el-row>
          <el-col :span="8">
            <el-form-item label="车辆名称" prop="name" >
              <el-input v-model="form14.name" :disabled="!isEdit" class="input-width"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="车辆颜色" prop="colorjson" >
              <el-select v-model="form14.colorjson" :disabled="!isEdit" multiple value-key= "id">
                <el-option
                  v-for="(item) in colorList"
                  :key="item.id"
                  :label="item.name"
                  :value="item"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="车辆品牌" prop="brandid" >
              <el-select v-model="form14.brandid" :disabled="!isEdit">
                <el-option
                  v-for="(item, index) in brandList" :key="index"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8">
            <el-form-item label="车辆类型" prop="type" >
              <el-select v-model="form14.type" :disabled="!isEdit" class="input-width">
                <el-option
                  v-for="(item, index) in cartypeList" :key="index"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="全天价格" prop="daymoney" >
              <el-input v-model="form14.daymoney" :disabled="!isEdit" class="input-width"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="优惠价格" prop="daydiscountmoney" >
              <el-input v-model="form14.daydiscountmoney" :disabled="!isEdit" class="input-width"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
            <el-col :span="24">
              <el-form-item label="全天描述" prop="wholeday" >
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form14.wholeday"
                  :disabled="!isEdit"
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="半天价格" prop="halfmoney" >
                <el-input v-model="form14.halfmoney" disabled class="input-width"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="优惠价格" prop="halfdiscountmoney" >
                <el-input v-model="form14.halfdiscountmoney" disabled class="input-width"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="半天描述" prop="halfday" >
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form14.halfday"
                  :disabled="!isEdit"
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="花环价格" prop="wreathprice">
                <el-input v-model="form14.wreathprice" clearable placeholder="请输入" :disabled="!isEdit"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="车辆描述" prop="introduce" >
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form14.introduce"
                  maxlength="200"
                  show-word-limit
                  :disabled="!isEdit"
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
        <el-row v-show="!isEdit">
          <el-col :span="24">
            <el-form-item label="婚车图片" required>
              <ul class="image-ul carimage" v-viewer="{movable: false}">
                <li class="image-li"
                  v-for="(item, index) in form14.pcpath" :key="index"
                  @click="handleImage('.carimage')"
                >
                  <img :src="item" alt="">
                </li>
              </ul>
              <div class="images-warn">
                <p>图片建议尺寸：597px*345px</p>
                <p>图片建议张数：至少5张</p>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-show="isEdit">
          <el-col :span="24">
            <el-form-item label="婚车图片" required>
              <UpImages :fileList="form14.pcpath" @upImages="gotPcpath14"></UpImages>
              <div class="images-warn">
                <p>图片建议尺寸：597px*345px</p>
                <p>图片建议张数：至少5张</p>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <div v-show="!isEdit">
          <el-divider>平台反馈</el-divider>
        </div>
        <div class="check-result" v-show="rowData.backupstatus === 1 && !isEdit">
          <h1><i class="el-icon-warning"></i></h1>
          <p>审核中</p>
        </div>
        <div class="check-result result-suc" v-show="rowData.backupstatus === 2 && !isEdit">
          <h1><i class="el-icon-circle-check"></i></h1>
          <p>审核成功</p>
        </div>
        <div class="check-result result-err" v-show="rowData.backupstatus === 3 && !isEdit">
          <h1><i class="el-icon-circle-close"></i></h1>
          <p>审核驳回</p>
        </div>
        <el-row v-show="rowData.backupstatus === 3 && !isEdit">
          <el-col :span="24">
            <el-form-item label="驳回理由" prop="backupremark">
              <el-input
                type="textarea"
                :rows="3"
                resize="none"
                placeholder="请输入.."
                v-model="form14.backupremark"
                disabled
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
       <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="saveEdit14('form14', 'catVisible14')" v-show="isEdit">确 定 编 辑</el-button>
        <el-button @click="catVisible14 = false">返 回 列 表</el-button>
      </span>
    </el-dialog>




    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div style="text-align:center">撤销不可恢复，是否确定撤销？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
import 'viewerjs/dist/viewer.css'
import Viewer from 'v-viewer'
import Vue from 'vue'
Vue.use(Viewer)
import UpImages from '@/components/common/Upload/upListImage.vue'
export default {
  data () {
    //正整数
    let validateNumber = (rule, value, callback) => {
      if (!value) {
        callback(new Error('不能为空'));
      } else {
        if (!/^[1-9][0-9]*$/.test(value)) {
          callback(new Error('输入不合法'));
        } else {
          callback();
        }
      }
    };
    return {
      searchform: {
        backupname: ''
      },
      searchresult: {
        backupname: ''
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      rowData: {},
      isEdit: false,
      delVisible: false,
      catVisible: false,
      form13: {},
      catVisible13: false,
      rules13: {
        vehiclename: [{ required: true, message: "不能为空", trigger: "blur" }],
        account: [{ required: true, message: "不能为空", trigger: "blur" }],
        remark: [{ required: true, message: "不能为空", trigger: "blur" }]
      },
      form14: {},
      catVisible14: false,
      rules14: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        introduce: [{ required: true, message: "不能为空", trigger: "blur" }],
        daymoney: [{ validator: validateNumber, required: true,  trigger: "blur" }],
        daydiscountmoney: [{ validator: validateNumber, required: true,  trigger: "blur" }],
        halfmoney: [{ validator: validateNumber, required: true,  trigger: "blur" }],
        halfdiscountmoney: [{ validator: validateNumber, required: true,  trigger: "blur" }],
        wholeday: [{ required: true, message: "不能为空", trigger: "blur" }],
        halfday: [{ required: true, message: "不能为空", trigger: "blur" }],
        brandid: [{ required: true, message: "不能为空", trigger: "change" }],
        colorjson: [{ required: true, message: "不能为空", trigger: "change" }],
        type: [{ required: true, message: "不能为空", trigger: "change" }]
      },
      cartypeList: [],
      colorList: [],
      brandList: [],
      provinces: [],
      citys: [],
      areas: [],
      menuList: [{
        id: 14,
        name: '婚车基本信息'
      },{
        id: 15,
        name: '婚车列表'
      }]
    }
  },
  watch: {
    "form14.daymoney": {
      handler (val, old) {
        if (/^[1-9][0-9]*$/.test(val)) {
          this.form14.halfmoney = val/2
        }
      }
    },
    "form14.daydiscountmoney": {
      handler (val, old) {
        if (/^[1-9][0-9]*$/.test(val)) {
          this.form14.halfdiscountmoney = val/2
        }
      }
    }
  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  components: {
    UpImages
  },
  created () {
    this.submitData();
  },
  mounted () {

  },
  beforeDestroy () {

  },
  methods: {
    handleSearch() {
      //查询
      this.page = 1;
      this.searchresult = this.searchform;
      this.submitData();
    },
    resetSearch (formName) {
      //重置查询
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.submitData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    //改变页数
    changeLimit (val) {
      this.page = 1;
      this.limit = val;
      this.submitData();
    },
    submitData() {
      http.post("/backup/backuplist.do", {
        id: this.uulogin.id,
        type: 3,
        page: this.page,
        limit: this.limit,
        backupname: this.searchresult.backupname
      }).then((result) => {
        if (result.status === 1) {
          this.tableData = result.data.result;
          this.total = result.data.total;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    handleCat(index, row, value) {
      this.isEdit = value;
      this.rowData = row;
      http.post("/backup/info.do", {
        id: row.id,
        type: row.type
      }).then((result) => {
        if (result.status === 1) {
          switch (row.type) {
            case 13:
              this.provinceList();
              this.catVisible13 = true;
              this.form13 = result.data;
              this.cityList();
              this.areasList();
              break;
            case 14:
              this.colorData();
              this.typeData();
              this.brandData();
              this.catVisible14 = true;
              const data14  = result.data;
              this.form14 = {
                ...data14,
                colorjson: data14.colordata
              }
              break;
          }
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.warning(error);
      });
    },
    handleDel(index, row) {
      this.rowData = row;
      this.delVisible = true;
    },
    deleteRow() {
      http.post("/backup/revoke.do", {
        id: this.rowData.id,
        type: this.rowData.type
      }).then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          setTimeout(() => {
            this.submitData();
          }, 50);
          this.delVisible = false;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.warning(error);
      });
    },
    saveEdit13(formName,visible) {
      if (this.form13.province < 1 || this.form13.city < 1 || this.form13.area < 1) {
        this.$message.warning('请选择省市区');
        return
      }
      this.$refs[formName].validate(valid => {
        if (valid) {
         http.post("/vehicle/update.do", {
          id: this.form13.id,
          province: this.form13.province,
          city: this.form13.city,
          area: this.form13.area,
          account: this.form13.account,
          remark: this.form13.remark,
          vehiclename: this.form13.vehiclename
         })
          .then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg)
              setTimeout(() => {
                this.submitData();
              },20)
              this[visible] = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    saveEdit14(formName,visible) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (!this.form14.pcpath.length) {
            this.$message.warning('车辆图片不能为空');
            return
          }
          if (parseInt(this.form14.daymoney) < parseInt(this.form14.daydiscountmoney)) {
            this.$message.warning('市场价格不能小于优惠价格');
            return
          }
          let param = {
            id: this.form14.id,
            name: this.form14.name,
            type: this.form14.type,
            brandid: this.form14.brandid,
            daymoney: this.form14.daymoney,
            daydiscountmoney: this.form14.daydiscountmoney,
            colorjson: JOSN.stringify(this.form14.colorjson),
            wreathprice: this.form.wreathprice,
            wholeday: this.form14.wholeday,
            halfday: this.form14.halfday,
            halfmoney: this.form14.halfmoney,
            halfdiscountmoney: this.form14.halfdiscountmoney,
            introduce: this.form14.introduce,
            province: this.form14.province,
            city: this.form14.city,
            area: this.form14.area,
            pcpathjson: JSON.stringify(this.form14.pcpath)
          }
         http.post("/vehicle/updatevehicle.do", param)
         .then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg);
              setTimeout(() => {
                this.submitData();
              }, 20);
              this[visible] = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    gotPcpath14 (value) {
      this.form14.pcpath = value;
    },
    closeDialog(formName) {
      this.$refs[formName].resetFields();
      this[formName] = {};
      this.form14.pcpath = [];
      this.form14.colorjson = [];
      this.rowData = {};
    },
    handleImage (value) {
      this.$nextTick(()=> {
        const viewer = this.$el.querySelector(value).$viewer;
        viewer.show();
      })
    },
    colorData () {
      //车颜色
      http.post("/vehicle/colordrop.do", {})
      .then((result) => {
        if (result.status === 1) {
          this.colorList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    brandData () {
      //车品牌
      http.post("/vehiclebrand/getlist.do", {})
      .then((result) => {
        if (result.status === 1) {
          this.brandList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    typeData () {
      //车类型
      http.post("/type/vehicletype.do", {})
      .then((result) => {
        if (result.status === 1) {
          this.cartypeList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    selectProvince () {
      this.cityList();
      this.form13.city = '';
      this.form13.area = '';
      this.areas= [];
    },
    selectCity () {
      this.form13.area = '';
      this.areasList()
    },
    provinceList() {
      //省列表
      http.post("/areas/getlist.do", {})
        .then((result) => {
          if (result.status === 1) {
            this.provinces = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch((error) => {
          this.$message.error(error);
        });
    },
    cityList() {
      //市列表
      http.post("/areas/selectbyparentid.do", {
        parentid: this.form13.province
      }).then((result) => {
        if (result.status === 1) {
          this.citys = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch((error) => {
        this.$message.error(error);
      });
    },
    areasList() {
      //区列表
      http.post("/areas/selectbyparentid.do", {
        parentid: this.form13.city
      }).then((result) => {
          if (result.status === 1) {
            this.areas = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch((error) => {
          this.$message.error(error);
        });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../Home/index.scss';
</style>
