<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-30 23:05:41
 * @LastEditTime: 2019-08-21 15:22:22
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-s-data crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card class="box-card">
      <ul class="type-ul">
        <li class="type-li"
          :class="{'type-li-active': typeIndex === index}"
          v-for="(item, index) in cartypeList" :key="index"
          @click="selectType(index, item)"
        >
          {{item.name}}
        </li>
      </ul>
      <div class="container-table" style="margin-top: 20px;">
        <ul class="table-ul">
          <li class="table-li"
            v-for="(item, index) in tableData" :key="index"
            :class="{'table-li-active': current === index}"
            @click="handleEdit(index, item)"
          >
            <span class="li-span">{{item.name}}</span>
            <!-- <span class="nopass-icon" v-show="item.backupstatus !== 2">
              <i class="el-icon-warning"></i>
            </span> -->
          </li>
          <li class="table-li" :class="{'table-li-last': current === -100}" @click="handleAdd">
            <i class="el-icon-plus add-icon"></i>
          </li>
        </ul>
      </div>
    </el-card>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span v-if="current === -100"><i class="el-icon-s-unfold crumbs-i-right"></i>新增婚车</span>
          <span v-else><i class="el-icon-s-unfold crumbs-i-right"></i>婚车信息</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-form">
        <el-form ref="form" :model="form" label-width="120px" :rules="rules">
          <el-row>
            <el-col :span="8">
              <el-form-item label="车辆名称" prop="name">
                <el-input v-model="form.name" placeholder="请输入" clearable>
                </el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="车辆颜色" prop="colorjson">
                <el-select v-model="form.colorjson"  multiple :multiple-limit="3" filterable placeholder="请选择" style="width: 100%" value-key= "id">
                  <el-option
                    v-for="(item) in colorList"
                    :key="item.id"
                    :label="item.name"
                    :value="item"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="车辆品牌" prop="brandid">
                <el-select v-model="form.brandid" filterable placeholder="请选择" style="width: 100%">
                  <el-option
                    v-for="(item, index) in brandList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="全天价格" prop="daymoney">
                <el-input v-model="form.daymoney" clearable placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="优惠价格" prop="daydiscountmoney">
                <el-input v-model="form.daydiscountmoney" clearable placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="全天描述" prop="wholeday">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.wholeday"
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="半天价格" prop="halfmoney">
                <el-input v-model="form.halfmoney" disabled placeholder="自动获取" ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="优惠价格" prop="halfdiscountmoney">
                <el-input v-model="form.halfdiscountmoney" disabled placeholder="自动获取"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="半天描述" prop="halfday">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.halfday"
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="花环价格" prop="wreathprice">
                <el-input v-model="form.wreathprice" clearable placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="车辆描述" prop="introduce">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.introduce"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="车辆图片" required>
                <UpImages :fileList="form.pcpath" @upImages="gotPcpath"></UpImages>
                <div class="images-warn">
                  <p>图片尺寸：600px*400px</p>
                  <p>图片至少张数：5张</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row v-if="current === -100">
            <el-col :span="24" style="text-align: center">
              <el-button type="primary" @click="saveAdd('form')">确认新增</el-button>
              <el-button type="danger" @click="resetForm">重置</el-button>
            </el-col>
          </el-row>
          <el-row v-else>
            <el-col :span="24" style="text-align: center">
              <el-button type="primary" @click="confirmEidt" v-show="form.updateicon">确认修改</el-button>
              <el-button type="info" v-show="!form.updateicon" disabled>正在审核中...</el-button>
              <el-button type="danger" @click="handleDel">删除数据</el-button>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <!-- 编辑提示框 -->
    <el-dialog title="提示" :visible.sync="editVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">是否确定要进行编辑修改？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('form')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">删除不可恢复，是否确定删除？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import UpImages from '@/components/common/Upload/upListImage.vue'
import http from '@/axios/http'
export default {
  data () {
    let validateNumber = (rule, value, callback) => {
      if (!value) {
        callback(new Error('不能为空'));
      } else {
        if (!/^[1-9][0-9]*$/.test(value)) {
          callback(new Error('输入不合法'));
        } else {
          callback();
        }
      }
    };
    return {
      tableData: [],
      typeIndex: 0,
      rowData: {},
      current: -100,
      delVisible: false,
      editVisible: false,
      form: {
        name: '',
        type: 1,
        brandid: '',
        daymoney: '',
        daydiscountmoney: '',
        halfmoney: '',
        halfdiscountmoney: '',
        color: [],
        colorjson: [],
        wholeday: '',
        halfday: '',
        introduce: '',
        pcpath: [],
        pcpathList: [],
        wreathprice: ''
      },
      rules: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        introduce: [{ required: true, message: "不能为空", trigger: "blur" }],
        daymoney: [{ validator: validateNumber, required: true,  trigger: "blur" }],
        daydiscountmoney: [{ validator: validateNumber, required: true,  trigger: "blur" }],
        halfmoney: [{ validator: validateNumber, required: true,  trigger: "blur" }],
        wreathprice: [{ validator: validateNumber, required: true,  trigger: "blur" }],
        halfdiscountmoney: [{ validator: validateNumber, required: true,  trigger: "blur" }],
        wholeday: [{ required: true, message: "不能为空", trigger: "blur" }],
        halfday: [{ required: true, message: "不能为空", trigger: "blur" }],
        brandid: [{ required: true, message: "不能为空", trigger: "change" }],
        colorjson: [{ required: true, message: "不能为空", trigger: "change" }]
      },
      provinces: [],
      citys: [],
      areas: [],
      cartypeList: [{
        name: '跑车/SUV',
        id:1,
      },{
        name: '中档轿车',
        id:2,
      },{
        name: '高档轿车',
        id:3,
      },{
        name: '豪华轿车',
        id:4,
      }],
      colorList: [],
      brandList: []
    }
  },
  watch: {
    "form.daymoney": {
      handler (val, old) {
        if (/^[1-9][0-9]*$/.test(val)) {
          this.form.halfmoney = val/2
        }
      }
    },
    "form.daydiscountmoney": {
      handler (val, old) {
        if (/^[1-9][0-9]*$/.test(val)) {
          this.form.halfdiscountmoney = val/2
        }
      }
    }
  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  created () {
    this.submitData();
    this.colorData();
    this.typeData();
    this.brandData();
  },
  mounted () {

  },
  beforeDestroy () {

  },
  components: {
    UpImages
  },
  methods: {
    selectType (index, item) {
      this.typeIndex = index;
      this.form.type = item.id;
      this.submitData();
      this.resetForm();
    },
    submitData() {
      http.post("/vehicle/listvehicle.do", {
        vehicleid: this.uulogin.id,
        type: this.form.type
      }).then((result) => {
        if (result.status === 1) {
          this.tableData = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    resetForm () {
      this.current = -100;
      this.$refs.form.resetFields();
      this.form = {
        type: this.form.type,
        name: '',
        brandid: '',
        daymoney: '',
        daydiscountmoney: '',
        halfmoney: '',
        halfdiscountmoney: '',
        color: [],
        colorjson: [],
        wholeday: '',
        halfday: '',
        introduce: '',
        wreathprice: '',
        pcpath: []
      };
    },
    handleAdd () {
      this.resetForm();
    },
    saveAdd(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (!this.form.pcpath.length) {
            this.$message.warning('车辆图片不能为空');
            return
          }
          if (parseInt(this.form.daymoney) < parseInt(this.form.daydiscountmoney)) {
            this.$message.warning('市场价格不能小于优惠价格');
            return
          }
          /*
          let colorjson = [];
          const colorList = this.colorList;
          const color = this.form.color;
          for (let i = 0; i < colorList.length; i++) {
            for (let j = 0; j < color.length; j++) {
              if (colorList[i].id == color[j]) {
                colorjson.push(colorList[i])
              }
            }
          }
          */
          let param = {
            vehicleid: this.uulogin.id,
            name: this.form.name,
            type: this.form.type,
            brandid: this.form.brandid,
            daymoney: this.form.daymoney,
            daydiscountmoney: this.form.daydiscountmoney,
            colorjson: JSON.stringify(this.form.colorjson),
            wholeday: this.form.wholeday,
            halfday: this.form.halfday,
            halfmoney: this.form.halfmoney,
            halfdiscountmoney: this.form.halfdiscountmoney,
            introduce: this.form.introduce,
            wreathprice: this.form.wreathprice,
            province: this.uulogin.province,
            city: this.uulogin.city,
            area: this.uulogin.area,
            pcpathjson: JSON.stringify(this.form.pcpath),

          }
         http.post("/vehicle/addvehicle.do", param)
         .then((result) => {
              if (result.status === 1) {
                this.$message.success(result.msg);
                setTimeout(() => {
                  this.submitData();
                  this.resetForm();
                }, 20)
              } else {
                this.$message.warning(result.msg);
              }
            })
            .catch(error => {
              this.$message.error(error);
            });
        }
      });
    },
    handleEdit(index, row) {
      this.current = index;
      this.$refs.form.resetFields();
      http.post("/vehicle/vehicleinfo.do", {
        id: row.id
      }).then((result) => {
        if (result.status === 1) {
          let data = result.data;
          this.form = {
            ...data,
            colorjson: data.colordata
          }
          this.rowData = data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    confirmEidt () {
      this.editVisible = true;
    },
    saveEdit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (!this.form.pcpath.length) {
            this.$message.warning('车辆图片不能为空');
            return
          }
          if (this.form.daymoney < this.form.daydiscountmoney) {
            this.$message.warning('市场价格不能小于优惠价格');
            return
          }
          /*
          console.log(this.form.color)
          let colorjson = [];
          const colorList = this.colorList;
          const color = this.form.color;
          for (let i = 0; i < colorList.length; i++) {
            for (let j = 0; j < color.length; j++) {
              if (colorList[i].id == color[j]) {
                colorjson.push(colorList[i])
              }
            }
          }
          */
          // console.log(colorjson)
          let param = {
            id: this.form.id,
            name: this.form.name,
            type: this.form.type,
            brandid: this.form.brandid,
            daymoney: this.form.daymoney,
            daydiscountmoney: this.form.daydiscountmoney,
            colorjson: JSON.stringify(this.form.colorjson),
            wholeday: this.form.wholeday,
            halfday: this.form.halfday,
            halfmoney: this.form.halfmoney,
            halfdiscountmoney: this.form.halfdiscountmoney,
            introduce: this.form.introduce,
            wreathprice: this.form.wreathprice,
            province: this.uulogin.province,
            city: this.uulogin.city,
            area: this.uulogin.area,
            pcpathjson: JSON.stringify(this.form.pcpath)
          }
         http.post("/vehicle/updatevehicle.do", param)
         .then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg);
              setTimeout(() => {
                this.submitData();
                this.resetForm();
              }, 20);
              this.editVisible = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    handleDel() {
      this.delVisible = true;
    },
    deleteRow() {
      http.post("/vehicle/delvehicle.do", {
        id: this.rowData.id
      }).then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          setTimeout(() => {
            this.submitData();
            this.resetForm();
          }, 20);
          this.delVisible = false;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    gotPcpath (value) {
      this.form.pcpath = value;
    },
    colorData () {
      //车颜色
      http.post("/vehicle/colordrop.do", {})
      .then((result) => {
        if (result.status === 1) {
          this.colorList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    brandData () {
      //车品牌
      http.post("/vehiclebrand/getlist.do", {})
      .then((result) => {
        if (result.status === 1) {
          this.brandList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    typeData () {
      //车类型
      http.post("/type/vehicletype.do", {})
      .then((result) => {
        if (result.status === 1) {
          this.cartypeList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../Home/index.scss';
.box-card {
  margin-bottom: 20px;
  .type-ul {
    height: 50px;
    width: 100%;
    display: flex;
    .type-li {
      flex: 1;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: #909399;
      color: #fff;
      letter-spacing: 2px;
      font-size: 16px;
      &.type-li-active {
        background: #409EFF;
      }
    }
  }
}
</style>
