<template>
  <div class="page">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>数据查询
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-form">
        <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
          <el-row>
            <el-col :span="24">
              <el-form-item label-width="0" prop="phone">
                <el-input v-model="searchform.phone" placeholder="请输入手机号" class="search-input" clearable></el-input>
              </el-form-item>
              <el-form-item label-width="0px">
                <el-button type="primary" @click="handleSearch">查询</el-button>
                <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span><i class="el-icon-s-data crumbs-i-right"></i>数据列表</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-table" style="min-height: 440px">
        <el-table :data="tableData" border class="table">
          <el-table-column prop="id" label="编号" width="100"></el-table-column>
          <el-table-column prop="createtime" label="预约时间" width="150"></el-table-column>
          <el-table-column prop="phone" label="客户手机" width="100"></el-table-column>
          <el-table-column prop="backupstatusname" label="内容" width="200">
            <template slot-scope="scope">
              <div v-show="scope.row.hangbrand">
                <p>头车品牌：{{scope.row.hangbrand}}</p>
                <p>跟车品牌：{{scope.row.tailbrand}}</p>
                <p>用车日期：{{scope.row.usedtime}}</p>
                <p>配备司机：{{scope.row.driver}}</p>
              </div>
              <div v-show="!scope.row.hangbrand">
                <p>车身颜色{{scope.row.color}}</p>
                <p>婚车用途：{{scope.row.purpose}}</p>
                <p>用车日期：{{scope.row.usedtime}}</p>
                <p>租赁时间：{{scope.row.cartime}}</p>
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="status" label="状态" width="80">
            <template slot-scope="scope">
              <span class="color-suc"  v-show="scope.row.status === 0">未接单</span>
              <span class="color-default"  v-show="scope.row.status === 1">已接单</span>
              <span class="color-default"  v-show="scope.row.status === 2">已完成</span>
            </template>
          </el-table-column>
          <el-table-column prop="type" label="类型" width="80">
            <template slot-scope="scope">
              <span class="color-suc"  v-show="scope.row.type === 1">平台分配</span>
              <span class="color-default"  v-show="scope.row.type === 2">平台抢单</span>
            </template>
          </el-table-column>
          <el-table-column prop="phone" label="备注"></el-table-column>
          <el-table-column label="操作" width="100" align="center">
            <template slot-scope="scope">
              <el-button
                type="text"
                icon="el-icon-edit"
                v-show="3 === scope.row.backupstatus"
                @click="askOrder(scope.$index, scope.row, true)"
              >受理</el-button>
              <el-button
                type="text"
                icon="el-icon-delete"
                class="red"
                :disabled="2 === scope.row.backupstatus"
                @click="askDel(scope.$index, scope.row)"
              >举报</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination
            background
            @size-change="changeLimit"
            @current-change="handleCurrentChange"
            :current-page.sync="page"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="limit"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
          </el-pagination>
        </div>
      </div>
    </el-card>
  
    <!-- 提示框 -->
    <el-dialog title="提示" :visible.sync="visible" width="30%" center>
      <div style="text-align:center">确定接此订单？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="visible = false">取 消</el-button>
        <el-button type="primary" @click="handleOrder">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 举报提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div style="text-align:center">确定举报此订单？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleDel">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  data () {
    return {
      searchform: {
        phone: ''
      },
      searchresult: {
        phone: ''
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      visible: false,
      delVisible: false
    }
  },
  watch: {
    
  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  components: {
    
  },
  created () {
    this.submitData();
  },
  mounted () {
    
  },
  beforeDestroy () {
    
  },
  methods: {
    handleSearch() {
      //查询
      this.page = 1;
      this.searchresult = this.searchform;
      this.submitData();
    },
    resetSearch (formName) {
      //重置查询
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.submitData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    //改变页数
    changeLimit (val) {
      this.page = 1;
      this.limit = val;
      this.submitData();
    },
    submitData() {
      http.post("/vehiclesubscribe/myhalllist.do", {
        page: this.page,
        vehicleid: this.uulogin.id,
        limit: this.limit,
        phone: this.searchresult.phone
      }).then((result) => {
        if (result.status === 1) {
          this.tableData = result.data.result;
          this.total = result.data.total;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    askOrder (index, row) {
      this.rowData = row;
      this.visible = true;
    },
    handleOrder() {
      http.post("/vehiclesubscribe/receipt.do", {
        id: this.rowData.id,
        vehicleid: this.uulogin.id
      }).then((result) => {
        if (result.status === 1) {
          this.visible = false;
          this.$message.success(result.msg);
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.warning(error);
      });
    },
    askDel (index, row) {
      this.rowData = row;
      this.delVisible = true;
    },
    handleDel() {
      this.delVisible = false;
      return
      http.post("/vehiclesubscribe/receipt.do", {
        id: this.rowData.id,
        vehicleid: this.uulogin.id
      }).then((result) => {
        if (result.status === 1) {
          this.delVisible = false;
          this.$message.success(result.msg);
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.warning(error);
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../Home/index.scss';
</style>
