<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-30 23:05:41
 * @LastEditTime: 2019-08-30 13:30:40
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <el-card shadow="always" class="page-title">
      <div class="title-tag">
        <div class="tag-span">订单新增</div>
        <div class="back-btn-box">
          <el-button icon="el-icon-arrow-left" @click="handleBack">返回订单页</el-button>
        </div>
      </div>
    </el-card>
    <el-form ref="form" :model="form" :rules="rules" label-width="120px">
      <!-- 客户信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          客户信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="12">
              <el-form-item label="新郎姓名" prop="groomname">
                <el-input v-model="form.groomname"  placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="新郎电话" prop="groomaccout">
                <el-input v-model="form.groomaccout" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="新郎地址" prop="groomaddress">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.groomaddress"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="新娘姓名" prop="bridename">
                <el-input v-model="form.bridename"  placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="新娘电话" prop="brideaccount">
                <el-input v-model="form.brideaccount" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="新娘地址" prop="brideaddress">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.brideaddress"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="客户婚期" prop="orderweddingdate">
                <el-date-picker
                  v-model="form.orderweddingdate"
                  type="date"
                  placeholder="选择日期"
                  style="width: 100%"
                  format="yyyy 年 MM 月 dd 日"
                  value-format="yyyy-MM-dd"
                  :picker-options="pickerOptions"
                >
                </el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="联系邮箱" prop="email">
                <el-input v-model="form.email"  placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <!-- 婚庆信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          婚庆信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="24">
              <el-form-item label="婚庆方案" prop="merchantdemoid">
                <el-select v-model="form.merchantdemoid" clearable placeholder="请选择" @change="selectProduct" style="width: 100%">
                  <el-option
                    v-for="(item, index) in productList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注信息" prop="demoremark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.demoremark"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div class="price-total" v-show="form.demomoney">
                <span class="price-discount"><strong>现价：</strong>{{form.demodiscountmoney}} 元</span>
                <span class="price-money"><span>原价：{{form.demomoney}} 元</span></span>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <!-- 酒店信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          酒店信息
        </div>
        <div class="container-form">
          <el-row>
            <City @handleAddress="gotAddress" :province="uulogin.province" :city="uulogin.city" :area="form.hotelareaid" :isdisable="false"></City>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="酒店商户" prop="hotelid">
                <el-select v-model="form.hotelid" clearable filterable placeholder="请选择" @change="selectHotel" style="width: 100%">
                  <el-option
                    v-for="(item, index) in hotelsList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-divider></el-divider>
          <el-row>
            <el-col :span="11">
              <el-form-item label="选择宴厅" prop="banquethallid">
                <el-select v-model="form.banquethallid" clearable filterable placeholder="请选择" class="input-order">
                  <el-option
                    v-for="(item, index) in banquethallList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="选择菜单" prop="menuid">
                <el-select v-model="form.menuid" clearable placeholder="请选择" @change="selectMenu" class="input-order">
                  <el-option
                    v-for="(item, index) in menuList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="1">
              <el-button type="primary" @click="catMenu" :disabled="!form.menuid">查 看</el-button>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="菜单现价" prop="menudiscountmoney">
                <el-input v-model="form.menudiscountmoney" class="input-order" disabled placeholder="自动获取"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="菜单原价" prop="menumoney">
                <el-input v-model="form.menumoney" class="input-order" disabled placeholder="自动获取"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="实用桌数" prop="actuatablesl">
                <el-input v-model="form.actuatablesl" clearable class="input-order" placeholder="请输入数量自动计算"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="备用桌数" prop="sparetables">
                <el-input v-model="form.sparetables" clearable class="input-order"  placeholder="请输入数量自动计算"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注信息" prop="hotelremark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.hotelremark"
                  maxlength="300"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div class="price-total" v-show="form.hoteldiscountmoney">
                <span class="price-discount"><strong>现价：</strong>{{form.hoteldiscountmoney}} 元</span>
                <span class="price-money"><span>原价：{{form.hotelmoney}} 元</span></span>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <!-- 婚车信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          婚车信息
        </div>
        <div class="container-form">
          <el-row>
            <City @handleAddress="gotCarAddress" :province="uulogin.province" :city="uulogin.city" :area="form.vehicleareaid" :isdisable="false"></City>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="婚车商户" prop="vehicleid">
                <el-select v-model="form.vehicleid" clearable filterable placeholder="请选择" @change="changeVehicleCompany" style="width: 100%">
                  <el-option
                    v-for="(item, index) in vehicleList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-divider></el-divider>
          <el-row>
            <el-col :span="11">
              <el-form-item label="类型筛选" prop="headcartypeid">
                <el-select v-model="searchform.headcartypeid" clearable placeholder="请选择" @change="gotHeadVehicle" class="input-order">
                  <el-option
                    v-for="(item, index) in cartypeList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="颜色筛选" prop="headcolorid">
                <el-select v-model="searchform.headcolorid" clearable placeholder="请选择" @change="gotHeadVehicle" class="input-order">
                  <el-option
                    v-for="(item, index) in colorList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="头车选择" prop="headmerchantvehicleid">
                <el-select v-model="form.headmerchantvehicleid" clearable filterable placeholder="请选择" @change="selectHeadmerchantvehicle" class="input-order">
                  <el-option
                    v-for="(item, index) in headcarsList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="头车颜色" prop="headcolor">
                <el-select v-model="form.headcolor" placeholder="请选择" class="input-order">
                  <el-option
                    v-for="(item) in form.headcolorjson"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="头车现价" prop="headmerchantvehiclediscountmoney">
                <el-input v-model="form.headmerchantvehiclediscountmoney" class="input-order" placeholder="自动获取" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="头车原价" prop="headmerchantvehiclemoney">
                <el-input v-model="form.headmerchantvehiclemoney" class="input-order" placeholder="自动获取" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="花环单价" prop="wreathprice">
                <el-input v-model="form.wreathprice" class="input-order" placeholder="自动获取" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="头车数量" prop="headmerchantvehiclenum">
                <el-input v-model="form.headmerchantvehiclenum" clearable class="input-order"  placeholder="请输入数量自动计算"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="用车时段" prop="headtimeinterval">
                <el-select v-model="form.headtimeinterval"  class="input-order" placeholder="请选择" @change="changeUserHeadCarTime">
                  <el-option label="半天" :value="1"></el-option>
                  <el-option label="整天" :value="2"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-divider></el-divider>
          <!-- 礼车 -->
          <el-row>
            <el-col :span="11">
              <el-form-item label="类型筛选">
                <el-select v-model="searchform.tailcartypeid" clearable placeholder="请选择" class="input-order" @change="gotTailVehicle">
                  <el-option
                    v-for="(item, index) in cartypeList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="颜色筛选">
                <el-select v-model="searchform.tailcolorid" clearable placeholder="请选择" class="input-order"  @change="gotTailVehicle">
                  <el-option
                    v-for="(item, index) in colorList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>

          </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="礼宾车选择" prop="tailmerchantvehicleid">
                <el-select v-model="form.tailmerchantvehicleid" filterable placeholder="请选择" @change="selectTailmerchantvehicle" class="input-order">
                  <el-option
                    v-for="(item, index) in tailcarsList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="礼宾车颜色" prop="tailcolor">
                <el-select v-model="form.tailcolor" placeholder="请选择" class="input-order">
                  <el-option
                    v-for="(item) in form.tailcolorjson"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="礼宾车现价" prop="tailmerchantvehiclediscountmoney">
                <el-input v-model="form.tailmerchantvehiclediscountmoney" class="input-order" placeholder="自动获取" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="礼宾车原价" prop="tailmerchantvehiclemoney">
                <el-input v-model="form.tailmerchantvehiclemoney" class="input-order" placeholder="自动获取" disabled></el-input>
              </el-form-item>
            </el-col>

          </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="礼宾车数量" prop="tailmerchantvehiclenum">
                <el-input v-model="form.tailmerchantvehiclenum" class="input-order"  placeholder="请输入数量自动计算" @blur="gotToalVehicle"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="用车时段" prop="tailtimeinterval" >
                <el-select v-model="form.tailtimeinterval"  placeholder="请选择" @change="changeUserTailCarTime" class="input-order">
                  <el-option label="半天" :value="1"></el-option>
                  <el-option label="整天" :value="2"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注信息" prop="vehicleremark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.vehicleremark"
                  maxlength="300"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div class="price-total" v-show="form.vehiclediscountmoney">
                <span class="price-discount"><strong>现价：</strong>{{form.vehiclediscountmoney}} 元</span>
                <span class="price-money"><span>原价：{{form.vehiclemoney}} 元</span></span>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <!-- 司仪信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          司仪信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="11">
              <el-form-item label="风格筛选" prop="emceestyletype">
                <el-select v-model="searchform.emceestyletype" clearable placeholder="请选择" @change="searchsiyiData" class="input-order">
                  <el-option
                    v-for="(item, index) in emceeStyleList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="司仪性别" prop="emceecharactertype">
                <el-select v-model="searchform.emceecharactertype" clearable placeholder="请选择" @change="searchsiyiData" class="input-order">
                  <el-option
                    v-for="(item, index) in emceeCharacterList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="价位筛选" prop="emceemoneytype">
                <el-select v-model="searchform.emceemoneytype" clearable placeholder="请选择" @change="searchsiyiData" class="input-order">
                  <el-option
                    v-for="(item, index) in emceeMoneyList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="年龄筛选" prop="emceeagetype">
                <el-select v-model="searchform.emceeagetype" clearable placeholder="请选择" @change="searchsiyiData" class="input-order">
                  <el-option
                    v-for="(item, index) in ageList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="选择司仪" prop="emceeid">
                <el-select v-model="form.emceeid" clearable filterable placeholder="请选择" @change="selectSiyi" class="input-order">
                  <el-option
                    v-for="(item) in siyiList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <div style="width: 100%;height: 150px;text-align:center">
                <img :src="form.emceeimage" alt=""  v-show="form.emceeimage" style="width:100px;height:100px;border-radius: 50%;overflow:hidden">
              </div>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注信息" prop="emceeremark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.emceeremark"
                  maxlength="300"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div class="price-total" v-show="form.emceemoney">
                <span class="price-discount"><strong>现价：</strong>{{form.emceediscountmoney}} 元</span>
                <span class="price-money"><span>原价：{{form.emceemoney}} 元</span></span>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <!-- 跟妆信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          跟妆信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="11">
              <el-form-item label="风格筛选" prop="makeupstyletype">
                <el-select v-model="searchform.makeupstyletype" clearable placeholder="请选择" @change="searchgenzhuangData" class="input-order">
                  <el-option
                    v-for="(item, index) in makeupStyleList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="跟妆性别" prop="makeupcharactertype">
                <el-select v-model="searchform.makeupcharactertype" clearable placeholder="请选择" @change="searchgenzhuangData" class="input-order">
                  <el-option
                    v-for="(item, index) in makeupCharacterList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="价位筛选" prop="makeupmoneytype">
                <el-select v-model="searchform.makeupmoneytype" clearable placeholder="请选择" @change="searchgenzhuangData" class="input-order">
                  <el-option
                    v-for="(item, index) in makeupMoneyList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="年龄筛选" prop="makeupagetype">
                <el-select v-model="searchform.makeupagetype" clearable placeholder="请选择" @change="searchgenzhuangData" class="input-order">
                  <el-option
                    v-for="(item, index) in ageList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="选择跟妆" prop="makeupid">
                <el-select v-model="form.makeupid" filterable placeholder="请选择" clearable @change="selectGenzhuang" class="input-order">
                  <el-option
                    v-for="(item, index) in genzhuangList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <div style="width: 100%;height: 150px;text-align:center;">
                <img :src="form.makeupimage" alt="" v-show="form.makeupimage" style="width:100px;height:100px;border-radius: 50%;overflow:hidden">
              </div>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注信息" prop="makeupremark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.makeupremark"
                  maxlength="300"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div class="price-total" v-show="form.makeupmoney">
                <span class="price-discount"><strong>现价：</strong>{{form.makeupdiscountmoney}} 元</span>
                <span class="price-money"><span>原价：{{form.makeupmoney}} 元</span></span>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
       <!-- 摄影信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          摄影信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="11">
              <el-form-item label="摄影性别" prop="photographystyletype">
                <el-select v-model="searchform.photographystyletype" clearable placeholder="请选择" @change="searchsheyingData" class="input-order">
                  <el-option
                    v-for="(item, index) in photographyStyleList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="价位筛选" prop="photographymoneytype">
                <el-select v-model="searchform.photographymoneytype" clearable placeholder="请选择" @change="searchsheyingData" class="input-order">
                  <el-option
                    v-for="(item, index) in photographyMoneyList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="年龄筛选" prop="photographyagetype">
                <el-select v-model="searchform.photographyagetype" clearable placeholder="请选择" @change="searchsheyingData" class="input-order">
                  <el-option
                    v-for="(item, index) in ageList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="摄影选择" prop="photographyid">
                <el-select v-model="form.photographyid" clearable filterable placeholder="请选择" @change="selectSheYing" class="input-order">
                  <el-option
                    v-for="(item, index) in sheyingList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <div style="width: 100%;height: 100px;text-align:center;margin-top: -10px">
                <img :src="this.form.photographyimage" alt="" v-show="form.photographyimage" style="width:100px;height:100px;border-radius: 50%;overflow:hidden">
              </div>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="单机位现价" prop="photographydiscountmoney">
                <el-input v-model="form.photographydiscountmoney" disabled placeholder="自动获取"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="单机位原价" prop="photographymoney">
                <el-input v-model="form.photographymoney" disabled placeholder="自动获取"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="机位数量" prop="photographynum">
                <el-input v-model="form.photographynum" clearable placeholder="请输入数量自动计算"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注信息" prop="photographyremark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.photographyremark"
                  maxlength="300"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div class="price-total" v-show="form.photographydiscountmoneytotal">
                <span class="price-discount"><strong>现价：</strong>{{form.photographydiscountmoneytotal}} 元</span>
                <span class="price-money"><span>原价：{{form.photographymoneytotal}} 元</span></span>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <!-- 活动信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          活动信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="12">
              <el-form-item label="现价" prop="alltotaldiscountmoney">
                <el-input v-model="form.alltotaldiscountmoney" disabled placeholder="自动获取"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="原价" prop="alltotalmoney">
                <el-input v-model="form.alltotalmoney" disabled placeholder="自动获取"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="满减优惠" prop="manjianid">
                <el-select v-model="form.manjianid" clearable placeholder="请选择" @change="couputedTotal" style="width: 100%">
                  <el-option
                    v-for="(item, index) in manjianData" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="折扣优惠" prop="discountid" >
                <el-select v-model="form.discountid" clearable placeholder="请选择" @change="couputedTotal" style="width: 100%">
                  <el-option
                    v-for="(item, index) in discountData" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="支付价格" prop="computedtotal">
                <el-input v-model="form.computedtotal"  disabled placeholder="自动获取"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
           <el-row>
            <el-col :span="24">
              <div style="text-align:center">
                <el-button type="primary" @click="submitOrder('form')">提 交 订 单</el-button>
                <el-button type="danger" @click="cancelOrder('form')">重 置 订 单</el-button>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
    </el-form>

    <!-- 菜单信息 -->
    <el-dialog :title="menuDetail.name" :visible.sync="catmenuVisible" width="800px" center>
      <ul class="menu-box">
        <li v-for="(item, index) in menuDetail.caipinList" :key="index">
          <el-tag type="warning">{{item.name}}</el-tag>
        </li>
      </ul>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex';
import http from '@/axios/http';
import City from '@/components/common/City/add';
export default {
  data () {
    let regPhone = /^1\d{10}$/;
    let validatePhone = (rule, value, callback) => {
      if (!regPhone.test(value)) {
        callback(new Error('手机号码不合法'));
      } else {
        callback();
      }
    };
    let regTel = /^([0-9]{3,4}-)?[0-9]{7,8}$/;
    let validateTel = (rule, value, callback) => {
      if (value) {
        if (!regTel.test(value)) {
          callback(new Error('固定号码不合法'));
        } else {
          callback();
        }
      } else {
        callback(new Error('不能为空'));
      }
    };
    return {
      pickerOptions: {
        disabledDate (time) {
          return time.getTime() - (0*3600 * 1000 * 24) <= Date.now();
        }
      },
      searchform: {
        headcartypeid: '',
        headcolorid: '',
        tailcartypeid: '',
        tailcolorid: '',
        emceestyletype: '',
        emceecharactertype: '',
        emceeagetype: '',
        emceemoneytype: '',
        makeupstyletype: '',
        makeupcharactertype: '',
        makeupagetype: '',
        makeupmoneytype: '',
        photographystyletype: '',
        photographyagetype: '',
        photographymoneytype: '',
      },
      form: {
        groomname: '',
        groomaccout: '',
        bridename: '',
        brideaccount: '',
        groomaddress: '',
        brideaddress: '',
        orderweddingdate: '',
        email: '',

        merchantdemoid: '',
        demomoney: 0,
        demodiscountmoney: 0,
        demoremark: '',

        hotelareaid: '',
        hotelid: '',
        banquethallid: '',
        menuid: '',
        menumoney: '',
        menudiscountmoney: '',
        actuatablesl: '',
        sparetables: '',
        hotelmoney: 0,
        hoteldiscountmoney: 0,
        hotelremark: '',

        vehicleareaid: '',
        vehicleid: '',

        headcolor: '',
        headcolorjson: [],
        headmerchantvehicleid: '',
        headmerchantvehiclemoney: '',
        headmerchantvehiclediscountmoney: '',
        headmerchantvehiclenum: '',
        headtimeinterval: 1,
        wreathprice: '',

        tailcolor: '',
        tailcolorjson: [],
        tailmerchantvehicleid: '',
        tailmerchantvehiclemoney: '',
        tailmerchantvehiclediscountmoney: '',
        tailmerchantvehiclenum: '',
        tailtimeinterval: 1,
        vehiclediscountmoney: 0,
        vehiclemoney: 0,
        vehicleremark: '',



        emceeid: '',
        emceemoney: 0,
        emceediscountmoney: 0,
        emceeremark: '',
        emceeimage: '',

        makeupid: '',
        makeupmoney: 0,
        makeupdiscountmoney: 0,
        makeupremark: '',
        makeupimage: '',

        photographyid: '',
        photographymoney: '',
        photographynum: '',
        photographydiscountmoney: '',
        photographymoneytotal: 0,
        photographydiscountmoneytotal: 0,
        photographyremark: '',
        photographyimage: '',

        alltotaldiscountmoney: 0,
        alltotalmoney: 0,
        computedtotal: 0,
        manjianid: '',
        discountid: ''
      },
      rules: {
        groomname: [{ required: true, message: "不能为空", trigger: "blur" }],
        groomaccout: [{ validator: validatePhone, required: true,  trigger: "blur" }],
        bridename: [{ required: true, message: "不能为空", trigger: "blur" }],
        brideaccount: [{ validator: validatePhone, required: true,  trigger: "blur" }],
        groomaddress: [{ required: true, message: "不能为空", trigger: "blur" }],
        brideaddress: [{ required: true, message: "不能为空", trigger: "blur" }],
        orderweddingdate: [{ required: true, message: "不能为空", trigger: "change" }]
      },
      productList: [],
      hotelsList: [],
      banquethallList: [],
      menuList: [],
      catmenuVisible: false,
      menuDetail: {
        caipinList: []
      },

      vehicleList: [],
      cartypeList: [],
      colorList: [],

      headcarsList: [],
      tailcarsList: [],


      ageList: [],

      emceeStyleList: [],
      emceeCharacterList: [],
      emceeMoneyList: [],
      siyiList: [],

      makeupStyleList:[],
      makeupCharacterList: [],
      makeupMoneyList: [],
      genzhuangList: [],

      photographyStyleList:[],
      photographyMoneyList: [],
      sheyingList: [],

      manjianData: [],
      discountData: [],

    }
  },
  watch: {
    "form.actuatablesl": {
      handler (val, old) {
        this.gotToalPrice()
      }
    },
    "form.headmerchantvehiclenum": {
      //婚车计算
      handler (val, old) {
        this.gotToalVehicle()
      }
    },
    "form.tailmerchantvehiclenum": {
      //婚车计算
      handler (val, old) {
        this.gotToalVehicle()
      }
    },
    "form.photographynum": {
      //摄影计算
      handler (val, old) {
        this.gotToalPhotography()
      }
    },
  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  components: {
    City
  },
  created () {

    this.productData();

    this.typeData();
    this.colorData();

    this.ageData();


    this.siyiData();
    this.emceeStyleData();
    this.emceeCharacterData();
    this.emceemoneyData();

    this.genzhuangData();
    this.makeupStyleData();

    this.makeupCharacterData();
    this.makeupMoneyData();

    this.sheyingData();
    this.photographyStyleData();
    this.photographyMoneyData();

    this.discountCoupon();
    this.manjianCoupon();

  },
  mounted () {

  },
  beforeDestroy () {

  },
  methods: {
    handleBack () {
      this.$router.push('/merchant/order')
    },
    productData () {
      //产品接口
      http.post("/merchant/backuppassproductitem.do", {
        merchantid: this.uulogin.id
      }).then((result) => {
        if (result.status === 1) {
          this.productList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    selectProduct () {
      if (this.form.merchantdemoid) {
        http.post("/merchant/productiteminfo.do", {
          id: this.form.merchantdemoid
        }).then((result) => {
          if (result.status === 1) {
            let data = result.data;
            this.form.demomoney = data.money;
            this.form.demodiscountmoney = data.discountmoney;
          } else {
            this.$message.warning(result.msg);
          }
          //计算总价
          this.couputedTotal()
        })
        .catch(error => {
          this.$message.error(error);
        });
      } else {
        this.form.demomoney = '';
        this.form.demodiscountmoney = '';
        //计算总价
        this.couputedTotal()
      }

    },
     gotAddress (value) {
      //切换地址
      this.form.hotelareaid = value.area === '' ? 0 : value.area;
      this.form.hotelid = '';
      this.form.menuid = '';
      this.menuList = [];
      this.form.banquethallid = '';
      this.banquethallList = [];
      this.form.menumoney = '';
      this.form.menudiscountmoney = '';
      this.form.actuatablesl = '';
      this.form.sparetables = '';
      this.form.hotelmoney = 0;
      this.form.hoteldiscountmoney = 0;
      this.gotHotelList();
      this.gotToalPrice();
    },
    gotHotelList () {
      let area = this.form.hotelareaid === '' ? 0 : this.form.hotelareaid;
      http.post("/hotel/gethotelbyareas.do", {
        province: this.uulogin.province,
        city: this.uulogin.city,
        area: area
      }).then((result) => {
        if (result.status === 1) {
          this.hotelsList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    selectHotel () {
       //切换酒店
      this.form.menuid = '';
      this.menuList = [];
      this.form.banquethallid = '';
      this.banquethallList = [];
      this.form.menumoney = '';
      this.form.menudiscountmoney = '';
      this.form.actuatablesl = '';
      this.form.sparetables = '';
      this.form.hotelmoney = 0;
      this.form.hoteldiscountmoney = 0;
      if (this.form.hotelid) {
        this.banquethallListData();
        this.menuListData()
      }
      this.gotToalPrice()
    },
    banquethallListData () {
      //宴会厅接口
      http.post("/hotel/backuppassbanquethall.do", {
        hotelid: this.form.hotelid
      }).then((result) => {
        if (result.status === 1) {
          this.banquethallList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    menuListData () {
       //菜单接口
      http.post("/hotel/backuppasslistmenu.do", {
        hotelid: this.form.hotelid
      }).then((result) => {
        if (result.status === 1) {
          this.menuList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    selectMenu () {
      //切换菜单
      this.form.actuatablesl = '';
      this.form.sparetables = '';
      this.form.hotelmoney = 0;
      this.form.hoteldiscountmoney = 0;
      if (this.form.menuid) {
        http.post("/hotel/menuinfo.do", {
          id: this.form.menuid
        }).then((result) => {
          if (result.status === 1) {
            this.form.menumoney = this.menuDetail.money = result.data.money;
            this.form.menudiscountmoney = this.menuDetail.discountmoney = result.data.discountmoney;
            this.menuDetail.name = result.data.name;
            this.menuDetail.caipinList = result.data.itemlist;
          } else {
            this.$message.warning(result.msg);
          }
          this.gotToalPrice()
        })
        .catch(error => {
          this.$message.error(error);
        });
      } else {
        this.form.menumoney = '';
        this.form.menudiscountmoney = '';
        this.menuDetail = {caipinList: []}
        this.gotToalPrice()
      }
    },
    catMenu () {
      this.catmenuVisible = true;
    },
    gotToalPrice () {
      //计算酒店总价
      let actuatablesl = this.form.actuatablesl === '' ? 0 : parseInt(this.form.actuatablesl);
      let menumoney = this.form.menumoney === '' ? 0 : this.form.menumoney;
      let menudiscountmoney = this.form.menudiscountmoney === '' ? 0 : this.form.menudiscountmoney;
      this.form.hotelmoney = (actuatablesl)*menumoney;
      this.form.hoteldiscountmoney = (actuatablesl)*menudiscountmoney;
      //计算总价
      this.couputedTotal()
    },

    gotCarAddress (value) {
      //切换婚车地址
      this.form.vehicleareaid = value.area === '' ? 0 : value.area;
      this.vehicleList = [];
      this.form.vehicleid = '';
      this.searchform.headcolorid = '';
      this.searchform.headcartypeid = '';
      this.headcarsList = [];
      this.form.headmerchantvehicleid = '';
      this.form.headcolor = '';
      this.form.headmerchantvehiclemoney = '';
      this.form.headmerchantvehiclediscountmoney = '';
      this.form.headmerchantvehiclenum = '';
      this.form.headtimeinterval = 1;

      this.searchform.tailcolorid = '';
      this.searchform.tailcartypeid = '';
      this.tailcarsList = [];
      this.form.tailmerchantvehicleid = '';
      this.form.tailmerchantvehiclemoney = '';
      this.form.tailmerchantvehiclediscountmoney = '';
      this.form.tailmerchantvehiclenum = '';
      this.form.tailtimeinterval = 1;
      this.form.vehiclemoney = 0;
      this.form.vehiclediscountmoney = 0;
      this.gotVehicleCompanyList()
       //计算婚车总价格
      this.gotToalVehicle()
    },
    gotVehicleCompanyList () {
      //婚车公司列表
      let area = this.form.vehicleareaid === '' ? 0 : this.form.vehicleareaid;
      http.post("/vehicle/getvehiclebyareas.do", {
        province: this.uulogin.province,
        city: this.uulogin.city,
        area: area
      }).then((result) => {
        if (result.status === 1) {
          this.vehicleList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });

    },
    changeVehicleCompany () {
      //切换婚车公司
      this.searchform.headcolorid = '';
      this.searchform.headcartypeid = '';
      this.headcarsList = [];
      this.form.headmerchantvehicleid = '';
      this.form.headcolor = '';
      this.form.headcolorjson = [];
      this.form.headmerchantvehiclemoney = '';
      this.form.headmerchantvehiclediscountmoney = '';
      this.form.headmerchantvehiclenum = '';
      this.form.headtimeinterval = 1;
      this.form.wreathprice = '';

      this.searchform.tailcartypeid = '';
      this.searchform.tailcolorid = '';
      this.tailcarsList = [];
      this.form.tailmerchantvehicleid = '';
      this.form.tailcolor = '';
      this.form.tailcolorjson = [];
      this.form.tailmerchantvehiclemoney = '';
      this.form.tailmerchantvehiclediscountmoney = '';
      this.form.tailmerchantvehiclenum = '';
      this.form.tailtimeinterval = 1;
      this.form.vehiclemoney = 0;
      this.form.vehiclediscountmoney = 0;
      if (this.form.vehicleid) {
        http.post("/vehicle/getvehiclebyparam.do", {
          vehicleid: this.form.vehicleid,
          vehicletype: 0,
          colortype: 0
        })
        .then((result) => {
          if (result.status === 1) {
            this.headcarsList = result.data;
            this.tailcarsList = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch(error => {
          this.$message.error(error);
        });
      }
      //计算婚车总价格
      this.gotToalVehicle()
    },
    gotHeadVehicle () {
      //筛选头车婚车
      this.form.headmerchantvehicleid = '';
      this.form.headcolor = '';
      this.form.headcolorjson = [];
      this.form.headmerchantvehiclemoney = '';
      this.form.headmerchantvehiclediscountmoney = '';
      this.form.headmerchantvehiclenum = '';
      this.form.headtimeinterval = 1;
      this.form.vehiclemoney = 0;
      this.form.vehiclediscountmoney = 0;
      this.form.wreathprice = '';
      let vehicletype = this.searchform.headcartypeid === '' ? 0 : this.searchform.headcartypeid;
      let colortype = this.searchform.headcolorid === '' ? 0 : this.searchform.headcolorid;
      if (this.form.vehicleid) {
        http.post("/vehicle/getvehiclebyparam.do", {
          vehicleid: this.form.vehicleid,
          vehicletype: vehicletype,
          colortype: colortype
        })
        .then((result) => {
          if (result.status === 1) {
            this.headcarsList = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch(error => {
          this.$message.error(error);
        });
      }
      //计算婚车总价格
      this.gotToalVehicle()
    },
    gotTailVehicle () {
      //筛选礼车婚车
      this.form.tailmerchantvehicleid = '';
      this.form.tailcolor = '';
      this.form.tailcolorjson = [];
      this.form.tailmerchantvehiclemoney = '';
      this.form.tailmerchantvehiclediscountmoney = '';
      this.form.tailmerchantvehiclenum = '';
      this.form.tailtimeinterval = 1;
      this.form.vehiclemoney = 0;
      this.form.vehiclediscountmoney = 0;
      let vehicletype = this.searchform.tailcartypeid === '' ? 0 : this.searchform.tailcartypeid;
      let colortype = this.searchform.tailcolorid === '' ? 0 : this.searchform.tailcolorid;
      if (this.form.vehicleid) {
        http.post("/vehicle/getvehiclebyparam.do", {
          vehicleid: this.form.vehicleid,
          vehicletype: vehicletype,
          colortype: colortype
        })
        .then((result) => {
          if (result.status === 1) {
            this.tailcarsList = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch(error => {
          this.$message.error(error);
        });
      }
      //计算婚车总价格
      this.gotToalVehicle()
    },
    selectHeadmerchantvehicle () {
      //切换头车婚车
      this.form.headmerchantvehiclenum = '';
      this.form.vehiclemoney = 0;
      this.form.vehiclediscountmoney = 0;
      this.form.wreathprice = '';
      this.form.headcolor = '';
      this.form.headcolorjson = [];
      if (this.form.headmerchantvehicleid) {
         http.post("/vehicle/vehicleinfo.do", {
            id: this.form.headmerchantvehicleid
          }).then((result) => {
            if (result.status === 1) {
              let data = result.data;
              if (this.form.headtimeinterval === 2) {
                this.form.headmerchantvehiclemoney = data.daymoney;
                this.form.headmerchantvehiclediscountmoney = data.daydiscountmoney;
              } else {
                this.form.headmerchantvehiclemoney = data.daymoney/2;
                this.form.headmerchantvehiclediscountmoney = data.daydiscountmoney/2;
              }
              this.form.headcolorjson = data.colordata;
              this.form.wreathprice = data.wreathprice;
            } else {
              this.$message.warning(result.msg);
            }
            //计算婚车总价格
            this.gotToalVehicle()
          })
          .catch(error => {
            this.$message.error(error);
          });
      } else {
        this.form.headmerchantvehiclemoney = '';
        this.form.headmerchantvehiclediscountmoney = '';
        this.form.headcolor = '';
        this.form.headcolorjson = [];
        this.form.wreathprice = '';
        //计算婚车总价格
        this.gotToalVehicle()
      }
    },
    changeUserHeadCarTime () {
       //切换头车时间
      let headmerchantvehiclemoney = this.form.headmerchantvehiclemoney;
      let headmerchantvehiclediscountmoney = this.form.headmerchantvehiclediscountmoney;
      if (headmerchantvehiclemoney) {
        if (this.form.headtimeinterval === 2) {
          this.form.headmerchantvehiclemoney = headmerchantvehiclemoney*2;
          this.form.headmerchantvehiclediscountmoney = headmerchantvehiclediscountmoney*2;
        } else {
          this.form.headmerchantvehiclemoney = headmerchantvehiclemoney/2;
          this.form.headmerchantvehiclediscountmoney = headmerchantvehiclediscountmoney/2;
        }
      }
      //计算婚车总价格
      this.gotToalVehicle()
    },
    selectTailmerchantvehicle () {
      //切换礼车婚车
      this.form.vehiclemoney = 0;
      this.form.vehiclediscountmoney = 0;
      this.form.tailmerchantvehiclenum = '';
      this.form.tailcolor = '';
      this.form.tailcolorjson = [];
      if (this.form.tailmerchantvehicleid) {
         http.post("/vehicle/vehicleinfo.do", {
            id: this.form.tailmerchantvehicleid
          }).then((result) => {
            if (result.status === 1) {
              let data = result.data;
              if (this.form.tailtimeinterval === 2) {
                this.form.tailmerchantvehiclemoney = data.daymoney;
                this.form.tailmerchantvehiclediscountmoney = data.daydiscountmoney;
              } else {
                this.form.tailmerchantvehiclemoney = data.daymoney/2;
                this.form.tailmerchantvehiclediscountmoney = data.daydiscountmoney/2;
              }
              this.form.tailcolorjson = data.colordata;
              //计算婚车总价格
              this.gotToalVehicle()
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
      } else {
        this.form.tailmerchantvehiclemoney = '';
        this.form.tailmerchantvehiclediscountmoney = '';
        this.form.tailcolor = '';
        this.form.tailcolorjson = [];
        //计算婚车总价格
        this.gotToalVehicle()
      }

    },
    changeUserTailCarTime () {
      //切换跟车时间
      let tailmerchantvehiclemoney = this.form.tailmerchantvehiclemoney;
      let tailmerchantvehiclediscountmoney = this.form.tailmerchantvehiclediscountmoney;
      if (tailmerchantvehiclemoney) {
        if (this.form.headtimeinterval === 2) {
          this.form.tailmerchantvehiclemoney = tailmerchantvehiclemoney*2;
          this.form.tailmerchantvehiclediscountmoney = tailmerchantvehiclediscountmoney*2;
        } else {
          this.form.tailmerchantvehiclemoney = tailmerchantvehiclemoney/2;
          this.form.tailmerchantvehiclediscountmoney = tailmerchantvehiclediscountmoney/2;
        }
      }
      //计算婚车总价格
      this.gotToalVehicle()
    },
    gotToalVehicle () {
      //获取婚车总价
      let headmerchantvehiclenum = this.form.headmerchantvehiclenum === '' ? 0 : parseInt(this.form.headmerchantvehiclenum);
      let tailmerchantvehiclenum = this.form.tailmerchantvehiclenum === '' ? 0 : parseInt(this.form.tailmerchantvehiclenum);
      let headmerchantvehiclemoney = this.form.headmerchantvehiclemoney === '' ? 0 : this.form.headmerchantvehiclemoney;
      let headmerchantvehiclediscountmoney = this.form.headmerchantvehiclediscountmoney === '' ? 0 : this.form.headmerchantvehiclediscountmoney;
      let tailmerchantvehiclemoney = this.form.tailmerchantvehiclemoney === '' ? 0 : this.form.tailmerchantvehiclemoney;
      let tailmerchantvehiclediscountmoney = this.form.tailmerchantvehiclediscountmoney === '' ? 0 : this.form.tailmerchantvehiclediscountmoney;
      let wreathprice = this.form.wreathprice === '' ? 0 : this.form.wreathprice;

      let headtotal = headmerchantvehiclenum*headmerchantvehiclemoney + headmerchantvehiclenum*wreathprice;
      let headdiscount = headmerchantvehiclenum*headmerchantvehiclediscountmoney + headmerchantvehiclenum*wreathprice;
      let tailtotal = tailmerchantvehiclenum*tailmerchantvehiclemoney;
      let taildiscount = tailmerchantvehiclenum*tailmerchantvehiclediscountmoney;
      this.form.vehiclemoney = tailtotal + headtotal;
      this.form.vehiclediscountmoney = headdiscount + taildiscount;
      //计算总价
      this.couputedTotal()
    },
    colorData () {
      //车颜色
      http.post("/vehicle/colordrop.do", {})
      .then((result) => {
        if (result.status === 1) {
          this.colorList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    typeData () {
      //车类型
      http.post("/type/vehicletype.do", {})
      .then((result) => {
        if (result.status === 1) {
          this.cartypeList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    searchsiyiData () {
      //筛选司仪
      this.form.emceeimage = '';
      this.form.emceeid = '';
      this.form.emceemoney = 0;
      this.form.emceediscountmoney = 0;
      this.form.emceeremark = '';
      this.siyiData();
       //计算总价
      this.couputedTotal();
    },
    siyiData () {
      let moneytype = !this.searchform.emceemoneytype ? 0 : this.searchform.emceemoneytype;
      let agetype = !this.searchform.emceeagetype ? 0 : this.searchform.emceeagetype;
      let charactertype = !this.searchform.emceecharactertype ? 0 : this.searchform.emceecharactertype;
      let styletype = !this.searchform.emceestyletype ? 0 : this.searchform.emceestyletype
      http.post("/emcee/getemceebyparam.do", {
        merchantid: this.uulogin.id,
        moneytype: moneytype,
        agetype: agetype,
        charactertype: charactertype,
        styletype: styletype
      })
      .then((result) => {
        if (result.status === 1) {
          this.siyiList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    selectSiyi () {
      //切换司仪
      if (this.form.emceeid) {
        http.post("/emcee/emceeinfo.do", {
          id: this.form.emceeid
        }).then((result) => {
          if (result.status === 1) {
            let data = result.data;
            this.form.emceeimage = data.photo;
            this.form.emceemoney = data.money;
            this.form.emceediscountmoney = data.discountmoney;
          } else {
            this.$message.warning(result.msg);
          }
          //计算总价
          this.couputedTotal();
        })
        .catch(error => {
          this.$message.error(error);
        });
      } else {
        this.form.emceeimage = '';
        this.form.emceemoney = '';
        this.form.emceediscountmoney = '';
        //计算总价
        this.couputedTotal();
      }

    },
    ageData () {
      //年龄下拉
      http.post("/type/agetype.do", {})
      .then((result) => {
        if (result.status === 1) {
          this.ageList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    emceeStyleData () {
      //司仪风格下拉
      http.post("/style/droplist.do", {
        type: 1
      })
      .then((result) => {
        if (result.status === 1) {
          this.emceeStyleList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    emceeCharacterData () {
      //司仪性格下拉
      http.post("/style/droplist.do", {
        type: 2
      })
      .then((result) => {
        if (result.status === 1) {
          this.emceeCharacterList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    emceemoneyData () {
      //司仪价格区间
      http.post("/money/droplist.do", {
        type: 2
      })
      .then((result) => {
        if (result.status === 1) {
          this.emceeMoneyList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    searchgenzhuangData () {
      //筛选跟妆
      this.form.makeupimage = '';
      this.form.makeupid = '';
      this.form.makeupmoney = 0;
      this.form.makeupdiscountmoney = 0;
      this.form.makeupremark = ''
      this.genzhuangData()
      //计算总价
      this.couputedTotal();
    },
    genzhuangData () {
      let moneytype = !this.searchform.makeupmoneytype ? 0 : this.searchform.makeupmoneytype;
      let agetype = !this.searchform.makeupagetype ? 0 : this.searchform.makeupagetype;
      let charactertype = !this.searchform.makeupcharactertype ? 0 : this.searchform.makeupcharactertype;
      let styletype = !this.searchform.makeupstyletype ? 0 : this.searchform.makeupstyletype;
      http.post("/makeup/getmakeupbyparam.do", {
        merchantid: this.uulogin.id,
        moneytype: moneytype,
        agetype: agetype,
        charactertype: charactertype,
        styletype: styletype
      })
      .then((result) => {
        if (result.status === 1) {
          this.genzhuangList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });

    },
    selectGenzhuang () {
      //切换跟妆
      const makeupid = this.form.makeupid === '' ? 0 : this.form.makeupid;
      if (makeupid) {
        http.post("/makeup/makeupinfo.do", {
          id: makeupid
        }).then((result) => {
          if (result.status === 1) {
            let data = result.data;
            this.form.makeupimage = data.photo;
            this.form.makeupmoney = data.money;
            this.form.makeupdiscountmoney = data.discountmoney;
          } else {
            this.$message.warning(result.msg);
          }
           //计算总价
          this.couputedTotal();
        })
        .catch(error => {
          this.$message.error(error);
        });
      } else {
        this.form.makeupimage = '';
        this.form.makeupmoney = '';
        this.form.makeupdiscountmoney = '';
        //计算总价
        this.couputedTotal();
      }

    },
    makeupStyleData () {
      //跟妆风格下拉
      http.post("/style/droplist.do", {
        type: 4
      })
      .then((result) => {
        if (result.status === 1) {
          this.makeupStyleList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    makeupCharacterData () {
      //跟妆性别下拉
      http.post("/style/droplist.do", {
        type: 2
      })
      .then((result) => {
        if (result.status === 1) {
          this.makeupCharacterList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    makeupMoneyData () {
      //跟妆价格下拉
      http.post("/money/droplist.do", {
        type: 4
      })
      .then((result) => {
        if (result.status === 1) {
          this.makeupMoneyList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    searchsheyingData () {
      //筛选摄影
      this.form.photographyimage = '';
      this.form.photographyid = '';
      this.form.photographymoney = '';
      this.form.photographydiscountmoney = '';
      this.form.photographynum = '';
      this.form.photographymoneytotal = 0;
      this.form.photographydiscountmoneytotal = 0;
      this.form.photographyremark = '';
      //计算金额
      this.gotToalPhotography()
    },
    sheyingData () {
      let moneytype = this.searchform.photographymoneytype === '' ? 0 : this.searchform.photographymoneytype;
      let agetype = this.searchform.photographyagetype === '' ? 0 : this.searchform.photographyagetype;
      let styletype = this.searchform.photographystyletype === '' ? 0 : this.searchform.photographystyletype;
      http.post("/photography/getphotographybyparam.do", {
        merchantid: this.uulogin.id,
        moneytype: moneytype,
        agetype: agetype,
        styletype: styletype
      })
      .then((result) => {
        if (result.status === 1) {
          this.sheyingList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });

    },
    selectSheYing () {
      //切换摄影
      this.form.photographynum = '';
      this.form.photographymoneytotal = 0;
      this.form.photographydiscountmoneytotal = 0;
      this.form.photographyremark = '';
      if (this.form.photographyid) {
        http.post("/photography/photographyinfo.do", {
          id: this.form.photographyid
        }).then((result) => {
          if (result.status === 1) {
            let data = result.data;
            this.form.photographyimage = data.photo;
            this.form.photographymoney = data.money;
            this.form.photographydiscountmoney = data.discountmoney;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch(error => {
          this.$message.error(error);
        });
      } else {
        this.form.photographyimage = '';
        this.form.photographymoney = '';
        this.form.photographydiscountmoney = '';
      }
      //计算金额
      this.gotToalPhotography()
    },
    gotToalPhotography () {
      let photographynum = this.form.photographynum === '' ? 0 : this.form.photographynum;
      let photographymoney = this.form.photographymoney === '' ? 0 : this.form.photographymoney;
      let photographydiscountmoney = this.form.photographydiscountmoney === '' ? 0 : this.form.photographydiscountmoney;
      this.form.photographymoneytotal = photographynum * photographymoney;
      this.form.photographydiscountmoneytotal = photographynum * photographydiscountmoney;
      //计算总价
      this.couputedTotal();
    },
    photographyStyleData () {
      //摄影性别下拉
      http.post("/style/droplist.do", {
        type: 2
      })
      .then((result) => {
        if (result.status === 1) {
          this.photographyStyleList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    photographyMoneyData () {
      //摄影价格区间
      http.post("/money/droplist.do", {
        type: 3
      })
      .then((result) => {
        if (result.status === 1) {
          this.photographyMoneyList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },

    discountCoupon () {
      //折扣活动
      http.post("/celebrationactivty/activtyonstatus.do", {
        merchantid: this.uulogin.id,
        type: 2
      }).then((result) => {
        if (result.status === 1) {
          this.discountData = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    manjianCoupon () {
      //折扣活动
      http.post("/celebrationactivty/activtyonstatus.do", {
        merchantid: this.uulogin.id,
        type: 1
      }).then((result) => {
        if (result.status === 1) {
          this.manjianData = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    couputedTotal () {
      this.form.alltotaldiscountmoney = 0;
      this.form.alltotalmoney = 0;

      //产品
      let demodiscountmoney = this.form.demodiscountmoney;
      let demomoney = this.form.demomoney;
      //化妆
      let makeupdiscountmoney = this.form.makeupdiscountmoney;
      let makeupmoney = this.form.makeupmoney;

      //司仪
      let emceediscountmoney = this.form.emceediscountmoney;
      let emceemoney = this.form.emceemoney;

      //摄影
      let photographydiscountmoneytotal = this.form.photographydiscountmoneytotal;
      let photographymoneytotal = this.form.photographymoneytotal;

      //婚车
      let vehiclediscountmoney = this.form.vehiclediscountmoney;
      let vehiclemoney = this.form.vehiclemoney;

      //酒店
      let hoteldiscountmoney = this.form.hoteldiscountmoney;
      let hotelmoney = this.form.hotelmoney;

      this.form.alltotaldiscountmoney =
        demodiscountmoney*1 +
        photographydiscountmoneytotal*1 +
        makeupdiscountmoney*1 +
        emceediscountmoney*1 +
        vehiclediscountmoney*1 +
        hoteldiscountmoney*1;

      this.form.alltotalmoney =
        demomoney*1 +
        photographymoneytotal*1 +
        makeupmoney*1 +
        emceemoney*1 +
        vehiclemoney*1 +
        hotelmoney*1

      let manjianid = this.form.manjianid ? this.form.manjianid : 0;
      let discountid = this.form.discountid ? this.form.discountid : 0;
      if (this.form.alltotaldiscountmoney > 0) {
        http.post("/order/activtymoney.do", {
          ordersum: this.form.alltotaldiscountmoney,
          activtyid: manjianid,
          discountactivtyid: discountid
        }).then((result) => {
          if (result.status === 1) {
            this.form.computedtotal = result.ordersum;
          } else {
            this.$message.warning(result.msg);
          }
        }).catch(error => {
          this.$message.error(error);
        });
      } else {
        this.form.computedtotal = 0;
      }
    },
    submitOrder (formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          //产品
          let productData = {}
          if (!this.form.merchantdemoid) {
            productData = {
              merchantdemoid: 0,
              demomoney: 0,
              demodiscountmoney: 0,
              demoremark: ''
            }
          } else {
            productData = {
              merchantdemoid: this.form.merchantdemoid,
              demomoney: this.form.demomoney,
              demodiscountmoney: this.form.demodiscountmoney,
              demoremark: this.form.demoremark
            }
          }
          //酒店
          let hotelData = {}
          if (!this.form.hotelid) {
            hotelData = {
              hotelid: 0,
              banquethallid: 0,
              menuid: 0,
              menumoney: 0,
              menudiscountmoney: 0,
              actuatablesl: 0,
              sparetables: 0,
              hotelmoney: 0,
              hoteldiscountmoney: 0,
              hotelremark: '',
            }
          } else {
            if (!this.form.menuid) {
              this.$message.warning('请选择菜单');
              return
            } else if (!this.form.banquethallid) {
              this.$message.warning('请选择宴会厅');
              return
            } else if (!/^[1-9][0-9]*$/.test(this.form.actuatablesl)) {
              this.$message.warning('使用桌数数量输入不合法');
              return
            } else {
              if (this.form.sparetables) {
                if (!/^[1-9][0-9]*$/.test(this.form.sparetables)) {
                  this.$message.warning('备用桌数数量输入不合法');
                  return
                } else {
                  hotelData = {
                    hotelid: this.form.hotelid,
                    banquethallid: this.form.banquethallid,
                    menuid: this.form.menuid,
                    menumoney: this.form.menumoney,
                    menudiscountmoney: this.form.menudiscountmoney,
                    actuatablesl: this.form.actuatablesl,
                    sparetables: this.form.sparetables,
                    hotelmoney: this.form.hotelmoney,
                    hoteldiscountmoney: this.form.hoteldiscountmoney,
                    hotelremark: this.form.hotelremark,
                  }
                }
              } else {
                hotelData = {
                  hotelid: this.form.hotelid,
                  banquethallid: this.form.banquethallid,
                  menuid: this.form.menuid,
                  menumoney: this.form.menumoney,
                  menudiscountmoney: this.form.menudiscountmoney,
                  actuatablesl: this.form.actuatablesl,
                  sparetables: 0,
                  hotelmoney: this.form.hotelmoney,
                  hoteldiscountmoney: this.form.hoteldiscountmoney,
                  hotelremark: this.form.hotelremark,
                }
              }
            }
          }

          //婚车
          let carData = {}
          if (!this.form.vehicleid) {
            carData = {
              vehicleid: 0,
              headcolor: 0,
              headmerchantvehicleid: 0,
              headmerchantvehiclemoney: 0,
              headmerchantvehiclediscountmoney: 0,
              headmerchantvehiclenum: 0,
              headtimeinterval: 0,
              wreathprice: 0,
              tailcolor: 0,
              tailmerchantvehicleid: 0,
              tailmerchantvehiclemoney: 0,
              tailmerchantvehiclediscountmoney: 0,
              tailmerchantvehiclenum: 0,
              tailtimeinterval: 0,
              vehiclediscountmoney: 0,
              vehiclemoney: 0
            }
          } else {
            //头车和跟车都选择
            if (this.form.headmerchantvehicleid && this.form.tailmerchantvehicleid) {
              if (!/^[1-9][0-9]*$/.test(this.form.headmerchantvehiclenum)) {
                this.$message.warning('头车数量输入不合法');
                return
              } else if (!/^[1-9][0-9]*$/.test(this.form.tailmerchantvehiclenum)){
                this.$message.warning('跟车数量输入不合法');
                return
              } else if (!this.form.headtimeinterval) {
                this.$message.warning('请选择头车用车时段');
                return
              } else if (!this.form.tailtimeinterval) {
                this.$message.warning('请选择跟车用车时段');
                return
              } else if (!this.form.headcolor) {
                this.$message.warning('请选择头车颜色');
                return
              } else if (!this.form.tailcolor) {
                this.$message.warning('请选择跟车颜色');
                return
              }
              carData = {
                vehicleid: this.form.vehicleid,
                headcolor: this.form.headcolor,
                headmerchantvehicleid: this.form.headmerchantvehicleid,
                headmerchantvehiclemoney: this.form.headmerchantvehiclemoney,
                headmerchantvehiclediscountmoney: this.form.headmerchantvehiclediscountmoney,
                headmerchantvehiclenum: this.form.headmerchantvehiclenum,
                headtimeinterval: this.form.headtimeinterval,
                wreathprice: this.form.wreathprice,
                tailcolor: this.form.tailcolor,
                tailmerchantvehicleid: this.form.tailmerchantvehicleid,
                tailmerchantvehiclemoney: this.form.tailmerchantvehiclemoney,
                tailmerchantvehiclediscountmoney: this.form.tailmerchantvehiclediscountmoney,
                tailmerchantvehiclenum: this.form.tailmerchantvehiclenum,
                tailtimeinterval: this.form.tailtimeinterval,
                vehiclediscountmoney: this.form.vehiclediscountmoney,
                vehiclemoney: this.form.vehiclemoney
              }
            } else if (this.form.headmerchantvehicleid && !this.form.tailmerchantvehicleid) {
              //选择头车
              if (!/^[1-9][0-9]*$/.test(this.form.headmerchantvehiclenum)) {
                this.$message.warning('头车数量输入不合法');
                return
              } else if (!this.form.headtimeinterval) {
                this.$message.warning('请选择头车用车时段');
                return
              } else if (!this.form.headcolor) {
                this.$message.warning('请选择头车颜色');
                return
              }
              carData = {
                vehicleid: this.form.vehicleid,
                headcolor: this.form.headcolor,
                headmerchantvehicleid: this.form.headmerchantvehicleid,
                headmerchantvehiclemoney: this.form.headmerchantvehiclemoney,
                headmerchantvehiclediscountmoney: this.form.headmerchantvehiclediscountmoney,
                headmerchantvehiclenum: this.form.headmerchantvehiclenum,
                headtimeinterval: this.form.headtimeinterval,
                wreathprice: this.form.wreathprice,
                tailcolor: 0,
                tailmerchantvehicleid: 0,
                tailmerchantvehiclemoney: 0,
                tailmerchantvehiclediscountmoney: 0,
                tailmerchantvehiclenum: 0,
                tailtimeinterval: 0,
                vehiclediscountmoney: this.form.vehiclediscountmoney,
                vehiclemoney: this.form.vehiclemoney
              }
            } else if (!this.form.headmerchantvehicleid && this.form.tailmerchantvehicleid) {
              //选择跟车
              if (!/^[1-9][0-9]*$/.test(this.form.tailmerchantvehiclenum)){
                this.$message.warning('跟车数量输入不合法');
                return
              } else if (!this.form.tailtimeinterval) {
                this.$message.warning('请选择跟车用车时段');
                return
              } else if (!this.form.tailcolor) {
                this.$message.warning('请选择跟车颜色');
                return
              }
              carData = {
                vehicleid: this.form.vehicleid,
                headcolor: 0,
                headmerchantvehicleid: 0,
                headmerchantvehiclemoney: 0,
                headmerchantvehiclediscountmoney: 0,
                headmerchantvehiclenum: 0,
                headtimeinterval: 0,
                wreathprice: 0,
                tailcolor: this.form.tailcolor,
                tailmerchantvehicleid: this.form.tailmerchantvehicleid,
                tailmerchantvehiclemoney: this.form.tailmerchantvehiclemoney,
                tailmerchantvehiclediscountmoney: this.form.tailmerchantvehiclediscountmoney,
                tailmerchantvehiclenum: this.form.tailmerchantvehiclenum,
                tailtimeinterval: this.form.tailtimeinterval,
                vehiclediscountmoney: this.form.vehiclediscountmoney,
                vehiclemoney: this.form.vehiclemoney
              }
            } else {
              carData = {
                vehicleid: 0,
                headcolor: 0,
                headmerchantvehicleid: 0,
                headmerchantvehiclemoney: 0,
                headmerchantvehiclediscountmoney: 0,
                headmerchantvehiclenum: 0,
                headtimeinterval: 0,
                wreathprice: 0,
                tailcolor: 0,
                tailmerchantvehicleid: 0,
                tailmerchantvehiclemoney: 0,
                tailmerchantvehiclediscountmoney: 0,
                tailmerchantvehiclenum: 0,
                tailtimeinterval: 0,
                vehiclediscountmoney: 0,
                vehiclemoney: 0
              }
            }
          }
          //司仪
          let emceeData = {}
          if (!this.form.emceeid) {
            emceeData = {
              emceeid: 0,
              emceemoney: 0,
              emceediscountmoney: 0,
              emceeremark: '',
              emceeimage: '',
            }
          } else {
            emceeData = {
              emceeid: this.form.emceeid,
              emceemoney: this.form.emceemoney,
              emceediscountmoney: this.form.emceediscountmoney,
              emceeremark: this.form.emceeremark,
              emceeimage: this.form.emceeimage,
            }
          }
          //跟妆
          let makeupData = {}
          if (!this.form.makeupid) {
            makeupData = {
              makeupid: 0,
              makeupmoney: 0,
              makeupdiscountmoney: 0,
              makeupremark: '',
              makeupimage: ''
            }
          } else {
            makeupData = {
              makeupid: this.form.makeupid,
              makeupmoney: this.form.makeupmoney,
              makeupdiscountmoney: this.form.makeupdiscountmoney,
              makeupremark: this.form.makeupremark,
              makeupimage: this.form.makeupimage
            }
          }

          //摄影
          let photographyData = {}
          if (!this.form.photographyid) {
            photographyData = {
              photographyid: 0,
              photographymoney: 0,
              photographynum: 0,
              photographydiscountmoney: 0,
              photographymoneytotal: 0,
              photographydiscountmoneytotal: 0,
              photographyremark: '',
              photographyimage: ''
            }
          } else {
            if (!/^[1-9][0-9]*$/.test(this.form.photographynum)) {
              this.$message.warning('请机位数量输入不合法');
              return
            } else {
              photographyData = {
                photographyid: this.form.photographyid,
                photographymoney: this.form.photographymoney,
                photographynum: this.form.photographynum,
                photographydiscountmoney: this.form.photographydiscountmoney,
                photographymoneytotal: this.form.photographymoneytotal,
                photographydiscountmoneytotal: this.form.photographydiscountmoneytotal,
                photographyremark: this.form.photographyremark,
                photographyimage: this.form.photographyimage
              }
            }
          }
          //折扣
          let manjianid = this.form.manjianid ? this.form.manjianid : 0;
          let discountid = this.form.discountid ? this.form.discountid : 0;

          let param = {
            ...productData,
            ...hotelData,
            ...carData,
            ...emceeData,
            ...makeupData,
            ...photographyData,
            groomname: this.form.groomname,
            groomaccout: this.form.groomaccout,
            bridename: this.form.bridename,
            brideaccount: this.form.brideaccount,
            groomaddress: this.form.groomaddress,
            brideaddress: this.form.brideaddress,
            orderweddingdate: this.form.orderweddingdate,
            email: this.form.email,
            alltotaldiscountmoney: this.form.alltotaldiscountmoney,
            alltotalmoney: this.form.alltotalmoney,
            manjianid: manjianid,
            discountid: discountid,
            computedtotal: parseFloat(this.form.computedtotal),
            merchantid: this.uulogin.id,
          }
          if (parseFloat(this.form.computedtotal) <= 0) {
            this.$message.warning('请您选择需要的订单项目');
          } else {
            http.post("/order/addorder.do", param)
            .then((result) => {
              if (result.status === 1) {
                this.$message.success(result.msg);
                this.$router.push('/merchant/order');
              } else {
                this.$message.warning(result.msg);
              }
            }).catch(error => {
              this.$message.error(error);
            });
          }
        }
      })
    },
    cancelOrder (formName) {
      this.$refs[formName].resetFields();
      this.form = {
        groomname: '',
        groomaccout: '',
        bridename: '',
        brideaccount: '',
        groomaddress: '',
        brideaddress: '',
        orderweddingdate: '',
        email: '',

        merchantdemoid: '',
        demomoney: 0,
        demodiscountmoney: 0,
        demoremark: '',

        hotelareaid: '',
        hotelid: '',
        banquethallid: '',
        menuid: '',
        menumoney: '',
        menudiscountmoney: '',
        actuatablesl: '',
        sparetables: '',
        hotelmoney: 0,
        hoteldiscountmoney: 0,
        hotelremark: '',

        vehicleareaid: '',
        vehicleid: '',

        headcolor: '',
        headmerchantvehicleid: '',
        headmerchantvehiclemoney: '',
        headmerchantvehiclediscountmoney: '',
        headmerchantvehiclenum: '',
        headtimeinterval: 1,
        wreathprice: '',

        tailcolor: '',
        tailcolorjson: [],
        tailmerchantvehicleid: '',
        tailmerchantvehiclemoney: '',
        tailmerchantvehiclediscountmoney: '',
        tailmerchantvehiclenum: '',
        tailtimeinterval: 1,
        vehiclediscountmoney: 0,
        vehiclemoney: 0,
        vehicleremark: '',



        emceeid: '',
        emceemoney: 0,
        emceediscountmoney: 0,
        emceeremark: '',
        emceeimage: '',

        makeupid: '',
        makeupmoney: 0,
        makeupdiscountmoney: 0,
        makeupremark: '',
        makeupimage: '',

        photographyid: '',
        photographymoney: '',
        photographynum: '',
        photographydiscountmoney: '',
        photographymoneytotal: 0,
        photographydiscountmoneytotal: 0,
        photographyremark: '',
        photographyimage: '',

        alltotaldiscountmoney: 0,
        alltotalmoney: 0,
        computedtotal: 0,
        manjianid: '',
        discountid: ''
      }
      this.searchform = {
        headcartypeid: '',
        headcolorid: '',
        tailcartypeid: '',
        tailcolorid: '',
        emceestyletype: '',
        emceecharactertype: '',
        emceeagetype: '',
        emceemoneytype: '',
        makeupstyletype: '',
        makeupcharactertype: '',
        makeupagetype: '',
        makeupmoneytype: '',
        photographystyletype: '',
        photographyagetype: '',
        photographymoneytype: '',
      },
      this.banquethallList = [];
      this.menuList = [];
      this.headcarsList = [];
      this.tailcarsList = [];
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../Home/index.scss';
.container-header {
  font-size: 16px;
}
.input-order {
  width: 300px;
}
.price-total {
  text-align: right;
  font-size: 14px;
  .price-discount {
    margin-right: 15px;
    color: #333;
  }
  .price-money {
    text-decoration: line-through;
    color: red;
    span {
      color: #333;
    }
  }
}
.time {
  font-size: 13px;
  color: #999;
}

.bottom {
  margin-top: 13px;
  line-height: 12px;
}

.button {
  padding: 0;
  float: right;
}

.image {
  width: 100%;
  display: block;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}
.menu-box {
  height: 300px;
  &::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
  }
  li {
    height: 25px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
.back-btn-box {
  width: 100px;
  height: 40px;
  position: absolute;
  left: -5px;
  top: 0;
}
</style>
