<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-30 23:05:41
 * @LastEditTime: 2019-08-19 15:44:07
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-s-data crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-table">
        <ul class="table-ul">
          <li class="table-li"
            v-for="(item, index) in tableData" :key="index"
            :class="{'table-li-active': current === index}"
            @click="handleEdit(index, item)"
          >
            <span class="li-img"></span>
            <span class="li-span">{{item.name}}</span>
            <!-- <span class="nopass-icon" v-show="item.backupstatus !== 2">
              <i class="el-icon-warning"></i>
            </span> -->
          </li>
          <li class="table-li" :class="{'table-li-last': current === -100}" @click="handleAdd">
            <i class="el-icon-plus add-icon"></i>
          </li>
        </ul>
      </div>
    </el-card>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span v-if="current === -100 "><i class="el-icon-s-unfold crumbs-i-right"></i>新增司仪人员</span>
          <span v-else><i class="el-icon-s-unfold crumbs-i-right"></i>司仪人员信息</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-form">
        <el-form ref="form" :model="form" label-width="120px" :rules="rules">
          <el-row>
            <el-col :span="8">
              <el-form-item label="真实姓名" prop="name">
                <el-input v-model="form.name" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="联系方式" prop="phone">
                <el-input v-model="form.phone" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="年龄阶段" prop="age">
                <el-select v-model="form.age"  placeholder="请选择" style="width:100%">
                  <el-option
                    v-for="(item, index) in ageList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="市场价格" prop="money">
                <el-input v-model="form.money" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="优惠价格" prop="discountmoney">
                <el-input v-model="form.discountmoney" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="司仪风格" prop="style">
                <el-select v-model="form.style"  placeholder="请选择" style="width:100%">
                  <el-option
                    v-for="(item, index) in styleList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="司仪性别" prop="character">
                <el-select v-model="form.character"  placeholder="请选择" style="width:100%">
                  <el-option
                    v-for="(item, index) in characterList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="14">
              <el-form-item label="是否有专业话筒" prop="microphone" label-width="130px" required>
                  <el-radio v-model="form.microphone" :label="1">有</el-radio>
                  <el-radio v-model="form.microphone" :label="0">没有</el-radio>
                </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="从业介绍" prop="introduce">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.introduce"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="个人照片" required>
                <UpImage :path="form.photo" @upImage="photoImage"></UpImage>
                <div class="images-warn">
                  <p>图片建议尺寸：300px*300px</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="作品图集" required>
                <UpImages :fileList="form.pcpath" @upImages="gotPcpath"></UpImages>
                <div class="images-warn">
                  <p>图片建议张数：6张；图片建议尺寸：560px*320px</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row v-if="current === -100">
            <el-col :span="24" style="text-align: center">
              <el-button type="primary" @click="saveAdd('form')">确认新增</el-button>
              <el-button type="danger" @click="resetForm">重置</el-button>
            </el-col>
          </el-row>
          <el-row v-else>
            <el-col :span="24" style="text-align: center">
              <el-button type="info" v-show="!form.updateicon" disabled>正在审核中...</el-button>
              <el-button type="primary" v-show="form.updateicon" @click="confirmEidt">确认修改</el-button>
              <el-button type="danger" @click="handleDel">删除数据</el-button>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <!-- 编辑提示框 -->
    <el-dialog title="提示" :visible.sync="editVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">是否确定要进行编辑修改？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('form')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">删除不可恢复，是否确定删除？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import UpImage from '@/components/common/Upload/upSingleImage.vue'
import UpImages from '@/components/common/Upload/upListImage.vue'
import http from '@/axios/http'
export default {
  data () {
    let regIdk = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
    let validateIdk = (rule, value, callback) => {
      if (!regIdk.test(value)) {
        callback(new Error('身份证号不合法'));
      } else {
        callback();
      }
    };
    let regPhone = /^1\d{10}$/;
    let validatePhone = (rule, value, callback) => {
      if (!regPhone.test(value)) {
        callback(new Error('手机号码不合法'));
      } else {
        callback();
      }
    };
    let validateNumber = (rule, value, callback) => {
      if (!value) {
        callback(new Error('不能为空'));
      } else {
        if (!/^[1-9][0-9]*$/.test(value)) {
          callback(new Error('输入不合法'));
        } else {
          callback();
        }
      }
    };
    return {
      tableData: [],
      current: -100,
      total: 0,
      page: 1,
      limit: 10,
      rowData: {},
      delVisible: false,
      editVisible: false,
      paramform: {
        name: '',
        phone: '',
        discountmoney: '',
        money: '',
        age: '',
        character: '',
        style: '',
        moneytype: '',
        microphone: 1,
        pcpath: [],
        pcpathList: [],
        introduce: '',
        photo: '',
        province: '',
        city: '',
        area: ''
      },
      form: {
        name: '',
        phone: '',
        discountmoney: '',
        money: '',
        age: '',
        character: '',
        style: '',
        moneytype: '',
        microphone: 1,
        pcpath: [],
        pcpathList: [],
        introduce: '',
        photo: '',
        province: '',
        city: '',
        area: ''
      },
      rules: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        phone: [{ validator: validatePhone, required: true,  trigger: "blur" }],
        age: [{ required: true, message: "不能为空", trigger: "change" }],
        character: [{ required: true, message: "不能为空", trigger: "change" }],
        style: [{ required: true, message: "不能为空", trigger: "change" }],
        introduce: [{ required: true, message: "不能为空", trigger: "blur" }],
        discountmoney: [{ validator: validateNumber, required: true,  trigger: "blur" }],
        money: [{ validator: validateNumber, required: true,  trigger: "blur" }],
      },
      ageList: [],
      styleList:[],
      characterList: [],
      moneyList: []
    }
  },
  watch: {

  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  created () {
    this.form.province = this.paramform.province = this.uulogin.province;
    this.form.city = this.paramform.city = this.uulogin.city;
    this.form.area = this.paramform.area = this.uulogin.area;
    this.submitData();
    this.ageData();
    this.styleData();
    this.characterData();
  },
  mounted () {

  },
  beforeDestroy () {

  },
  components: {
    UpImage,
    UpImages
  },
  methods: {
    submitData() {
      http.post("/emcee/listemcee.do", {
        merchantid: this.uulogin.id,
      }).then((result) => {
        if (result.status === 1) {
          this.tableData = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    resetForm () {
      this.current = -100;
      this.$refs.form.resetFields();
      this.form = {
        ...this.paramform,
        photo: '',
        pcpath: [],
        pcpathList: []
      }
    },
    handleAdd () {
      this.resetForm()
    },
    saveAdd(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (!this.form.photo) {
            this.$message.warning('个人照片不能为空');
            return
          }
          if (!this.form.pcpath.length) {
            this.$message.warning('作品不能为空');
            return
          }
          if (parseInt(this.form.money) < parseInt(this.form.discountmoney)) {
            this.$message.warning('市场价格不能小于优惠价格');
            return
          }
          let param = {
            ...this.form,
            merchantid: this.uulogin.id,
            pcpathjson: JSON.stringify(this.form.pcpath)
          }
         http.post("/emcee/addemcee.do", param)
         .then((result) => {
              if (result.status === 1) {
                this.$message.success(result.msg);
                setTimeout(() => {
                  this.submitData();
                  this.resetForm();
                }, 20)
              } else {
                this.$message.warning(result.msg);
              }
            })
            .catch(error => {
              this.$message.error(error);
            });
        }
      });
    },
    handleEdit(index, row) {
      this.current = index;
      this.$refs.form.resetFields();
      http.post("/emcee/emceeinfo.do", {
        id: row.id
      }).then((result) => {
        if (result.status === 1) {
          let data = result.data;
          this.form = {
            ...data,
            pcpathList: []
          };
          this.rowData = data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    editFileList (data, str) {
      let arr = [];
      if (data.length > 0) {
        arr = data.map((item, index) => {
          let value = {}
          value.name = 'upload.png';
          value.url = item;
          return value
        })
      }
      this.form[str] = arr;
    },
    confirmEidt () {
      this.editVisible = true;
    },
    saveEdit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (!this.form.photo) {
            this.$message.warning('个人照片不能为空');
            return
          }
          if (!this.form.pcpath.length) {
            this.$message.warning('作品不能为空');
            return
          }
          if (parseInt(this.form.money) < parseInt(this.form.discountmoney)) {
            this.$message.warning('市场价格不能小于优惠价格');
            return
          }
          let param = {
            id: this.form.id,
            name: this.form.name,
            phone: this.form.phone,
            money: this.form.money,
            discountmoney: this.form.discountmoney,
            age: this.form.age,
            character: this.form.character,
            style: this.form.style,
            moneytype: this.form.moneytype,
            microphone: this.form.microphone,
            introduce: this.form.introduce,
            photo: this.form.photo,
            province: this.form.province,
            city: this.form.city,
            area: this.form.area,
            pcpathjson: JSON.stringify(this.form.pcpath)
          }
         http.post("/emcee/updateemcee.do", param)
         .then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg);
              setTimeout(() => {
                this.submitData();
                this.resetForm();
              }, 20);
              this.editVisible = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    handleDel() {
      this.delVisible = true;
    },
    deleteRow() {
      http.post("/emcee/delemcee.do", {
        id: this.rowData.id
      }).then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          setTimeout(() => {
            this.submitData();
            this.resetForm();
          }, 20);
          this.delVisible = false;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    photoImage (value) {
      this.form.photo = value;
    },
    gotPcpath (value) {
      this.form.pcpath = value;
    },
    ageData () {
      //年龄下拉
      http.post("/type/agetype.do", {})
      .then((result) => {
        if (result.status === 1) {
          this.ageList = result.data
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    styleData () {
      //风格下拉
      http.post("/style/droplist.do", {
        type: 1
      })
      .then((result) => {
        if (result.status === 1) {
          this.styleList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    characterData () {
      //性格下拉
      http.post("/style/droplist.do", {
        type: 2
      })
      .then((result) => {
        if (result.status === 1) {
          this.characterList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    moneyData () {
      //价格区间
      http.post("/money/droplist.do", {
        type: 2
      })
      .then((result) => {
        if (result.status === 1) {
          this.moneyList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../Home/index.scss'
</style>
