<template>
  <div class="page">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span><i class="el-icon-s-data crumbs-i-right"></i>数据列表</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-table" style="min-height: 440px">
        <el-table :data="tableData" border class="table">
          <el-table-column prop="id" label="序号" width="60"></el-table-column>
          <el-table-column prop="ordernum" label="订单编号"></el-table-column>
          <el-table-column prop="typename" label="作品类型"></el-table-column>
          <el-table-column prop="productmoney" label="方案金额"></el-table-column>
          <el-table-column prop="profitmoney" label="实际收益"></el-table-column>
          <el-table-column prop="status" label="状态" width="90">
            <template slot-scope="scope">
              <span class="color-suc"  v-show="scope.row.status === 1">完成</span>
              <span class="color-default"  v-show="scope.row.status === 0">未完成</span>
            </template>
          </el-table-column>
          <el-table-column prop="createtime" label="创建时间" width="150"></el-table-column>
          <el-table-column label="操作" width="150" align="center">
            <template slot-scope="scope">
              <el-button
                type="text"
                icon="el-icon-search"
                @click="handleCat(scope.$index, scope.row)"
              >申请提款</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination
            background
            @size-change="changeLimit"
            @current-change="handleCurrentChange"
            :current-page.sync="page"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="limit"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
          </el-pagination>
        </div>
      </div>
    </el-card>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  data () {
    return {
      searchform: {},
      searchresult: {},
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
    }
  },
  watch: {
    
  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  created () {
    this.submitData();
  },
  mounted () {
   
  },
  beforeDestroy () {
    
  },
  methods: {
    handleSearch() {
      //查询
      this.page = 1;
      this.searchresult = this.searchform;
      this.submitData();
    },
    resetSearch (formName) {
      //重置查询
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.submitData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    //改变页数
    changeLimit (val) {
      this.page = 1;
      this.limit = val;
      this.submitData();
    },
    submitData() {
      http.post("/designplatform/designprofitsum.do", {
        designid: this.uulogin.id,
        page: this.page,
        limit: this.limit
      }).then((result) => {
        if (result.status === 1) {
          this.tableData = result.data.result;
          this.total = result.data.total;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    handleCat (index, row) {}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../Home/index.scss';
</style>
