<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-30 23:05:41
 * @LastEditTime: 2019-08-19 15:36:38
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-s-data crumbs-i-right"></i>作品列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-table">
        <ul class="table-ul">
          <li
            class="table-li"
            v-for="(item, index) in tableData"
            :key="index"
            :class="{'table-li-active': current === index}"
            @click="handleEdit(index, item)"
          >
            <span class="li-span">{{item.name}}</span>
          </li>
          <li class="table-li" @click="handleAdd" :class="{'table-li-last': current === -100}">
            <i class="el-icon-plus add-icon"></i>
          </li>
        </ul>
      </div>
    </el-card>
    <el-form ref="form" :model="form" label-width="120px" :rules="rules">
      <div class="crumbs">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item>
            <span>
              <i class="el-icon-s-unfold crumbs-i-right"></i>作品基本信息
            </span>
          </el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-card shadow="always" class="page-title">
        <div class="container-form">
          <el-row>
            <el-col :span="24">
              <el-form-item label="作品名称" prop="name">
                <el-input
                  type="textarea"
                  :rows="2"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.name"
                  maxlength="10"
                  show-word-limit
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8" v-show="form.id">
              <el-form-item label="作品编号" prop="id">
                <el-input v-model="form.id" placeholder="请输入" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="作品特色" prop="characteristic">
                <el-input v-model="form.characteristic" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="作品权限" prop="type">
                <el-select
                  v-model="form.type"
                  clearable
                  filterable
                  placeholder="请选择"
                  style="width: 100%"
                >
                  <el-option
                    v-for="(item, index) in labelList"
                    :key="index"
                    :label="item.name"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="概述图片" required>
                <UpImages :fileList="form.summarypc" @upImages="gotSummarypc" v-show="form.summarypc"></UpImages>
                <div class="images-warn">
                  <p>图片建议比例：2：1</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="6">
              <el-form-item label="搭建视频" required>
                <UpVideo
                  :path="form.modelmv"
                  @upVideo="modelVideo"
                  @previewVideo="previewVideo"
                ></UpVideo>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="作品视频" required>
                <UpVideo
                  :path="form.productmv"
                  @upVideo="productVideo"
                  @previewVideo="previewVideo"
                ></UpVideo>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="设计师说" required>
                <UpVideo
                  :path="form.designmv"
                  @upVideo="designVideo"
                  @previewVideo="previewVideo"
                ></UpVideo>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="作品描述" prop="describe">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.describe"
                  maxlength="200"
                  show-word-limit
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <div class="crumbs">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item>
            <span>
              <i class="el-icon-s-unfold crumbs-i-right"></i>作品主舞台信息
            </span>
          </el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-card shadow="always" class="page-title">
        <div class="container-form">
          <el-row>
            <el-col :span="24">
              <el-form-item label="主舞台图片" required>
                <UpImages :fileList="form.stagepc" @upImages="gotStagepc"  v-show="form.stagepc"></UpImages>
                <div class="images-warn">
                  <p>图片建议比例：2:1</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="主舞台参数" prop="stage">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入..多个参数时请用|隔开"
                  v-model="form.stage"
                  maxlength="200"
                  show-word-limit
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <div class="crumbs">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item>
            <span>
              <i class="el-icon-s-unfold crumbs-i-right"></i>作品仪式通道
            </span>
          </el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-card shadow="always" class="page-title">
        <div class="container-form">
          <el-row>
            <el-col :span="24">
              <el-form-item label="仪式通道图片" required>
                <UpImages :fileList="form.ceremonypc" @upImages="gotCeremonypc" v-show="form.ceremonypc"></UpImages>
                <div class="images-warn">
                  <p>图片建议比例：2:1</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="仪式通道参数" prop="ceremony">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入..多个参数时请用|隔开"
                  v-model="form.ceremony"
                  maxlength="200"
                  show-word-limit
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <div class="crumbs">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item>
            <span>
              <i class="el-icon-s-unfold crumbs-i-right"></i>作品签到台
            </span>
          </el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-card shadow="always" class="page-title">
        <div class="container-form">
          <el-row>
            <el-col :span="24">
              <el-form-item label="签到台图片" required>
                <UpImages :fileList="form.signpc" @upImages="gotSignpc" v-show="form.signpc"></UpImages>
                <div class="images-warn">
                  <p>图片建议比例：2:1</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="签到台参数" prop="sign">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入..多个参数时请用|隔开"
                  v-model="form.sign"
                  maxlength="200"
                  show-word-limit
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <div class="crumbs">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item>
            <span>
              <i class="el-icon-s-unfold crumbs-i-right"></i>作品迎宾台信息
            </span>
          </el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-card shadow="always" class="page-title">
        <div class="container-form">
          <el-row>
            <el-col :span="24">
              <el-form-item label="迎宾台图片" required>
                <UpImages :fileList="form.guestspc" @upImages="gotGuestspc" v-show="form.guestspc"></UpImages>
                <div class="images-warn">
                  <p>图片建议比例：2:1</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="迎宾台参数" prop="guests">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入..多个参数时请用|隔开"
                  v-model="form.guests"
                  maxlength="200"
                  show-word-limit
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <div class="crumbs">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item>
            <span>
              <i class="el-icon-s-unfold crumbs-i-right"></i>作品舞台灯信息
            </span>
          </el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-card shadow="always" class="page-title">
        <div class="container-form">
          <el-row>
            <el-col :span="24">
              <el-form-item label="舞台灯图片" required>
                <UpImages :fileList="form.lamppc" @upImages="gotLamppc" v-show="form.lamppc"></UpImages>
                <div class="images-warn">
                  <p>图片建议比例：2:1</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="舞台灯参数" prop="lamp">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入..多个参数时请用|隔开"
                  v-model="form.lamp"
                  maxlength="200"
                  show-word-limit
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <div class="crumbs">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item>
            <span>
              <i class="el-icon-s-unfold crumbs-i-right"></i>作品其他特色信息
            </span>
          </el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-card shadow="always" class="page-title">
        <div class="container-form">
          <el-row>
            <el-col :span="24">
              <el-form-item label="其他特色图片">
                <UpImages :fileList="form.brightspotpc" @upImages="gotBrightspotpc"  v-show="form.brightspotpc"></UpImages>
                <div class="images-warn">
                  <p>图片建议比例：2:1</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="其他特色参数" prop="brightspot">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入..多个参数时请用|隔开"
                  v-model="form.brightspot"
                  maxlength="200"
                  show-word-limit
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <el-row v-if="current === -100">
        <el-col :span="24" style="text-align: center">
          <el-button type="primary" @click="saveAdd('form')">确认新增</el-button>
          <el-button type="danger" @click="resetForm">重置</el-button>
        </el-col>
      </el-row>
      <el-row v-else>
        <el-col :span="24" style="text-align: center">
          <el-button type="primary" @click="confirmEidt">确认修改</el-button>
          <el-button type="danger" @click="handleDel">删除数据</el-button>
        </el-col>
      </el-row>
    </el-form>
    <!-- 编辑提示框 -->
    <el-dialog title="提示" :visible.sync="editVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">是否确定要进行编辑修改？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('form')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">删除不可恢复，是否确定删除？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 播放视频 -->
    <el-dialog :visible.sync="videoVisible" style="overflow:hidden" width="660px">
      <div v-show="!checkvideo">您的浏览器不支持video播放</div>
      <video
        :src="mvpath"
        class="preview-video"
        controls
        controlslist="nodownload"
        loop
        id="myvideo"
        style="width: 600px"
      ></video>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import http from "@/axios/http";
import UpVideo from "@/components/common/Upload/upSingleVideo.vue";
import UpImages from "@/components/common/Upload/upListImage.vue";
export default {
  data() {
    let validateNumber = (rule, value, callback) => {
      if (!value) {
        callback(new Error("不能为空"));
      } else {
        if (!/^[1-9][0-9]*$/.test(value)) {
          callback(new Error("输入不合法"));
        } else {
          callback();
        }
      }
    };
    return {
      tableData: [],
      current: -100,
      rowData: {},
      delVisible: false,
      editVisible: false,
      form: {
        id: 0,
        name: "",
        type: "",
        describe: "",
        characteristic: "",
        modelmv: "",
        productmv: "",
        designmv: "",
        summarypc: [], 
        stage: "",
        stagepc: [],
        ceremony: "",
        ceremonypc: [],
        sign: "",
        signpc: [],
        guests: "",
        guestspc: [],
        lamp: "",
        lamppc: [],
        brightspot: "",
        brightspotpc: []
      },
      rules: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        type: [{ required: true, message: "不能为空", trigger: "change" }],
        characteristic: [
          { required: true, message: "不能为空", trigger: "blur" }
        ],
        describe: [
          { required: true, message: "不能为空", trigger: "blur" }
        ],
        stage: [{ required: true, message: "不能为空", trigger: "blur" }],
        ceremony: [{ required: true, message: "不能为空", trigger: "blur" }],
        sign: [{ required: true, message: "不能为空", trigger: "blur" }],
        guests: [{ required: true, message: "不能为空", trigger: "blur" }],
        lamp: [{ required: true, message: "不能为空", trigger: "blur" }]
      },
      mvpath: "",
      checkvideo: true,
      videoVisible: false,
      labelList: [{
        id: 1,
        name: '分销授权'
      },{
        id: 2,
        name: '独家授权'
      }]
    };
  },
  watch: {},
  computed: {
    ...mapState(["uulogin"])
  },
  created() {
    this.submitData();
  },
  mounted() {
    this.$nextTick(() => {
      //判断是否支持video
      if (!!document.createElement("video").canPlayType) {
        this.checkvideo = true;
      } else {
        this.checkvideo = false;
      }
    });
  },
  beforeDestroy() {},
  components: {
    UpVideo,
    UpImages
  },
  methods: {
    submitData() {
      http
        .post("/designplatform/productitemlist.do", {
          designid: this.uulogin.id
        })
        .then(result => {
          if (result.status === 1) {
            this.tableData = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch(error => {
          this.$message.error(error);
        });
    },
    resetForm() {
      this.current = -100;
      this.$refs.form.resetFields();
      this.form = {
        id: 0,
        name: "",
        type: "",
        describe: "",
        characteristic: "",
        modelmv: "",
        productmv: "",
        designmv: "",
        summarypc: [], 
        stage: "",
        stagepc: [],
        ceremony: "",
        ceremonypc: [],
        sign: "",
        signpc: [],
        guests: "",
        guestspc: [],
        lamp: "",
        lamppc: [],
        brightspot: "",
        brightspotpc: []
      };
    },
    checkForm() {
      if (!this.form.modelmv) {
        this.$message.warning("视频1不能为空");
        return false;
      }
      if (!this.form.productmv) {
        this.$message.warning("视频2不能为空");
        return false;
      }
      if (!this.form.designmv) {
        this.$message.warning("视频3不能为空");
        return false;
      }
      if (!this.form.stagepc.length) {
        this.$message.warning("主舞台图片不能为空");
        return false;
      }
      if (!this.form.summarypc.length) {
        this.$message.warning("概述图片不能为空");
        return false;
      }
      if (!this.form.signpc.length) {
        this.$message.warning("签到图片不能为空");
        return false;
      }
      if (!this.form.guestspc.length) {
        this.$message.warning("迎宾图片不能为空");
        return false;
      }
      if (!this.form.lamppc.length) {
        this.$message.warning("灯光图片不能为空");
        return false;
      }
      if (!this.form.ceremonypc.length) {
        this.$message.warning("仪式通道图片不能为空");
        return false;
      }
      return true;
    },
    handleAdd() {
      this.resetForm();
    },
    saveAdd(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.checkForm();
          if (!this.checkForm()) {
            return;
          }
     
          let param = {
            designid: this.uulogin.id,
            name: this.form.name,
            characteristic: this.form.characteristic,
            type: this.form.type,
            describe: this.form.describe,
            stage: this.form.stage,
            ceremony: this.form.ceremony,
            sign: this.form.sign,
            guests: this.form.guests,
            lamp: this.form.lamp,
            brightspot: this.form.brightspot,
            modelmv: this.form.modelmv,
            productmv: this.form.productmv,
            designmv: this.form.designmv,
            stagepcjson: JSON.stringify(this.form.stagepc),
            ceremonypcjson: JSON.stringify(this.form.ceremonypc),
            summarypcjson: JSON.stringify(this.form.summarypc),
            signpcjson: JSON.stringify(this.form.signpc),
            guestspcjson: JSON.stringify(this.form.guestspc),
            brightspotpcjson: JSON.stringify(this.form.brightspotpc),
            lamppcjson: JSON.stringify(this.form.lamppc)
          };
          http
            .post("/designplatform/addproduct.do", param)
            .then(result => {
              if (result.status === 1) {
                this.$message.success(result.msg);
                setTimeout(() => {
                  this.submitData();
                  this.resetForm();
                }, 20);
              } else {
                this.$message.warning(result.msg);
              }
            })
            .catch(error => {
              this.$message.error(error);
            });
        }
      });
    },
    handleEdit(index, row) {
      this.current = index;
      this.$refs.form.resetFields();
      http
        .post("/designplatform/productiteminfo.do", {
          id: row.id
        })
        .then(result => {
          if (result.status === 1) {
            let data = result.data;
            this.form = data;
            this.rowData = data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch(error => {
          this.$message.error(error);
        });
    },
    confirmEidt() {
      this.editVisible = true;
    },
    saveEdit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (!this.checkForm()) {
            return;
          }
          let param = {
            designid: this.uulogin.id,
            id: this.form.id,
            name: this.form.name,
            characteristic: this.form.characteristic,
            type: this.form.type,
            describe: this.form.describe,
            stage: this.form.stage,
            ceremony: this.form.ceremony,
            sign: this.form.sign,
            guests: this.form.guests,
            lamp: this.form.lamp,
            brightspot: this.form.brightspot,
            modelmv: this.form.modelmv,
            productmv: this.form.productmv,
            designmv: this.form.designmv,
            stagepcjson: JSON.stringify(this.form.stagepc),
            ceremonypcjson: JSON.stringify(this.form.ceremonypc),
            summarypcjson: JSON.stringify(this.form.summarypc),
            signpcjson: JSON.stringify(this.form.signpc),
            guestspcjson: JSON.stringify(this.form.guestspc),
            brightspotpcjson: JSON.stringify(this.form.brightspotpc),
            lamppcjson: JSON.stringify(this.form.lamppc)
          };
          http
            .post("/designplatform/updateproductitem.do", param)
            .then(result => {
              if (result.status === 1) {
                this.$message.success(result.msg);
                setTimeout(() => {
                  this.submitData();
                  this.resetForm();
                }, 20);
                this.editVisible = false;
              } else {
                this.$message.warning(result.msg);
              }
            })
            .catch(error => {
              this.$message.error(error);
            });
        }
      });
    },
    handleDel() {
      this.delVisible = true;
    },
    deleteRow() {
      http
        .post("/designplatform/delproductitem.do", {
          id: this.rowData.id
        })
        .then(result => {
          if (result.status === 1) {
            this.$message.success(result.msg);
            setTimeout(() => {
              this.submitData();
              this.resetForm();
            }, 20);
            this.delVisible = false;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch(error => {
          this.$message.error(error);
        });
    },
    modelVideo(value) {
      this.form.modelmv = value;
    },
    previewVideo(value) {
      this.videoVisible = true;
      this.mvpath = value;
      this.$nextTick(() => {
        document.getElementById("myvideo").load();
        document.getElementById("myvideo").play();
      });
    },
    productVideo(value) {
      this.form.productmv = value;
    },
    designVideo(value) {
      this.form.designmv = value;
    },
    gotSummarypc(value) {
      this.form.summarypc = value;
    },
    gotStagepc(value) {
      this.form.stagepc = value;
    },
    gotCeremonypc(value) {
      this.form.ceremonypc = value;
    },
    gotSignpc(value) {
      this.form.signpc = value;
    },
    gotGuestspc(value) {
      this.form.guestspc = value;
    },
    gotBrightspotpc(value) {
      this.form.brightspotpc = value;
    },
    gotLamppc(value) {
      this.form.lamppc = value;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import "../Home/index.scss";
</style>
