<template>
  <div class="map-wrapper">
    <el-card class="box-card map-box">
      <div class="map-title">
        <div class="title-name">
          地图经纬度选取
        </div>
        <div class="title-btn">
          <el-button size="medium" type="success" @click="clickSure" v-show="isEdit">确 定</el-button>
          <el-button size="medium" type="danger" @click="clickCancle">关 闭</el-button>
        </div>
      </div>
      <div class="map-search">
        当前店铺地址位置：
      </div>
      <div class="map-search">
        <el-select
          v-model="address"
          filterable
          remote
          reserve-keyword
          placeholder="请输入关键词"
          :remote-method="remoteMethod"
          :loading="loading">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </div>
      <div id="allmap"></div>
    </el-card> 
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
import axios from 'axios'
export default {
  props: {
    longitude: {
      default: 116.331398
    },
    latitude: {
      default: 39.915
    },
    isEdit: {
      default: false
    }
  },
  data () {
    return {
      lng: '',
      lat: '',
      map: '',
      address: '',
      options: [],
      value: [],
      list: [],
      loading: false,
      states: []
    }
  },
  watch: {
    longitude: {
      handler (val, old) {
        console.log(val)
        const point = new BMap.Point(val, this.latitude);
        this.map.centerAndZoom(point, 14);
        this.map.clearOverlays();
        const marker = new BMap.Marker(point);  // 创建标注
        this.map.addOverlay(marker);       // 将标注添加到地图中
        this.map.panTo(point);
      }
    },
    latitude: {
      handler (val, old) {
        console.log(val)
        const point = new BMap.Point(this.longitude, val);
        this.map.centerAndZoom(point, 14);
        this.map.clearOverlays();
        const marker = new BMap.Marker(point);  // 创建标注
        this.map.addOverlay(marker);       // 将标注添加到地图中
        this.map.panTo(point);
      }
    }
  },
  computed: {
    
  },
  mounted () {
    this.$nextTick(() => {
      let map = new BMap.Map("allmap");
      this.map = map;
      const point = new BMap.Point(116.331398, 39.897445);
      map.centerAndZoom(point, 14);
      map.clearOverlays();
      const marker = new BMap.Marker(point);  // 创建标注
      map.addOverlay(marker);       // 将标注添加到地图中
      map.panTo(point);
      map.enableScrollWheelZoom();
      map.enableInertialDragging();
      map.enableContinuousZoom();
      const size = new BMap.Size(15, 15);
      let cityListControl = new BMap.CityListControl({
        anchor: BMAP_ANCHOR_TOP_LEFT,
        offset: size
      })
      map.addControl(cityListControl);
   
      map.addEventListener("click", (e) => {
        console.log((e.point.lng + ", " + e.point.lat))
        this.lng = e.point.lng;
        this.lat = e.point.lat;
      });
    })
  },
  beforeDestroy () {
    
  },
  methods: {
    remoteMethod(query) {
      if (query !== '') {
        this.loading = true;
        //http://api.map.baidu.com/place/v2/search?query=ATM机&tag=银行&region=北京&output=json&ak=您的ak
        axios.get('/api/place/v2/suggestion?query='+query+'&tag=""&region=全国&city_limit=true&output=json&ak=RT0fOnwWykVORC6WIktHEgRnsqv3TtVP')
          .then((result) => {
            this.loading = false;
            console.log(result)
          })
      } else {
        this.options = [];
      }
    },
   clickSure () {
     this.$emit('mapInfo', {
      lng: this.lng,
      lat: this.lat
     })
   },
   clickCancle () {
     this.$emit('closeMap')
   }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.map-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -9999999;
  .map-box {
    width: 620px;
    height: 590px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -310px;
    margin-top: -285px;
    .map-title {
      height: 50px;
      display: flex;
      .title-name {
        height: 35px;
        line-height: 35px;
        flex: 1;
        font-size: 16px;
        color: #909399;
        font-weight: 600;
      }
      .title-btn {
        width: 250px;
        text-align: right;
      }
    }
    .map-search {
      height: 50px;
    }
    #allmap {
      width: 580px;
      height: 400px;
      overflow: hidden;
      margin: 0;
      font-family: "微软雅黑";
    }
  }
  
}
</style>
